main {
	height: 30em;
}

details summary {
	text-decoration: none;
}

.unit-details {
	margin-top: 0.5em;
	margin-left: 0.3em;
	padding-left: 0.7em;
	border-left: 1px solid var(--secondary-text);
	margin-bottom: 0.5em;
}

div + .subunit-list {
	margin-top: 0.5em;
}

.unit-details p {
	margin-top: 0;
	margin-bottom: 0.5em;
}