#event-description-input {
	width: 100%;
}

.approval-block h3 + p {
	margin-top: -1em;
}

.approval-block p small {
	font-style: italic;
}

#event-dates > div {
	display: flex;
	gap: 0.5em;

	input[type=time] {
		flex: 1;
	}
}

.invited-unit hr {
	margin: 1em 0;
}