<% layout("/layouts/dialog", {
	scripts: ["event/approve", "signature"],
	styles: ["signature"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1>Zatwierdź akcję</h1>
<main>
	<section>
		<% const md = $.targetEvent.missingDetails %>
		<% if(md.length) { %>
			<p class="warning">Nie można zatwierdzić akcji z brakującymi szczegółami</p>
		<% } else { %>
			<p>Potwierdzam że zapoznałem się z planem i analizą ryzyka akcji i że dostałem wszystkie dokumenty niezbędne do ocenienia ryzyka. Zatwierdzam tą akcję wraz z ustaloną komendą i wyrażam zgodę aby się odbyła.</p>
		<% } %>
		<%~ include("/templates/signature", {
			user: $.user
		}) %>
	</section>
</main>
<hr>
<div class="button-row">
	<button>
		<%~ icon`arrow_back` %>
		Anuluj
	</button>
	<% if(!md.length) { %>
		<button api="event/[eventID]/approval/approve">
			<%~ icon`check` %>
			<span>Zatwierdź</span>
		</button>
	<% } %>
</div>