<% layout("/layouts/dialog", {
	scripts: ["event/approve", "signature"],
	styles: ["signature"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1>Zatwierdź akcję</h1>
<main>
	<% const md = $.targetEvent.missingDetails %>
	<% if(md.length) { %>
		<p class="warning">Nie można zatwierdzić akcji z brakującymi szczegółami</p>
	<% } else { %>
		<article>
			<p>Potwierdzam że zapoznałem się z planem i analizą ryzyka akcji i że dostałem wszystkie dokumenty niezbędne do ocenienia ryzyka. Zatwierdzam tą akcję wraz z ustaloną komendą, i wyrażam zgodę aby się odbył.</p>
		</article>
	<% } %>
	<%~ include("/templates/signature", {
		user: $.user
	}) %>
</main>
<hr>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<% if(!md.length) { %>
		<button api="event/[eventID]/approval/approve">
			<i>check</i>
			<span>Zatwierdź</span>
		</button>
	<% } %>
</div>