<% layout("/layouts/dialog", {
	scripts: ["event/chooseApprovers"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1>Wybierz zatwierdzających</h1>
<main>
	<% if(!$.approverOptions.length) { %>
		<p>Brak dostępnych zatwierdzających</p>
	<% } %>
	<form id="approver-list">
		<% for(const approverRole of $.approverOptions) { %>
			<% const approverSelected = $.targetEvent.approvers.id(approverRole.id) %>
			<input
				type="checkbox"
				id="approver-<%= approverRole.id %>"
				name="approvers"
				value="<%= approverRole.id %>"
				<% if(approverSelected) { %>
					checked
				<% } else if($.targetEvent.approvers.some(a => a.role.user.id == approverRole.user.id)) { %>
					disabled
				<% } %>
			>
			<label for="approver-<%= approverRole.id %>">
				<h3><%= approverRole.user.displayName %></h3>
				<p><%= Text.capitalise(approverRole.displayName) %>, <%= approverRole.unit.displayName %></p>
			</label>
		<% } %>
	</form>
</main>
<hr>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<% if($.approverOptions.length) { %>
		<button api="event/[eventID]/chooseApprovers">
			<i>check</i>
			Potwierdź
		</button>
	<% } %>
</div>