<% layout("/layouts/dialog", {
	scripts: ["event/inviteUnits"],
	styles: ["event/inviteUnits"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1 id="event-title">Zapraszanie jednostek na <%= $.targetEvent.displayName %></h1>

<main>
	<% function displayUnit(node) { %>
		<details<%= node.unit.config.eventRules.invite ? "" : " open" %>>
			<summary>
				<h3><%= node.unit.displayName %></h3>
			</summary>
			<div class="unit-details">
				<% if(node.unit.config.eventRules.invite) { %>
					<% const unitInvite = $.targetEvent.invitedUnits.find(i => i.unit == node.unit.id) %>
					<p>
						<% if(unitInvite?.state == "accepted") { %>
							<i>check</i> Zaakceptowano
						<% } else if(unitInvite?.state == "declined") { %>
							<i>close</i> Odrzucono
						<% } else if(unitInvite?.state == "pending") { %>
							<i class="spin">progress_activity</i> Oczekiwana odpowiedź...
						<% } %>
					</p>
					<div class="button-row">
						<% if(unitInvite?.state == "pending" || unitInvite?.state == "accepted") { %>
							<button class="dangerous" api="event/[eventID]/unit/<%= node.unit.id %>/uninvite">
								<i>undo</i>
								<span>Cofnij zaproszenie</span>
							</button>
						<% } else { %>
							<button api="event/[eventID]/unit/<%= node.unit.id %>/invite">
								<i>group_add</i>
								<span>Zaproś <% if(unitInvite?.state == "declined") { %>ponownie<% } else { %><%= node.unit.displayName %><% } %></span>
							</button>
						<% } %>
					</div>
				<% } %>
				<% if(node.subUnits.length) { %>
					<div class="subunit-list">
						<% for(const subUnit of node.subUnits) { %>
							<% displayUnit(subUnit) %>
						<% } %>
					</div>
				<% } %>
			</div>
		</details>
	<% } %>

	<section class="fill-height">
		<% if(!$.tree.unit) { %>
			<p>Brak jednostek do zaproszenia</p>
		<% } else { %>
			<% displayUnit($.tree) %> 
		<% } %>
	</section>
</main>
<hr>
<div class="button-row">
	<button class="confirm">
		<i>check</i>
		Gotowe
	</button>
</div>