<% layout("/layouts/dialog", {
	scripts: ["event/inviteUnits"],
	styles: ["event/inviteUnits"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1 id="event-title">Zapraszanie jednostek na <%= $.targetEvent.displayName %></h1>

<main>
	<% function displayUnit(unit, inviteOverride=undefined) { %>
		<% if(!unit) return %>
		<% if(!unit.config.eventRules.invite && !unit.subUnits.length) return %>
		<% const unitInvite = $.targetEvent.invitedUnits.find(i => i.unit == unit.id) %>
		<details>
			<summary>
				<h3><%= unit.displayName %></h3>
			</summary>
			<div class="unit-details">
				<% if(unit.config.eventRules.invite) { %>
					<p>
						<% if(!unitInvite) { %>
							Ilość użytkowników: <%= unit.countMembers(true) %>
						<% } else if(unitInvite.state == "accepted") { %>
							Zaakceptowano <i>check</i>
						<% } else if(unitInvite.state == "declined") { %>
							Odrzucono <i>close</i>
						<% } else if(unitInvite.state == "pending") { %>
							Oczekiwana odpowiedź... <i class="spin">progress_activity</i>
						<% } %>
					</p>
					<div class="button-row">
						<% if(inviteOverride === true) { %>
							<button disabled>Zaproszono</button>
						<% } else if(inviteOverride === false) { %>
							<button disabled>Nie zaproszono</button>
						<% } else if(unitInvite?.state == "pending" || unitInvite?.state == "accepted") { %>
							<button class="dangerous" api="event/[eventID]/unit/<%= unit.id %>/uninvite">
								<i>undo</i>
								<span>Cofnij zaproszenie</span>
							</button>
						<% } else { %>
							<button api="event/[eventID]/unit/<%= unit.id %>/invite">
								<i>group_add</i>
								<span>Zaproś <% if(unitInvite?.state == "declined") { %>ponownie<% } else { %><%= unit.displayName %><% } %></span>
							</button>
						<% } %>
					</div>
				<% } %>
				<% if(unit.subUnits.length) { %>
					<div class="subunit-list">
						<% for(const subUnit of unit.subUnits) { %>
							<% displayUnit(
								$.units[subUnit.id],
								(inviteOverride === true || unitInvite?.state) ? true : undefined
							) %>
						<% } %>
					</div>
				<% } %>
			</div>
		</details>
	<% } %>

	<section>
		<% for(const unit of $.topUnits) { %>
			<% displayUnit(unit) %>
		<% } %>
	</section>
</main>
<div class="button-row">
	<button onclick="dialog.close()" class="confirm">
		<i>check</i>
		Gotowe
	</button>
</div>