<% layout("/layouts/dialog", {
	scripts: ["event/inviteParticipants", "user/picker"],
	styles: ["user/picker"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1>Zapraszanie kadry na <%= $.targetEvent.displayName %></h1>
<main>
	<section class="fill-height">
		<%~ include("/user/templates/userPicker", {
			graph: $.graph
		}) %>
	</section>
</main>
<hr>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Anuluj
	</button>
	<button api="event/[eventID]/member/[userID]/invite">
		<i>check</i>
		Zaproś
	</button>
</div>