<% layout("/layouts/body", {
	title: $.targetEvent.displayName,
	scripts: ["event/page"],
	styles: ["event/page"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1 id="event-title">
	<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
		<input
			type="text"
			name="name"
			placeholder="Nazwa akcji"
			autocomplete="off"
			api="event/[eventID]/update/name"
			value="<%= $.targetEvent.name || "" %>"
			title="Zmień nazwę"
		>
	<% } else { %>
		<%= $.targetEvent.displayName %>
	<% } %>
</h1>
<p>(akcja w <%~ include("/templates/linkList", $.targetEvent.upperUnits.map(j => [`/units/${j.id}`, j.displayName])) %>)</p>

<section>
	<h2>
		<i>info</i>
		Szczegóły akcji
	</h2>
	<h3>
		<i>assignment</i>
		Opis akcji
	</h3>
	<textarea
		id="event-description-input"
		api="event/[eventID]/update/description"
		name="description"
		placeholder="(brak opisu)"
		<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			disabled
		<% } %>
	><%= $.targetEvent.description || "" %></textarea>

	<div class="vertical-split">
		<% if($.targetEvent.dates.start || $.targetEvent.dates.end || $.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<div>
				<h3>
					<i>calendar_today</i>
					<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) && $.targetEvent.length == 0) { %>
						Data
					<% } else { %>
						Daty
					<% } %>
				</h3>
				<form id="event-dates">
					<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) || $.targetEvent.length > 0) { %>
						<label for="event-start-date-input">Od:</label>
					<% } %>
					<input
						type="date"
						id="event-start-date-input"
						min="<%= MIN_DATE %>"
						max="<%= MAX_DATE %>"
						<% if($.targetEvent.dates.start) { %>
							value="<%= datetime.format($.targetEvent.dates.start, "yyyy-MM-dd") %>"
						<% } %>
						api="event/[eventID]/update/dates"
						name="startDate"
						<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
							disabled
						<%- } %>
					>

					<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) || $.targetEvent.length > 0) { %>
						<label for="event-end-date-input">Do:</label>
						<input
							type="date"
							id="event-end-date-input"
							min="<%= MIN_DATE %>"
							max="<%= MAX_DATE %>"
							<% if($.targetEvent.dates.end) { %>
								value="<%= datetime.format($.targetEvent.dates.end, "yyyy-MM-dd") %>"
							<% } %>
							api="event/[eventID]/update/dates"
							name="endDate"
							<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
								disabled
							<%- } %>
						>
					<% } %>
				</form>
			</div>
		<% } %>
		<% if($.targetEvent.location || $.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<div>
				<h3>
					<i>distance</i>
					Lokalizacja
				</h3>
				<form>
					<input
						type="text"
						id="event-location-input"
						autocomplete="off"
						value="<%= $.targetEvent.location || "" %>"
						api="event/[eventID]/update/location"
						name="location"
						placeholder="(brak lokalizacji)"
						<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
							disabled
						<% } %>
					>
				</form>
			</div>
		<% } %>
	</div>

	<% if($.user.hasPermission($.targetEvent.PERMISSIONS.DELETE)) { %>
		<br>
		<button id="delete-event-button" class="dangerous" api="event/[eventID]/delete">
			<i>delete</i>
			<span>Usuń akcję</span>
		</button>
		<dialog id="delete-event-dialog">
			<h1>Trwale usunąć <%= $.targetEvent.displayName %>?</h1>
			<p>Akcja i wszystkie związane z nią dane zostaną trwale usunięte.</p>
			<div class="button-row">
				<button>
					<i>arrow_back</i>
					<span>Anuluj</span>
				</button>
				<button class="dangerous" command>
					<i>delete</i>
					<span>Usuń</span>
				</button>
			</div>
		</dialog>
	<% } %>
</section>

<% function displayUser(user, description) { %>
	<%
		const userInvite = $.targetEvent.participants.id(user.id)
		let state = ""
		if(userInvite.state == "declined") {
			state = "Odrzucono"
		} else if(userInvite.state == "pending") {
			state = "Oczekiwana odpowiedź..."
		}
	%>
	<%~ include("/user/templates/userEntry", {
		targetUser: user,
		description: description || state,
		content: description ? state : null
	}) %>
<% } %>


<% if(
	($.targetEvent.roles.length > 0 && $.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS)) ||
	$.targetEvent.roles.some(role => role.hasTag("public")) ||
	$.user.hasPermission($.targetEvent.PERMISSIONS.SET_ROLE)
) { %>
	<section>
		<h2>
			<i>article_person</i>
			Kadra
		</h2>
		<% if($.targetEvent.roles?.length > 0) { %>
			<div id="event-member-list" class="entry-grid">
				<% for(const role of $.targetEvent.roles || []) { %>
					<% if($.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS) || role.hasTag("public")) { %>
						<% displayUser(role.user, role.displayName) %>
					<% } %>
				<% } %>
			</div>
		<% } %>
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<button opens-dialog="/events/<%= $.targetEvent.id %>/setRole">
				<i>add_moderator</i>
				<span>Mianuj na funkcję</span>
			</button>
		<% } %>
	</section>
<% } %>

<% if(
	$.targetEvent.invitedUnits.length > 0 ||
	$.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_UNIT) ||
	$.targetEvent.invitedUnits.some(i => $.user.hasPermission(i.unit.PERMISSIONS.MANAGE_INVITES))
) { %>
	<section>
		<h2>
			<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_UNIT)) { %>
				<i>person</i>
				Uczestnicy
			<% } else { %>
				<i>groups</i>
				Uczestniczące jednostki
			<% } %>
		</h2>
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_UNIT)) { %>
			<div class="button-row">
				<button opens-dialog="/events/<%= $.targetEvent.id %>/inviteUnits">
					<i>group_add</i>
					Zaproś jednostki
				</button>
				<button disabled>
					<i>person_add</i>
					Dodaj uczestników
				</button>
			</div>
		<% } %>
		<% if($.targetEvent.invitedUnits.length > 0) { %>
			<div class="entry-grid full">
				<% for(const unitInvite of $.targetEvent.invitedUnits || []) { %>
					<%
						if(unitInvite.state == "declined" && !$.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_UNIT)) continue
						if(
							unitInvite.state == "pending" &&
							!$.user.hasPermission(unitInvite.unit.PERMISSIONS.MANAGE_INVITES) &&
							!$.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_UNIT)
						) continue
					%>
					<div>
						<h3><%= unitInvite.unit.displayName %></h3>
						<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_UNIT)) { %>
							<p>
								<% if(unitInvite.state == "accepted") { %>
									Zaakceptowano zaproszenie <i>check</i>
								<% } else if(unitInvite.state == "declined") { %>
									Odrzucono zaproszenie <i>cancel</i>
								<% } else if(unitInvite.state == "pending") { %>
									Oczekiwana odpowiedź... <i class="spin">progress_activity</i>
								<% } %>
							</p>
							<% if(unitInvite.state == "pending" || unitInvite.state == "accepted") { %>
								<button class="dangerous" api="event/[eventID]/unit/<%= unitInvite.unit.id %>/uninvite">
									<i>undo</i>
									<span>Cofnij zaproszenie</span>
								</button>
							<% } %>
							<% if($.user.hasPermission(unitInvite.unit.PERMISSIONS.MANAGE_INVITES) && unitInvite.state != "declined") { %>
								<hr>
							<% } %>
						<% } %>
						<% const invitedParticipants = unitInvite.invitedParticipants.filter(p => $.targetEvent.roles.every(r => r.user.id != p.user.id)) %>
						<% if($.user.hasPermission(unitInvite.unit.PERMISSIONS.MANAGE_INVITES)) { %>
							<% if(unitInvite.state == "accepted") { %>
								<p>Dodani uczestnicy: <%= invitedParticipants.length %></p>
								<div class="button-row">
									<button opens-dialog="/events/<%= $.targetEvent.id %>/chooseParticipants?unit=<%= unitInvite.unit.id %>">
										<i>group_add</i>
										<% if(invitedParticipants.length > 0) { %>
											<span>Edytuj uczestników</span>
										<% } else { %>
											<span>Dodaj uczestników</span>
										<% } %>
									</button>
								</div>
							<% } else if(unitInvite.state == "pending") { %>
								<p>Oczekujące zaproszenie...</p>
								<div class="button-row">
									<button api="unit/<%= unitInvite.unit.id %>/event/[eventID]/invitation/accept">
										<i>check</i>
										<span>Zaakceptuj</span>
									</button>
									<button class="dangerous" api="unit/<%= unitInvite.unit.id %>/event/[eventID]/invitation/decline">
										<i>close</i>
										<span>Odrzuć</span>
									</button>
								</div>
							<% } %>
						<% } %>
						<% if(
							invitedParticipants.length &&
							(
								$.user.hasPermission(unitInvite.unit.PERMISSIONS.MANAGE_INVITES) || 
								$.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS)
							)
						) { %>
							<div class="entry-grid">
								<% invitedParticipants.filter(i => i.state == "accepted").forEach(i => displayUser(i.user)) %>
								<hr class="grid-break">
								<% invitedParticipants.filter(i => i.state == "pending").forEach(i => displayUser(i.user)) %>
								<hr class="grid-break">
								<% invitedParticipants.filter(i => i.state == "declined").forEach(i => displayUser(i.user)) %>
							</div>
						<% } %>
					</div>
				<% } %>
			</div>
		<% } %>
		
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS)) { %>
			<% const directParticipants = $.targetEvent.participants.filter(p => !p.originUnit && !$.targetEvent.roles.some(r => r.user.id == p.user.id)) %>
			<% if(directParticipants.length > 0) { %>
				<div class="entry-grid full">
					<div>
						<h3>Inni uczestnicy</h3>
						<div class="entry-grid">
							<% for(const participant of directParticipants) { %>
								<% displayUser(participant.user) %>
							<% } %>
						</div>
					</div>
				</div>
			<% } %>
		<% } %>
	</section>
<% } %>

<% if($.approvalParticipants?.length) { %>
	<section>
		<h2>
			<i>mark_email_read</i>
			Uczestnictwo
		</h2>
		<div class="entry-grid">
			<% for(const userInvite of $.approvalParticipants) { %>
				<div>
					<div class="entry-title">
						<h3><%= userInvite.user.displayName %></h3>
						<p>
							<% if(userInvite.state == "pending") { %>
								<i>help</i>
								Oczekiwana odpowiedź...
							<% } else if(userInvite.state == "accepted") { %>
								<i>check_circle</i>
								Zaakceptowano
							<% } else if(userInvite.state == "declined") { %>
								<i>cancel</i>
								Odrzucono
							<% } %>
						</p>
					</div>
					<div class="entry-content">
						<% if($.user.hasPermission(userInvite.user.PERMISSIONS.APPROVE)) { %>
							<div class="button-row">
								<button opens-dialog="/events/<%= $.targetEvent.id %>/participation?participant=<%= userInvite.user.id %>">
									<% if(userInvite.state == "pending") { %>
										Odpowiedz
									<% } else { %>
										Zmień odpowiedź
									<% } %>
								</button>
							</div>
						<% } else if(userInvite.user.id == $.user.id && userInvite.user.age === null) { %>
							<p class="warning">
								<i>warning</i>
								Ustaw datę urodzin aby kontynuować
							</p>
						<% } else if(userInvite.user.age === null || userInvite.user.age > Config.adultAge) { %>
							<p>Odzpowiedź oczekiwana od użytkownika <%= userInvite.user.displayName %></p>
						<% } else { %>
							<p>Odzpowiedź oczekiwana od rodzica/opiekuna</p>
						<% } %>
					</div>
				</div>
			<% } %>
		</div>
	</section>
<% } %>

<% if(
	$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) ||
	$.user.hasPermission($.targetEvent.PERMISSIONS.APPROVE)
) { %>
	<section>
		<h2>
			<i>gavel</i>
			Zatwierdzenie
		</h2>

		<% if($.targetEvent.approvalState) { %>
			<p><i>check_circle</i> Akcja zatwierdzona</p>
		<% } else { %>
			<p><i>cancel</i> Akcja nie jest zatwierdzona!</p>
		<% } %>

		<% const md = $.targetEvent.missingDetails %>
		<% const warnings = Array.conditional(
			md.includes("name"), "Brak nazwy akcji",
			md.includes("description"), "Brak opisu akcji",
			md.includes("location"), "Brak lokalizacji akcji",
			md.includes("dates"), "Brak daty akcji",
		) %>

		<% if(warnings.length) { %>
			<div class="warning">
				<p>
					<i>warning</i>
					Nie można zatwierdzić akcji z brakującymi szczegółami:
				</p>
				<ul class="warning-list">
					<% for(const warning of warnings) { %>
						<li><%= warning %></li>
					<% } %>
				</ul>
			</div>

		<% } else if($.targetEvent.approvers.length == 0) { %>
			<p class="warning">
				<i>warning</i>
				Brak zatwierdzających
			</p>
			
		<% } else { %>
			<div class="entry-grid medium">
				<% for(const approver of $.targetEvent.approvers || []) { %>
					<div>
						<div class="entry-title">
							<h3><%= approver.role.user.displayName %></h3>
							<p><%= approver.role.displayName %>, <%= approver.role.unit.displayName %></p>
						</div>
						<div class="entry-content">
							<% if(approver.approved) { %>
								<p>
									Zatwierdzono <i>check</i><br>
									<small><%= datetime.format(approver.approvedAt, "dd-MM-yyyy HH:mm") %></small>
								</p>
							<% } else if(approver.role.user.id != $.user.id) { %>
								<p>Oczekiwane zatwierdzenie... <i class="spin">progress_activity</i></p>
							<% } %>
						
							<% if(approver.role.user.id == $.user.id) { %>
								<div class="button-row">
									<% if(approver.approved) { %>
										<button api="event/[eventID]/approval/unapprove" class="dangerous">
											<i>undo</i>
											<span>Cofnij zatwierdzenie</span>
										</button>
									<% } else { %>
										<button opens-dialog="/events/<%= $.targetEvent.id %>/approve">
											<i>check</i>
											<span>Zatwierdź</span>
										</button>
									<% } %>
								</div>
							<% } %>
						</div>
					</div>
				<% } %>
			</div>
		<% } %>
	</section>
<% } %>