<% layout("/layouts/dialog", {
	scripts: ["event/participation", "signature"],
	styles: ["signature"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1>
	Uczestnictwo w <%= $.targetEvent.displayName %>
</h1>
<main>
	<% if($.targetInvitation.user.id != $.user.id) { %>
		<h2><%= $.targetInvitation.user.displayName %></h2>
	<% } %>
	<% let canParticipate = true %>
	<% if(!$.targetInvitation.user.confirmed) { %>
		<% canParticipate = false %>
		<p class="warning"><i>warning</i> Zatwierdź dane <a href="/users/<%= $.targetInvitation.user.id %>">na profilu uczestnika</a>, aby potwierdzić udział w akcji.</p>
	<% } %>
	<% if(canParticipate) { %>
		<section>
			<form>
				<input type="radio" name="participation" id="participation-choice-yes" value="yes"
					<%= $.targetInvitation.state == "accepted" ? "checked" : "" %>
				>
				<label for="participation-choice-yes">
					<% if($.targetInvitation.user.id == $.user.id) { %>
						Wezmę
					<% } else { %>
						<%= $.targetInvitation.user.name.first %> weźmie
					<% } %>
					udział
				</label>
				<input type="radio" name="participation" id="participation-choice-no" value="no"
					<%= $.targetInvitation.state == "declined" ? "checked" : "" %>
				>
				<label for="participation-choice-no">
					<% if($.targetInvitation.user.id == $.user.id) { %>
						Nie wezmę
					<% } else { %>
						<%= $.targetInvitation.user.name.first %> nie weźmie
					<% } %>
					udziału
				</label>
			</form>
		</section>
		<%~ include("/templates/signature", {
			user: $.user
		}) %>
		<button class="confirm" api="event/[eventID]/member/<%= $.targetInvitation.user.id %>/setParticipation">
			<i>check</i>
			Potwierdź
		</button>
	<% } %>
</main>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Anuluj
	</button>
</div>