<% layout("/layouts/main", {
	title: "Lista uczestników",
	styles: ["event/participants"],
	scripts: ["event/participants"],
	meta: {
		eventID: $.targetEvent.id
	},
	navPath: {
		[$.targetEvent.displayName]: `/events/${$.targetEvent.id}`
	}
}) %>
<h1>
	<i>person</i>
	<%= $.targetEvent.displayName %> - Lista uczestników
</h1>


<div id="participants-filters" class="vertical-split">
	<form>
		<label for="unit-filter">Jednostka:</label>
		<select id="unit-filter" name="unit">
			<% if($.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS) || $.unitOptions.length > 1) { %>
				<option value></option>
			<% } %>
			<% for(const unit of $.unitOptions) { %>
				<option value="<%= unit.id %>"><%= unit.displayName %></option>
			<% } %>
		</select>
		
		<label for="state-filter">Uczestnictwo:</label>
		<select id="state-filter" name="state">
			<option value></option>
			<option value="accepted">Zaakceptowano</option>
			<option value="declined">Odrzucono</option>
			<option value="pending">Brak odpowiedzi</option>
		</select>
	</form>
</div>
<hr>

<p>Ilość wyników: <%= $.participants.length %></p>

<div id="participant-list" class="entry-grid full">
	<% for(const participant of $.participants) { %>
		<a href="/users/<%= participant.user.id %>">
			<div class="entry-title">
				<h3><%= participant.user.displayName %></h3>
				<p>
					<span>
						<% if(participant.originUnit) { %>
							<%= participant.originUnit.displayName %>
						<% } else { %>
							(uczestnik bezpośredni)
						<% } %>
					</span>
				</p>
			</div>
			<div class="entry-content">
				<p>
					<% if(participant.state == "accepted") { %>
						<i>check_circle</i> Zaakceptowano
					<% } else if(participant.state == "pending") { %>
						<% if($.targetEvent.registrationOpen) { %>
							<i class="spin">progress_activity</i> Oczekiwana odpowiedź
						<% } else { %>
							<i>person_add</i> Wybrano z jednostki
						<% } %>
					<% } else if(participant.state == "declined") { %>
						<i>cancel</i> Odrzucono
					<% } %>
				</p>
			</div>
		</a>
	<% } %>
</div>