<% layout("/layouts/dialog", {
	scripts: ["event/setParticipants"],
	styles: ["event/setParticipants"],
	meta: {
		unitID: $.targetUnit.id,
		eventID: $.targetEvent.id
	}
}) %>
<h1><%= $.targetUnit.displayName %></h1>
<main>
	<form>
		<input type="checkbox" id="choose-all">
		<label for="choose-all">Wybierz wszystkich</label>
	</form>
	<hr>
	<% function displayUnit(unit) { %>
		<% if(unit.id != $.targetUnit.id) { %>
			<h3><%= unit.displayName %></h3>
		<% } %>
		<form>
			<% for(const {user: member} of unit.roles) { %>
				<% const eventParticipant = $.targetEvent.findUserInvite(member) %>
				<input
					type="checkbox"
					id="member-<%= member.id %>"
					name="participants"
					value="<%= member.id %>"
					<% if(eventParticipant && eventParticipant.originUnit == $.targetUnit.id) { %>
						checked
					<% } else if(eventParticipant) { %>
						disabled
					<% } %>
				>
				<label for="member-<%= member.id %>">
					<%= member.displayName %>
				</label>
			<% } %>
			<% for(const subUnit of unit.subUnits) { %>
				<% displayUnit(subUnit) %>
			<% } %>
		</form>
	<% } %>
	<% displayUnit($.targetUnit) %>
</main>
<hr>
<div class="warning">
	<p>Uczestnicy zostaną dodani po potwierdzeniu uczestnictwa. Profile uczestników będą widoczne dla kadry akcji.</p>
</div>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<button api="unit/[unitID]/event/[eventID]/setParticipants">
		<i>check</i>
		Potwierdź uczestników
	</button>
</div>