<% layout("/layouts/dialog", {
	scripts: ["event/setRole"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1>
	<i>add_moderator</i>
	Mianowanie na funkcję
</h1>
<main>
	<% if($.usersForAssignment.length) { %>
		<h2>Wybierz funkcję</h2>
		<form id="role-select">
			<% for(const [roleLevel, roleName] of $.targetEvent.getRoleOptions() || []) { %>
				<input type="radio" name="roleType" value="<%= roleLevel %>" id="role-<%= roleLevel %>">
				<label for="role-<%= roleLevel %>"><%= roleName %></label>
			<% } %>
		</form>
			
		<h2>Wybierz użytkownika</h2>
		<form id="user-select">
			<% for(const member of $.usersForAssignment) { %>
				<input type="radio" name="memberID" value="<%= member.id %>" id="user-<%= member.id %>">
				<label for="user-<%= member.id %>"><%= member.displayName %></label>
			<% } %>
		</form>
	<% } else { %>
		<p>Brak użytkowników do mianowania</p>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<% if($.usersForAssignment.length) { %>
		<button id="set-role-button" api="event/[eventID]/member/[memberID]/setRole">
			<i>check</i>
			<span>Potwierdź mianowanie</span>
		</button>
	<% } %>
</div>