<% layout("/layouts/dialog", {
	scripts: ["event/setRole", "user/picker"],
	styles: ["user/picker"],
	meta: {
		eventID: $.targetEvent.id
	}
}) %>
<h1>
	<i>add_moderator</i>
	Mianowanie na funkcję
</h1>
<main>
	<% if(Object.keys($.usersForAssignment).length) { %>
		<section>
			<h2>Wybierz funkcję</h2>
			<form>
				<label for="role-select">Funkcja:</label>
				<select id="role-select" name="roleType">
					<% for(const roleID of $.targetEvent.config.roles || []) { %>
						<% const role = Config.roles[roleID] %>
						<% if($.userRole && $.userRole.config.rank < role.rank) continue %>
						<option
							value="<%= roleID %>"
							data-name-variants="<%= JSON.stringify(role.name) %>"
						>
							<%= role.name[$.targetEvent.upperUnits[0].org] || role.name["default"] %>
						</option>
					<% } %>
					<option value="remove">
						(usuń z akcji)
					</option>
				</select>
			</form>
		</section>
			
		<section class="fill-height">
			<h2>Wybierz użytkownika</h2>
			<%~ include("/user/templates/userPicker", {
				users: $.usersForAssignment
			}) %>
		</section>
	<% } else { %>
		<p>Brak użytkowników do mianowania</p>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Anuluj
	</button>
	<% if(Object.keys($.usersForAssignment).length) { %>
		<button id="set-role-button" api="event/[eventID]/member/[userID]/setRole">
			<i>check</i>
			<span>Potwierdź mianowanie</span>
		</button>
	<% } %>
</div>