<% layout("/layouts/dialog", {
	styles: ["user/accessCode"],
	scripts: ["user/accessCode"]
}) %>
<h1>
	<i>password</i>
	Kod rejestracyjny
</h1>
<main>
	<% function accessCodeContainer(code) { %>
		<%~ include("/templates/qrCode", {
			data: `https://${Config.host}/login?code=${code.replaceAll(" ", "")}`
		}) %>
		<div id="access-code-container">
			<p id="access-code"><%= code %></p>
			<p>Naciśnij aby skopiować</p>
		</div>
	<% } %>

	<% if($.parentCode) { %>
		<% $.targetUser.defaultName = "Rodzic / opiekun" %>
		<h2><%= $.targetUser.displayName %></h2>
		<article><p><i>info</i> Kod ważny przez 5 minut</p></article>
		<p>Jednorazowy kod rejestracyjny do profilu rodzica / opiekuna:</p>
		<% accessCodeContainer($.targetUser.parents[0].auth.formattedAccessCode) %>
	<% } else { %>
		<h2><%= $.targetUser.displayName %></h2>
		<% if($.targetUser.id != $.user.id) { %>
			<% if(!$.targetUser.isParent) { %>
				<p class="warning">
					<i>warning</i>
					Poniższy kod rejestracyjny umożliwi dostęp do profilu <%= $.targetUser.displayName %>, <b>nie profilu rodzica/opiekuna</b>!
				</p>
			<% } %>
			<article><p><i>info</i> Kod ważny przez 5 minut</p></article>
			<p>Jednorazowy kod rejestracyjny dla użytkownika <%= $.targetUser.displayName %>:</p>
		<% } %>
		<% accessCodeContainer($.targetUser.auth.formattedAccessCode) %>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Zamknij
	</button>
</div>