<% layout("/layouts/dialog", {
	styles: ["user/accessCode"],
	scripts: ["user/accessCode"]
}) %>
<h1>
	<i>password</i>
	Kod rejestracyjny
</h1>
<main>
	<% function accessCodeContainer(code) { %>
		<%~ include("/templates/qrCode", {
			data: `https://${Config.host}/login?code=${code.replaceAll(" ", "")}`
		}) %>
		<div id="access-code-container">
			<p id="access-code"><%= code %></p>
			<p>Naciśnij aby skopiować</p>
		</div>
	<% } %>

	<section>
		<% if($.parentCode) { %>
			<h2><%= $.targetUser.displayName %></h2>
			<p>Jednorazowy kod rejestracyjny do profilu rodzica / opiekuna:</p>

			<% accessCodeContainer($.targetUser.parents[0].auth.formattedAccessCode) %>
		<% } else { %>
			<h2><%= $.targetUser.displayName %></h2>
			<p>Jednorazowy kod rejestracyjny dla użytkownika <%= $.targetUser.displayName %>:</p>

			<% accessCodeContainer($.targetUser.auth.formattedAccessCode) %>
		<% } %>
	</section>
	<p><i>info</i> Kody rejestracyjne są ważne przez 5 minut.</p>
</main>
<hr>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Zamknij
	</button>
</div>