<% layout("/layouts/dialog", {
	scripts: ["user/addParent", "user/picker"],
	styles: ["user/picker"],
	meta: {
		userID: $.targetUser.id
	}
}) %>
<% if($.targetUser.isAdult) { %>
	<h1><%= $.targetUser.displayName %> - Dodawanie kontaktu alarmowego</h1>
<% } else { %>
	<h1><%= $.targetUser.displayName %> - Dodawanie rodzica</h1>
<% } %>
<main>
	<% if($.action != "link") { %>
		<section id="create-section">
			<% if($.targetUser.isAdult) { %>
				<h3>Utwórz nowy kontakt alarmowy</h3>
			<% } else { %>
				<h3>Utwórz nowego rodzica</h3>
			<% } %>
			<form id="create-parent">
				<label for="parent-first-name-input">Imię:</label>
				<input type="text" id="parent-first-name-input" name="firstName" autocomplete="off">
				<label for="parent-last-name-input">Nazwisko:</label>
				<input type="text" id="parent-last-name-input" name="lastName" autocomplete="off">
			</form>
			<button id="create-parent-button" api="user/[userID]/parent/create" class="confirm">
				<%~ icon`person_add` %>
				<% if($.targetUser.isAdult) { %>
					Utwórz kontakt alarmowy
				<% } else { %>
					Utwórz rodzica
				<% } %>
			</button>
		</section>
	<% } %>
	<% if($.tree.userCount || $.action == "link") { %>
		<section id="link-section" class="fill-height">
			<% if($.targetUser.isAdult) { %>
				<h3>Dodaj istniejący kontakt alarmowy</h3>
			<% } else { %>
				<h3>Dodaj istniejącego rodzica</h3>
			<% } %>
			<%~ include("/user/templates/userPicker", {
				tree: $.tree,
				fieldName: "parentID"
			}) %>
			<button id="link-parent-button" api="user/[userID]/parent/link" class="confirm">
				<%~ icon`person_add` %>
				<% if($.targetUser.isAdult) { %>
					Dodaj kontakt alarmowy
				<% } else { %>
					Dodaj rodzica
				<% } %>
			</button>
		</section>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button>
		<%~ icon`arrow_back` %>
		Anuluj
	</button>
</div>