<% layout("/layouts/body", {
	title: "Log aktywności",
	// scripts: ["user/activity"],
	// styles: ["user/activity"],
	meta: {
		userID: $.targetUser.id
	},
	navPath: {
		[$.targetUser.displayName]: `/users/${$.targetUser.id}`
	}
}) %>
<h1>
	<i>history</i>
	<%= $.targetUser.displayName %> - log aktywności
</h1>
<div class="unit-list">
	<% if ($.logs.length == 0) { %>
		<p>Brak wpisów w logu aktywności.</p>
	<% } %>
	<% for(let index = $.logs.length - 1; index >= 0; index--) { %>
		<% const logEntry = $.logs[index] %>
		<div>
			<div class="unit-title">
				<h3>
					<%= logEntry.eventType %>
				</h3>
				<p>
					<%= datetime.format(logEntry.time, "yyyy-MM-dd HH:mm:ss") %>
				</p>
			</div>
			<div id="unit-content">
				<table>
					<% if(logEntry.targetEvent) { %>
						<tr>
							<th>Akcja:</th>
							<td>
								<a href="/events/<%= logEntry.targetEvent.id %>"><%= logEntry.targetEvent.displayName %></a>
							</td>
						</tr>
					<% } %>
					<% if(logEntry.targetUnit) { %>
						<tr>
							<th>Jednostka:</th>
							<td>
								<a href="/units/<%= logEntry.targetUnit.id %>"><%= logEntry.targetUnit.displayName %></a>
							</td>
						</tr>
					<% } %>
					<% if(logEntry.targetUser) { %>
						<tr>
							<th>Użytkownik:</th>
							<td>
								<a href="/users/<%= logEntry.targetUser.id %>"><%= logEntry.targetUser.displayName %></a>
							</td>
						</tr>
					<% } %>
				</table>
				<% if(logEntry.data) { %>
					<details>
						<summary>Szczegóły</summary>
						<pre><%= JSON.stringify(logEntry.data, null, 2) %></pre>
					</details>
				<% } %>
			</div>
		</div>
	<% } %>
</div>