<% layout("/body", {
	title: $.user.displayName,
	scripts: ["user/page"],
	// styles: ["user/page"],
	meta: {
		userID: $.user.id
	}
}) %>
<h1 id="user-title"><%= $.user.displayName %></h1>

<button id="delete-user-button">Usuń użytkownika</button>
<button id="generate-access-code-button">Wygeneruj kod dostępu</button>

<% if($.user.funkcje.length > 0) { %>
	<hr>
	<h2>Funkcje</h2>
	<ul>
		<% for(const funkcja of $.user.funkcje) { %>
			<li><%= Text.capitalise(funkcja.displayName) %> w <a href="/jednostki/<%= funkcja.jednostka?.id %>"><%= funkcja.jednostka?.displayName || "(nieznana jednostka)" %></a></li>
		<% } %>
	</ul>
<% } %>

<hr>
<h2>Dane</h2>
<div>
	<label for="first-name-input">Imię:</label>
	<input type="text" id="first-name-input" autocomplete="off" value="<%= $.user.name.first || "" %>">
</div>
<div>
	<label for="last-name-input">Nazwisko:</label>
	<input type="text" id="last-name-input" autocomplete="off" value="<%= $.user.name.last || "" %>">
</div>
<div>
	<label for="date-of-birth-input">Data urodzenia:</label>
	<input
		type="date" id="date-of-birth-input"
		max="<%= datetime.format(new Date, "yyyy-MM-dd") %>"
		<% if($.user.dateOfBirth) { %>
			value="<%= datetime.format($.user.dateOfBirth, "yyyy-MM-dd") %>"
		<% } %>
	>
</div>