<% layout("/layouts/body", {
	title: $.targetUser.displayName,
	scripts: ["user/page"],
	styles: ["user/page"],
	meta: {
		userID: $.targetUser.id
	}
}) %>
<h1 id="user-title">
	<i>person</i>
	<%= $.targetUser.displayName %>
</h1>
<div class="button-row">
	<% if($.user.id == $.targetUser.id) { %>
		<button id="logout-button" href="/logout">
			<i>logout</i>
			<span>Wyloguj</span>
		</button>
	<% } %>
	<% if($.user.hasPermission($.targetUser.PERMISSIONS.DELETE)) { %>
		<button id="delete-user-button" class="dangerous" api="user/[userID]/delete">
			<i>delete</i>
			<span>Usuń użytkownika</span>
		</button>
		<dialog id="delete-user-dialog">
			<h1>Trwale usunąć użytkownika <%= $.targetUser.displayName %>?</h1>
			<p>Użytkownik i wszystkie związane z nim dane zostaną trwale usunięte.</p>
			<div class="button-row">
				<button>
					<i>arrow_back</i>
					<span>Anuluj</span>
				</button>
				<button class="dangerous" command>
					<i>delete</i>
					<span>Usuń</span>
				</button>
			</div>
		</dialog>
	<% } %>
	<% if($.user.hasPermission($.targetUser.PERMISSIONS.MODIFY)) { %>
		<button id="generate-access-code-button" api="user/[userID]/accessCode/generate">
			<i>password</i>
			<span>Wygeneruj kod dostępu</span>
		</button>
		<dialog id="access-code-dialog">
			<h1>Kod dostępu</h1>
			<p>Jednorazowy kod dostępu dla użytkownika <%= $.targetUser.displayName %>:</p>
			<input type="text" id="access-code-container" disabled>
			<div class="button-row">
				<button>
					Zamknij
				</button>
			</div>
		</dialog>
	<% } %>
</div>

<hr>
<h2>
	<i>assignment</i>
	Dane
</h2>
<form>
	<label for="first-name-input">Imię:</label>
	<input
		type="text"
		id="first-name-input"
		autocomplete="off"
		value="<%= $.targetUser.name.first || "" %>"
		api="user/[userID]/update/names"
		name="firstName"
		<%= $.user.hasPermission($.targetUser.PERMISSIONS.MODIFY) ? "" : "disabled" %>
	>

	<label for="last-name-input">Nazwisko:</label>
	<input
		type="text"
		id="last-name-input"
		autocomplete="off"
		value="<%= $.targetUser.name.last || "" %>"
		api="user/[userID]/update/names"
		name="lastName"
		<%= $.user.hasPermission($.targetUser.PERMISSIONS.MODIFY) ? "" : "disabled" %>
	>

	<% if($.targetUser.funkcje.length > 0) { %>
		<label for="date-of-birth-input">Data urodzenia:</label>
		<input
			type="date" id="date-of-birth-input"
			min="<%= MIN_DATE %>"
			max="<%= datetime.format(new Date, "yyyy-MM-dd") %>"
			<% if($.targetUser.dateOfBirth) { %>
				value="<%= datetime.format($.targetUser.dateOfBirth, "yyyy-MM-dd") %>"
			<% } %>
			api="user/[userID]/update/dateOfBirth"
			<%= $.user.hasPermission($.targetUser.PERMISSIONS.MODIFY) ? "" : " disabled" %>
		>
	<% } %>
</form>
<div class="button-row">
	<% if($.targetUser.funkcje.length > 0 || $.targetUser.medical.entries.length) { %>
		<button href="/users/<%= $.targetUser.id %>/medical">
			<i>medical_information</i>
			Dane medyczne
		</button>
	<% } %>
	<button href="/users/<%= $.targetUser.id %>/log">
		<i>history</i>
		Log aktywności
	</button>
</div>

<% if($.targetUser.isParent) { %>
	<hr>
	<h2>
		<i>supervisor_account</i>
		Podopieczni
	</h2>
	<div id="child-list" class="unit-grid">
		<% for(const child of $.targetUser.children || []) { %>
			<% child.defaultName = "(podopieczny)" %>
			<%~ include("templates/userEntry", {targetUser: child}) %>
		<% } %>
	</div>
<% } else if($.targetUser.parents.length > 0 || $.targetUser.age < 18) { %>
	<hr>
	<h2>
		<i>supervisor_account</i>
		Rodzice / opiekunowie
	</h2>
	<div id="parent-list" class="unit-grid">
		<% for(const parent of $.targetUser.parents || []) { %>
			<% parent.defaultName = "(rodzic / opiekun)" %>
			<%~ include("templates/userEntry", {targetUser: parent}) %>
		<% } %>
	</div>
	<% if($.user.hasPermission($.targetUser.PERMISSIONS.ADD_PARENT)) { %>
		<button id="add-parent-button" api="user/[userID]/parent/create">
			<i>person_add</i>
			<span>Dodaj rodzica / opiekuna</span>
		</button>
	<% } %>
<% } %>

<% if($.targetUser.funkcje.length > 0) { %>
	<hr>
	<h2>
		<i>groups</i>
		Jednostki
	</h2>
	<div id="jednostka-list" class="unit-grid">
		<% for(const funkcja of $.targetUser.funkcje) { %>
			<a href="/jednostki/<%= funkcja.jednostka?.id %>">
				<h3><%= funkcja.jednostka?.displayName || "(nieznana jednostka)" %></h3>
				<p><%= Text.capitalise(funkcja.displayName) %></p>
			</a>
		<% } %>
	</div>
<% } %>

<% if($.targetUser.funkcjeWyjazdowe.length > 0
	  || $.user.hasPermission($.targetUser.PERMISSIONS.APPROVE)
	  && $.targetUser.wyjazdInvites.length > 0) {
%>
	<hr>
	<h2>
	<i>hiking</i>
		Wyjazdy
	</h2>
	<div id="wyjazd-list" class="unit-grid">
		<% if($.user.hasPermission($.targetUser.PERMISSIONS.APPROVE)) { %>
			<% for(const wyjazd of $.targetUser.wyjazdInvites) { %>
				<%~ include("templates/wyjazdInvite", {
					targetUser: $.targetUser,
					targetWyjazd: wyjazd
				}) %>
			<% } %>
		<% } %>
		<% for(const funkcja of $.targetUser.funkcjeWyjazdowe) { %>
			<%
				if(
					$.user.hasPermission($.targetUser.PERMISSIONS.APPROVE) && 
					$.targetUser.wyjazdInvites.some(w => w.id == funkcja.jednostka?.id)
				) continue
			%>
			<a href="/wyjazdy/<%= funkcja.jednostka?.id %>">
				<h3><%= funkcja.jednostka?.displayName || "(nieznany wyjazd)" %></h3>
				<p><%= Text.capitalise(funkcja.displayName) %></p>
			</a>
		<% } %>
	</div>
<% } %>

<% if($.targetUser.wyjazdApprovalRequests.length) { %>
	<hr>
	<h2>
		<i>gavel</i>
		Zatwierdzenia
	</h2>
	<div class="unit-grid">
		<% for(const wyjazd of $.targetUser.wyjazdApprovalRequests) { %>
			<%~ include("templates/wyjazdApprovalRequest", {
				targetWyjazd: wyjazd,
				targetUser: $.targetUser
			}) %>
		<% } %>
	</div>
<% } %>
