<% layout("/layouts/body", {
	title: $.targetUser.displayName,
	scripts: ["user/page"],
	// styles: ["user/page"],
	meta: {
		userID: $.targetUser.id
	}
}) %>
<h1 id="user-title"><%= $.targetUser.displayName %></h1>

<button id="delete-user-button" class="dangerous">Usuń użytkownika</button>
<button id="generate-access-code-button">Wygeneruj kod dostępu</button>

<hr>
<h2>Dane</h2>
<form>
	<label for="first-name-input">Imię:</label>
	<input type="text" id="first-name-input" autocomplete="off" value="<%= $.targetUser.name.first || "" %>" <%= $.user.hasPermission($.targetUser.PERMISSIONS.MODIFY) ? "" : "disabled" %> >

	<label for="last-name-input">Nazwisko:</label>
	<input type="text" id="last-name-input" autocomplete="off" value="<%= $.targetUser.name.last || "" %>" <%= $.user.hasPermission($.targetUser.PERMISSIONS.MODIFY) ? "" : "disabled" %> >

	<label for="date-of-birth-input">Data urodzenia:</label>
	<input
		type="date" id="date-of-birth-input"
		max="<%= datetime.format(new Date, "yyyy-MM-dd") %>"
		<% if($.targetUser.dateOfBirth) { %>
			value="<%= datetime.format($.targetUser.dateOfBirth, "yyyy-MM-dd") %>"
		<% } %>
		<%= $.user.hasPermission($.targetUser.PERMISSIONS.MODIFY) ? "" : " disabled" %>
	>
</form>

<% if($.targetUser.isParent) { %>
	<hr>
	<h2>Podopieczni</h2>
	<div id="child-list">
		<ul>
			<% for(const child of $.targetUser.children || []) { %>
				<li>
					<a href="/users/<%= child.id %>"><%= child.displayName %></a>
				</li>
			<% } %>
		</ul>
	</div>
<% } else if($.targetUser.parents.length > 0 || $.targetUser.age < 18) { %>
	<hr>
	<h2>Rodzice / opiekunowie</h2>
	<div id="parent-list">
		<ul>
			<% for(const parent of $.targetUser.parents || []) { %>
				<li>
					<a href="/users/<%= parent.id %>"><%= parent.displayName %></a>
				</li>
			<% } %>
		</ul>
		<button id="add-parent-button">Dodaj rodzica / opiekuna</button>
	</div>
<% } %>

<% if($.targetUser.funkcje.length > 0) { %>
	<hr>
	<h2>Funkcje</h2>
	<ul>
		<% for(const funkcja of $.targetUser.funkcje) { %>
			<li><%= Text.capitalise(funkcja.displayName) %> w <a href="/jednostki/<%= funkcja.jednostka?.id %>"><%= funkcja.jednostka?.displayName || "(nieznana jednostka)" %></a></li>
		<% } %>
	</ul>
<% } %>
