<% layout("/layouts/dialog", {
	scripts: ["login/common", "user/switcher"],
	meta: {
		user: $.user.id
	}
}) %>
<main>
	<h1>
		<%~ icon`person` %>
		<%= $.user.displayName %>
	</h1>
	<% if($.user.auth.keys.length == 0) { %>
		<p class="warning">
			<%~ icon`warning` %>
			Nie dodano klucza dostępu - profil nie jest zabezpieczony!
		</p>
	<% } %>
	<div class="button-row">
		<button href="/users/<%= $.user.id %>">
			<%~ icon`person` %>
			<span>Profil</span>
		</button>
		<button api="logout">
			<%~ icon`logout` %>
			<span>Wyloguj</span>
		</button>
		<button id="feedbackButton">
			<%~ icon`feedback` %>
			<span>Wyślij opinię</span>
		</button>
	</div>
	<% if($.savedUsers.length) { %>
		<section>
			<h2>
				<%~ icon`switch_account` %>
				Inni użytkownicy
			</h2>
			<div class="entry-grid">
				<% for(const user of $.savedUsers) { %>
					<div>
						<div class="entry-header">
							<div class="entry-image">
								<% if(user.image) { %>
									<img src="<%= user.imageURL %>?alt=96">
								<% } else { %>
									<%~ icon`person` %>
								<% } %>
							</div>
							<div class="entry-title">
								<h3><%= user.displayName %></h3>
							</div>
						</div>
						<div class="entry-content button-row">
							<button api="login/getKeys?userID=<%= user.id %>">
								<%~ icon`login` %>
								<span>Zaloguj</span>
							</button>
						</div>
					</div>
				<% } %>
			</div>
		</section>
	<% } %>

	<section>
		<h2>
			<%~ icon`settings` %>
			Ustawienia
		</h2>
		<form>
			<%
				const themes = {
					auto: "Automatyczny",
					light: "Jasny",
					dark: "Ciemny"
				}
			%>
			<label for="theme-chooser">Motyw:</label>
			<select id="theme-chooser" api="preferences/update/theme">
				<% for(const [key, name] of Object.entries(themes)) { %>
					<option value="<%= key %>"<%= $.user.preferences?.theme == key ? "selected" : "" %>><%= name %></option>
				<% } %>
			</select>
			<label for="language-chooser">Język:</label>
			<select id="language-chooser" api="preferences/update/language">
				<option value="pl">Polski</option>
			</select>
		</form>
	</section>
	<section>
		<h2>
			<%~ icon`info` %>
			O systemie
		</h2>
		<p>WATRA - Platforma do administracji jednostek harcerskich.</p>
		<p>Oprogramowanie open-source.</p>
		<div class="button-row">
			<a href="https://github.com/Tikolu/WATRA" target="_blank">
				<button>
					<%~ icon`code` %>
					Kod źródłowy (GitHub)
				</button>
			</a>
			<a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">
				<button>
					<%~ icon`license` %>
					Licencja (AGPL-3.0)
				</button>
			</a>
		</div>
	</section>
</main>
<hr>
<div class="button-row">
	<button>
		<%~ icon`arrow_back` %>
		Zamknij
	</button>
</div>