<% layout("/layouts/dialog", {
	scripts: ["login/common", "user/switcher"],
	styles: ["user/switcher"],
	meta: {
		user: $.user.id
	}
}) %>
<main>
	<h1>
		<i>person</i>
		<%= $.user.displayName %>
	</h1>
	<% if($.user.auth.keys.length == 0) { %>
		<p class="warning">
			<i>warning</i>
			Nie dodano klucza dostępu - konto nie jest zabezpieczone!
		</p>
	<% } %>
	<div class="button-row">
		<button href="/users/<%= $.user.id %>">
			<i>person</i>
			<span>Profil</span>
		</button>
		<button api="logout">
			<i>logout</i>
			<span>Wyloguj</span>
		</button>
		<button id="feedbackButton">
			<i>feedback</i>
			<span>Wyślij opinię</span>
		</button>
	</div>
	<% if($.savedUsers.length) { %>
		<section>
			<h2>
				<i>switch_account</i>
				Inni użytkownicy
			</h2>
			<div class="entry-grid narrow">
				<% for(const user of $.savedUsers) { %>
					<div>
						<div class="entry-header">
							<div class="entry-image">
								<i>person</i>
							</div>
							<div class="entry-title">
								<h3><%= user.displayName %></h3>
							</div>
						</div>
						<div class="entry-content button-row">
							<button api="login/getKeys?userID=<%= user.id %>">
								<i>login</i>
								<span>Zaloguj</span>
							</button>
						</div>
					</div>
				<% } %>
			</div>
		</section>
	<% } %>

	<section>
		<h2>
			<i>settings</i>
			Ustawienia
		</h2>
		<form>
			<label for="theme-chooser">Motyw:</label>
			<select id="theme-chooser">
				<option value="auto">Automatyczny</option>
				<option value="light">Jasny</option>
				<option value="dark">Ciemny</option>
			</select>
			<label for="language-chooser">Język:</label>
			<select id="language-chooser">
				<option value="pl">Polski</option>
			</select>
		</form>
	</section>
	<p id="watra-info">
		WATRA (wersja <%= VERSION %>)<a href="https://github.com/Tikolu/WATRA" target="_blank">GitHub</a><a href="https://tikolu.net" target="_blank">Tikolu.net</a>
	</p>
</main>
<hr>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Zamknij
	</button>
</div>