<% layout("/layouts/dialog", {
	scripts: ["unit/chooseEventParticipants", "user/picker"],
	styles: ["unit/chooseEventParticipants", "user/picker"],
	meta: {
		unitID: $.targetUnit.id,
		eventID: $.targetEvent.id
	}
}) %>
<h1><%= $.targetUnit.displayName %></h1>
<main>
	<%~ include("/user/templates/userPicker", {
		users: $.members,
		selected: user => $.targetEvent.participants.hasID(user.id),
		// Cannot invite user added to event from other unit
		disabled: user => {
			const participant = $.targetEvent.participants.id(user.id)
			if(!participant) return
			if(participant.originUnit?.id != $.targetUnit.id) return true
		},
		multiple: true
	}) %>
</main>
<hr>
<p>Ilość wybranych uczestników: <span id="user-count">0</span></p>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<button api="unit/[unitID]/event/[eventID]/setParticipants">
		<i>check</i>
		Potwierdź uczestników
	</button>
</div>