<% layout("/layouts/dialog", {
	scripts: ["unit/chooseEventParticipants", "user/picker"],
	styles: ["user/picker"],
	meta: {
		unitID: $.targetUnit.id,
		eventID: $.targetEvent.id
	}
}) %>
<h1><%= $.targetUnit.displayName %></h1>
<main>
	<section class="fill-height">
		<%~ include("/user/templates/userPicker", {
			tree: $.tree,
			multiple: true,
			selected: user => $.targetEvent.participants.hasID(user.id),
			// Cannot invite user added to event from other unit
			disabled: user => {
				const participant = $.targetEvent.participants.id(user.id)
				if(!participant) return
				if(participant.originUnit?.id != $.targetUnit.id) return true
			},
			limit: $.targetEvent.limit.perUnit
		}) %>
	</section>
</main>
<hr>
<div class="button-row">
	<button>
		<%~ icon`arrow_back` %>
		Anuluj
	</button>
	<button api="unit/[unitID]/event/[eventID]/setParticipants">
		<%~ icon`check` %>
		Potwierdź uczestników
	</button>
</div>