<% layout("/layouts/main", {
	title: "Lista użytkowników",
	styles: ["unit/memberList"],
	meta: {
		unitID: $.targetUnit.id
	},
	navPath: {
		[$.targetUnit.displayName]: `/units/${$.targetUnit.id}`
	}
}) %>
<h1>	
	<i>person</i>
	<%= $.targetUnit.displayName %> - Lista użytkowników
</h1>
<section>
	<% if($.members.length) { %>
		<% function displayUnit(unit, org) { %>
			<% org ||= unit.org %>
			<% const memberCount = unit.countMembers(true) %>
			<% if(memberCount == 0) return %>
			<% if(unit.id != $.targetUnit.id) { %>
				<h3>
					<a href="/units/<%= unit.id %><%= org != unit.org ? `?org=${org}` : "" %>"><%= unit.displayName %></a>
					<% if(org && org != unit.org) { %>
						<span>(z perspektywy: <%= Config.orgs[org]?.name || org %>)</span>
					<% } %>
				</h3>
			<% } %>
			<% if(unit.roles.length > 0) { %>
				<div class="entry-grid">
					<% for(const {user} of unit.roles) { %>
						<% if(org && user.org != org) continue %>
						<%~ include("/user/templates/userEntry.html", {
							targetUser: user
						}) %>
					<% } %>
				</div>
			<% } %>
			<% for(const subUnit of unit.orgSubUnits(org)) { %>
				<div class="sub-unit">
					<% displayUnit(subUnit, org) %>
				</div>
			<% } %>
		<% } %>
		<% displayUnit($.targetUnit, $.orgContext) %>
	<% } else { %>
		<p>Brak użytkowników w tej jednostce.</p>
	<% } %>
</section>

<% if($.user.hasPermission($.targetUnit.PERMISSIONS.ACCESS_ARCHIVED_MEMBERS) && $.targetUnit.archivedUsers?.length > 0) { %>
	<section>
		<h2>
			<i>archive</i>
			Zarchiwizowani użytkownicy
		</h2>
		<div class="entry-grid">
			<% for(const user of $.targetUnit.archivedUsers) { %>
				<%~ include("/user/templates/userEntry.html", {
					targetUser: user
				}) %>
			<% } %>
		</div>
	</section>
<% } %>