<% layout("/layouts/main", {
	title: "Lista użytkowników",
	styles: ["unit/memberList"],
	meta: {
		unitID: $.targetUnit.id
	},
	navPath: {
		[$.targetUnit.displayName]: `/units/${$.targetUnit.id}`
	}
}) %>
<h1>	
	<i>person</i>
	<%= $.targetUnit.displayName %> - Lista użytkowników
</h1>
<section>
	<% function renderNode(node) { %>
		<% if(node.unit.id != $.targetUnit.id) { %>
			<h3>
				<a href="/units/<%= node.unit.id %><%= node.org != node.unit.org ? `?org=${node.org}` : "" %>"><%= node.unit.displayName %></a>
			</h3>
		<% } %>
		<% if(node.members.length > 0) { %>
			<div class="entry-grid">
				<% for(const member of node.members) { %>
					<%~ include("/user/templates/userEntry.html", {
						targetUser: member
					}) %>
				<% } %>
			</div>
		<% } %>
		<% for(const subNode of node.subUnits) { %>
			<div class="sub-unit">
				<% renderNode(subNode) %>
			</div>
		<% } %>
	<% } %>
	<% renderNode($.graph) %>
</section>

<% if($.user.hasPermission($.targetUnit.PERMISSIONS.ACCESS_ARCHIVED_MEMBERS) && $.targetUnit.archivedUsers?.length > 0) { %>
	<section>
		<h2>
			<i>archive</i>
			Zarchiwizowani użytkownicy
		</h2>
		<div class="entry-grid">
			<% for(const user of $.targetUnit.archivedUsers) { %>
				<%~ include("/user/templates/userEntry.html", {
					targetUser: user
				}) %>
			<% } %>
		</div>
	</section>
<% } %>