<% layout("/layouts/body", {
	title: $.targetUnit.displayName,
	scripts: ["unit/page"],
	// styles: ["unit/page"],
	meta: {
		unitID: $.targetUnit.id
	}
}) %>
<% const orgParam = $.orgContext ? `?org=${$.orgContext}` : "" %>

<h1 id="entry-title">
	<% if($.user.hasPermission($.targetUnit.PERMISSIONS.EDIT)) { %>
		<input
			type="text"
			name="name"
			placeholder="Nazwa jednostki"
			autocomplete="off"
			api="unit/[unitID]/update/name"
			value="<%= $.targetUnit.name || "" %>"
			title="Zmień nazwę"
		>
	<% } else { %>
		<%= $.targetUnit.displayName %>
	<% } %>
</h1>

<% if($.targetUnit.upperUnits?.length > 0) { %>
	<p>
		<%= $.targetUnit.typeName %> w <%~ include("/templates/linkList", $.targetUnit.upperUnits.map(j => [`/units/${j.id}`, j.displayName])) %>
		<% if($.targetUnit.org) { %>
			(<%= Config.orgs[$.targetUnit.org]?.name || $.targetUnit.org %>)
		<% } %>
	</p>
<% } %>

<div class="button-row">
	<% if($.user.hasPermission($.targetUnit.PERMISSIONS.EDIT)) { %>
		<button id="delete-unit-button" class="dangerous" opens-dialog="/units/<%= $.targetUnit.id %>/delete">
			<i>delete</i>
			<span>Usuń jednostkę</span>
		</button>
	<% } %>
</div>

<% if($.targetUnit.roles?.length > 0 || $.user.hasPermission($.targetUnit.PERMISSIONS.CREATE_USER) || $.user.hasPermission($.targetUnit.PERMISSIONS.SET_ROLE)) { %>
	<section>
		<h2>
			<i>person</i>
			Użytkownicy
		</h2>
		<% if($.user.hasPermission($.targetUnit.PERMISSIONS.ACCESS_MEMBERS) && $.targetUnit.subUnits?.length > 1) { %>
			<a href="/units/<%= $.targetUnit.id %>/members<%= orgParam %>" class="heading-link">Pełna lista</a>
		<% } %>
		<% if($.targetUnit.roles?.length > 0) { %>
			<div id="unit-member-list" class="entry-grid">
				<% function displayUsers(roles) { %>
					<% for(const role of roles) { %>
						<% if(!$.user.hasPermission($.targetUnit.PERMISSIONS.ACCESS_MEMBERS) && !role.hasTag("public")) return %>
						<%~ include("/user/templates/userEntry.html", {
							targetUser: role.user,
							description: role.displayName,
							classList: $.orgContext && role.org != $.orgContext ? "faded" : null
						}) %>
					<% } %>
				<% } %>
				<% displayUsers($.targetUnit.roles.filter(r => r.config.rank > 0)) %>
				<hr class="grid-break">
				<% if($.orgContext) { %>
					<% displayUsers($.targetUnit.roles.filter(r => r.config.rank <= 0 && r.org == $.orgContext)) %>
					<hr class="grid-break">
					<% displayUsers($.targetUnit.roles.filter(r => r.config.rank <= 0 && r.org != $.orgContext)) %>
				<% } else { %>
					<% displayUsers($.targetUnit.roles.filter(r => r.config.rank <= 0)) %>
				<% } %>
			</div>
		<% } %>
		<div class="button-row">
			<% if($.user.hasPermission($.targetUnit.PERMISSIONS.SET_ROLE)) { %>
				<button opens-dialog="/units/<%= $.targetUnit.id %>/setRole<%= orgParam %>">
					<i>add_moderator</i>
					<span>Mianuj na funkcję</span>
				</button>
			<% } %>
			<% if($.user.hasPermission($.targetUnit.PERMISSIONS.CREATE_USER)) { %>
				<button id="create-user-button" opens-dialog="/units/<%= $.targetUnit.id %>/createUser<%= orgParam %>">
					<i>person_add</i>
					<span>Utwórz użytkownika</span>
				</button>
			<% } %>
		</div>
	</section>
<% } %>

<% if($.targetUnit.subUnits?.length > 0 || $.user.hasPermission($.targetUnit.PERMISSIONS.ADD_SUBUNIT)) { %>
	<section>
		<h2>
			<i>groups</i>
			Jednostki
		</h2>
		<div id="sub-unit-list" class="entry-grid">
			<% for(const subUnit of $.targetUnit.subUnits || []) { %>
				<%
					let org, fade
				
					// If subUnit is in different org, fade it, unless this is its only upperUnit
					if($.orgContext && subUnit.org && subUnit.org != $.orgContext && subUnit.upperUnits.length == 1) fade = true
				
					else {
						// Pass org context to subUnit links, if subUnit org is different
						if($.orgContext && subUnit.org != $.orgContext) org = $.orgContext
						// Create new org context, if subUnit is in different org
						else if(subUnit.org != $.targetUnit.org) org = $.targetUnit.org
					}
					
				%>
				<%~ include("templates/unitEntry.html", {
					targetUnit: subUnit,
					description: subUnit.typeName,
					org,
					classList: fade ? "faded" : null
				}) %>
			<% } %>
		</div>
		<% if($.user.hasPermission($.targetUnit.PERMISSIONS.ADD_SUBUNIT)) { %>
			<button id="add-sub-unit-button" opens-dialog="/units/<%= $.targetUnit.id %>/addSubUnit<%= orgParam %>">
				<i>add</i>
				<span>Dodaj jednostkę</span>
			</button>
		<% } %>
	</section>
<% } %>

<% if(
	$.targetUnit.events.length > 0 ||
	$.user.hasPermission($.targetUnit.PERMISSIONS.CREATE_EVENT) ||
	$.user.hasPermission($.targetUnit.PERMISSIONS.MANAGE_INVITES)
) { %>
	<section>
		<h2>
			<i>hiking</i>
			Akcje
		</h2>
		<% if($.targetUnit.events.length) { %>
			<div id="unit-event-list" class="entry-grid">
				<% for(const event of $.targetUnit.events) { %>
					<%~ include("/event/templates/eventEntry.html", {
						targetEvent: event
					}) %>
				<% } %>
			</div>
		<% } %>
		<% const eventInvites = $.targetUnit.eventInvites.filter(e => !$.targetUnit.events.hasID(e.id)) %>
		<% if(eventInvites.length && $.user.hasPermission($.targetUnit.PERMISSIONS.MANAGE_INVITES)) { %>
			<h3>Zaproszenia na akcje</h3>
			<div id="invited-event-list" class="entry-grid">
				<% for(const event of eventInvites) { %>
					<%
						const invite = event.invitedUnits.id($.targetUnit.id)

						let content
						if(invite?.state == "accepted") {
							if(invite.invitedParticipants.length > 0) {
								content = `Dodani uczestnicy: ${invite.invitedParticipants.length}`
							} else {
								content = `Zaproszenie zaakceptowane`
							}
						}
					%>
					<%~ include("/event/templates/eventEntry.html", {
						targetEvent: event,
						content,
						warnings: Array.conditional(
							invite?.state == "pending", "Oczekujące zaproszenie"
						)
					}) %>
				<% } %>
			</div>
		<% } %>
		<div class="button-row">
			<% if($.user.hasPermission($.targetUnit.PERMISSIONS.CREATE_EVENT)) { %>
				<button id="create-event-button" opens-dialog="/units/<%= $.targetUnit.id %>/createEvent">
					<i>tour</i>
					<span>Utwórz akcję</span>
				</button>
			<% } %>
		</div>
	</section>
<% } %>