<% layout("/layouts/dialog", {
	scripts: ["unit/setRole", "user/picker"],
	styles: ["unit/setRole", "user/picker"],
	meta: {
		unitID: $.targetUnit.id
	}
}) %>
<h1>
	<i>add_moderator</i>
	Mianowanie na funkcję
</h1>
<main>
	<% if(Object.keys($.usersForAssignment).length) { %>
		<section>
			<h2>Wybierz funkcję</h2>
			<form>
				<label for="role-select">Funkcja:</label>
				<select id="role-select" name="roleType">
					<% for(const roleID of $.targetUnit.config.roles || []) { %>
						<% const role = Config.roles[roleID] %>
						<% if($.userRole && $.userRole.config.rank < role.rank) continue %>
						<option
							value="<%= roleID %>"
							data-name-variants="<%= JSON.stringify(role.name) %>"
						>
							<%= role.name[$.orgContext] || role.name[$.targetUnit.org] || role.name["default"] %>
						</option>
					<% } %>
					<option value="remove">
						(usuń użytkownika z jednostki)
					</option>
				</select>
			</form>
		</section>
			
		<section>
			<h2>Wybierz użytkownika</h2>
			<%~ include("/user/templates/userPicker", {
				users: $.usersForAssignment
			}) %>
		</section>
	<% } else { %>
		<p>Brak użytkowników do mianowania</p>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<% if(Object.keys($.usersForAssignment).length) { %>
		<button id="set-role-button" api="unit/[unitID]/member/[userID]/setRole">
			<i>check</i>
			<span>Potwierdź mianowanie</span>
		</button>
	<% } %>
</div>