<% layout("/layouts/dialog", {
	scripts: ["unit/setRole", "user/picker"],
	styles: ["user/picker"],
	meta: {
		unitID: $.targetUnit.id
	}
}) %>
<h1>
	<i>add_moderator</i>
	Mianowanie na funkcję
</h1>
<main>
	<% if($.graph.userCount) { %>
		<section>
			<h2>Wybierz funkcję</h2>
			<form>
				<label for="role-select">Funkcja:</label>
				<select id="role-select" name="roleType">
					<% for(const roleID of $.roleOptions || []) { %>
						<% const role = Config.roles[roleID] %>
						<option
							value="<%= roleID %>"
							data-name-variants="<%= JSON.stringify(role.name) %>"
							<% if(roleID == $.targetUnit.config.defaultRole) { %> selected <% } %>
						>
							<%= role.name[$.orgContext] || role.name[$.targetUnit.org] || role.name["default"] %>
						</option>
					<% } %>
					<option value="remove">
						(usuń z jednostki)
					</option>
				</select>
			</form>
		</section>
			
		<section class="fill-height">
			<h2>Wybierz użytkowników</h2>
			<%~ include("/user/templates/userPicker", {
				graph: $.graph,
				multiple: true
			}) %>
		</section>
	<% } else { %>
		<p>Brak użytkowników do mianowania</p>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Anuluj
	</button>
	<% if($.graph.userCount) { %>
		<button id="set-role-button" api="unit/[unitID]/member/setRole">
			<i>check</i>
			<span>Potwierdź mianowanie</span>
		</button>
	<% } %>
</div>