<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= $.title %></title>
	<%
		$.scripts ||= []
		$.scripts.unshift("global")
		$.styles ||= []
		$.styles.unshift("global")

		const assetVersion = Number(SERVER_TIME).toString(36).substring(3)
	%>
	<% for (const script of $.scripts) { %>
		<script src="/js/<%= script %>.js?v=<%= assetVersion %>" defer></script>
	<% } %>
	<% for (const style of $.styles) { %>
		<link rel="stylesheet" href="/css/<%= style %>.css?v=<%= assetVersion %>">
	<% } %>
	<% for (const metaName in $.meta || {}) { %>
		<%
			let metaContent = $.meta[metaName]
			let metaBase64 = false
			if(typeof metaContent != "string") {
				metaContent = JSON.stringify($.meta[metaName])
				metaContent = Base64.encode(metaContent)
				metaBase64 = true
			}
		%>
		<meta name="<%= metaName %>" content="<%= metaContent %>"<% if(metaBase64) { %> base64<% } %>>
	<% } %>
</head>