<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= $.title || "" %></title>
	<link rel="icon" href="/watra.svg">
	<% if($.baseTarget) { %>
		<base target="<%= $.baseTarget %>">
	<% } %>
	<%
		$.scripts ||= []
		$.scripts.unshift("global")
		$.scripts.unshift("theme")
		$.styles ||= []
		$.styles.unshift("global")

		const assetVersion = globalThis.DEV ? globalThis.SERVER_TIME.getTime().toString(36) : globalThis.VERSION
	%>
	<% for (const script of $.scripts) { %>
		<script src="/js/<%= script %>.js?v=<%= assetVersion %>" defer></script>
	<% } %>
	<% for (const style of $.styles) { %>
		<link rel="stylesheet" href="/css/<%= style %>.css?v=<%= assetVersion %>">
	<% } %>
	<% for (const metaName in $.meta || {}) { %>
		<%
			let metaContent = $.meta[metaName]
			let metaBase64 = false
			if(typeof metaContent != "string") {
				if(!metaContent) continue
				metaContent = JSON.stringify(metaContent)
				metaContent = Base64.encode(metaContent)
				metaBase64 = true
			}
		%>
		<meta name="<%= metaName %>" content="<%= metaContent %>"<% if(metaBase64) { %> base64<% } %>>
	<% } %>
</head>