<% let signatureEnabled = true %> 
<% if(Config.passkeyRequired && $.user.auth.keys.length == 0) { %>
	<% signatureEnabled = false %>
	<p class="warning">
		<i>warning</i>
		Dodaj klucz dostępu do swojego profilu, aby umożliwić podpisywanie.
	</p>
<% } %>
<%
	$.id ||= "signature"
%>
<div class="signature-container input<% if($.signature) { %> complete<% } else if(!signatureEnabled) { %> disabled<% } %>" name="signature" id="<%= $.id %>">
	<% if($.signature) { %>
		<div class="signature-info">
			<h3>
				<i>check</i>
				Podpisano
			</h3>
			<p><%= $.signature.name %><br><%= datetime.format($.signature.time, "dd/MM/yyyy HH:mm") %></p>
		</div>
	<% } else { %>
		<h3>
			<i>stylus</i>
			Podpis
		</h3>
		<div class="signature-slider-container">
			<div class="signature-slider">
				<i></i>
			</div>
			<p>Przesuń aby podpisać</p>
			<p class="loading-text">Podpisywanie...</p>
		</div>
	<% } %>
</div>