<%
	const passkeyRequired = !$.signature && Config.passkeyRequired && $.user.auth.keys.length == 0
%> 
<% if(passkeyRequired) { %>
	<p class="warning">
		<%~ icon`warning` %>
		Dodaj klucz dostępu do profilu, aby umożliwić podpisywanie
	</p>
<% } %>
<%
	$.id ||= "signature"
%>
<div class="signature-container input<% if($.signature) { %> complete<% } else if(passkeyRequired) { %> disabled<% } %>" name="signature" id="<%= $.id %>">
	<% if($.signature) { %>
		<div class="signature-info">
			<h3>
				<%~ icon`check` %>
				Podpisano
			</h3>
			<p><%= $.signature.name %><br><%= datetime.format($.signature.time, "dd/MM/yyyy HH:mm") %></p>
		</div>
	<% } else { %>
		<h3>
			<%~ icon`stylus` %>
			Podpis
		</h3>
		<div class="signature-slider-container">
			<div class="signature-slider">
				<i></i>
			</div>
			<p>
			<% if(passkeyRequired) { %>
				Dodaj klucz dostępu
			<% } else { %>
				Przesuń aby podpisać
			<% } %>
			<p class="loading-text">Podpisywanie...</p>
		</div>
	<% } %>
</div>