<header>
	<nav>
		<a href="/"><i>home</i></a>
		<%
			$.navPath ??= {}
			
			if($.navPath === false) $.navPath = {}
			else $.navPath[$.title] = ""
			
			for(const entry in $.navPath) {
				const link = $.navPath[entry]
				%>
					<i>arrow_right</i>
					<% if(link) { %>
						<a href="<%= link %>"><%= entry %></a>
					<% } else { %>
						<a><%= entry %></a>
					<% } %>
				<%
			}
		%>
	</nav>
	<a
		<% if($.user) { %>
			opens-dialog="/users/switcher"
		<% } else { %>
			href="/login"
		<% } %>
			id="user-profile-link"
	>
		<i>person</i>
		<span><%_= $.user?.name.first || "" _%></span>
	</a>
</header>