:root {
	--border-color: var(--secondary-border)
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	margin: 0;
	overflow: hidden;
}

body h1 {
	font-size: 1.5em;
	margin-top: 0;
}

body h2 {
	font-size: 1.25em;
}

body > .button-row:last-child button:first-child:not(.confirm) {
	margin-right: auto;
}

main {
	overflow: auto;
	max-height: 100%;
	max-width: none;
	margin: 0;
}

main > :first-child {
	margin-top: 0;
}

button.confirm {
	display: block;
	margin-left: auto;
	margin-right: 0;
}