html, body {
	max-height: 100vh;
	overflow: hidden;
}

/* Large dialog layout */
html:has(section.fill-height) {
	height: 100%;

	body {
		height: 100%;
	}
	
	main section.fill-height {
		flex: 1;
		min-height: 0;
		
		display: flex;
		flex-direction: column;
		overflow: auto;
	}
}

body {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	margin: 0;
	padding: 0.5em;
	box-sizing: border-box;
}

body h1 {
	font-size: 1.5em;
	margin-top: 0;
}

body h2 {
	font-size: 1.25em;
}

body > .button-row:last-child button:first-child:not(.confirm) {
	margin-right: auto;
}

main {
	display: flex;
	flex-direction: column;
	
	padding: 0;
	height: 100%;
	max-width: none;
	margin: 0;

	animation: enable-scroll 500ms;
}

@keyframes enable-scroll {
	from { overflow: hidden }
	to { overflow: auto }
}

main > * {
	margin-top: 0;
}

body > main > :first-child {
	margin-top: 0;
}

button.confirm {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

textarea {
	field-sizing: fixed;
}

body > hr {
	margin-top: auto;
}

/* transitions */
main > * {
	opacity: 1;
	transition: 250ms opacity, 250ms scale;
}

body.unload main > * {
	opacity: 0;
	scale: 99% 100%;
	cursor: wait;
}

body.unload::after {
	animation: spin 1s infinite linear;
}