:root {
	--border-color: var(--border-highlight-color)
}

body {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	margin: 0;
	overflow: hidden;
}

body > h1 {
	font-size: 1.5em;
	margin-top: 0;
}

.button-row:last-child button:first-child{
	margin-right: auto;
}

main {
	max-width: none;
	margin: 0;
}