pre {
	background-color: var(--background-color-secondary);
	border-radius: var(--border-radius);
	padding: 1em;
}

table th {
	min-width: 8em;
	padding-right: 1em;
	text-align: left;
	vertical-align: top;
}