pre {
	background-color: var(--secondary-background);
	color: var(--secondary-text);
	border-radius: var(--border-radius);
	padding: 1em;
}

table th {
	min-width: 8em;
	padding-right: 1em;
	text-align: left;
	vertical-align: top;
}