.form-element[contenteditable] {
	display: block;
	border-radius: var(--border-radius);
	transition: padding 250ms, background-color 250ms;
	cursor: text;

	&:focus {
		padding: 0.25em;
		background-color: var(--surface-3);
	}
}

.form-payment-container {
	background-color: var(--surface-2);
	padding: 1em;
	border-radius: var(--border-radius);
	width: fit-content;
	min-width: 10em;
	margin: 1em 0;

	h3 {
		margin: 0;
	}

	p {
		margin-bottom: 0;
	}

	button {
		margin-top: 0.5em;
	}
}