/* Imports and themes */

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=block);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL@20,700,1);

@import url(/css/themes/light.css?v=1);
@import url(/css/themes/dark.css?v=1) (prefers-color-scheme: dark);

/* Content layout */

body {
	font-family: Lato, sans-serif;
	background-color: var(--background);
	color: var(--text);
}

main {
	max-width: 60em;
	margin: 0 auto;
	overflow-x: auto;
}

::selection {
	background-color: var(--background);
	color: var(--text);
}


/* Material icons */

@font-face {
	font-family: blank;
	size-adjust: 0%;
	src: local("Arial");
}

i, button.icon {
	font-family: "Material Symbols Sharp", blank;
	font-style: normal;
	color: inherit;

	display: inline-block;
	font-size: 0.99em; /* 🤔 */
	width: 1em;
	margin-right: 0.25em;
	
	overflow: hidden;
	vertical-align: bottom;
	white-space: nowrap;

	user-select: none;
}

button i, header i {
	scale: 1.25;
}

i.spin {
	animation: spin 1s infinite linear;
	scale: 0.9;
}


/* Form layout */

form {
	display: grid;
	width: min-content;
	max-width: 100%;
	grid-template-columns: auto 1fr;
	column-gap: 0.5em;
	row-gap: 0.5em;
	align-items: center;
	margin: 1em 0;
}

form button:last-child, form h1, form h2, form h3 {
	margin-bottom: 0.5em;
	white-space: nowrap;
	grid-column: 1 / -1;
}

form input, form select {
	width: 15em;
}


/* Form elements */

input, button, select, textarea {
	font-family: Lato, sans-serif;
	padding: 0.5em;
	border-radius: var(--border-radius);
	transition: border-color 250ms, background-color 250ms;
	border: none;
	box-sizing: border-box;
}

textarea {
	min-width: 20em;
	max-width: 100%;
	min-height: 5em;
	field-sizing: content;
	resize: none;
}

label {
	vertical-align: middle;
	white-space: nowrap;
}

label > * {
	margin: 0;
}

/* Input elements */

input, select, textarea {
	background-color: var(--input-background);
	color: var(--input-text);
	accent-color: var(--input-accent);
	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline 250ms;
}

input:focus, select:focus, textarea:focus {
	outline: 1px solid var(--input-text);
}

input:disabled, select:disabled, textarea:disabled {
	background-color: var(--disabled-input-background);
}

input.invalid, select.invalid {
	background-color: var(--invalid-input-background);
}

input[type^=date]:disabled:not([value]) {
	color: transparent;
}

input[type=checkbox], input[type=radio] {
	vertical-align: middle;
	height: 1.5em;
	width: 1.5em;
}

input[type=checkbox]:focus, input[type=radio]:focus {
	outline: none;
}

input[type=checkbox]:focus-visible, input[type=radio]:focus-visible {
	outline: 1px solid var(--input-text);
}

input[type=checkbox]:disabled + label, input[type=radio]:disabled + label {
	opacity: 0.5;
}

h1 > input, h2 > input {
	background-color: transparent;
	padding: 0;
	width: unset;
	field-sizing: content;
	font-size: inherit;
	font-weight: inherit;
	transition: padding 250ms, background-color 250ms;
}

h1 > input:focus, h2 > input:focus {
	background-color: var(--input-background);
	padding: 0.25em;
}

/* Buttons */

button {
	cursor: pointer;
	color: var(--text);
	background-color: var(--background);
	overflow: hidden;
	white-space: nowrap;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button:not(:disabled):hover,
button:not(:disabled):focus-visible, 
a:focus-visible > button:only-child {
	background-color: var(--hover-background);
	outline: none;
}

button.icon {
	background-color: transparent;
	padding: 0;
	margin: 0;
	transition: opacity 250ms;
}

button.icon:hover, button.icon:focus-visible {
	background-color: transparent;
	opacity: 0.5;
}

/* Other elements */

h1 + h2 {
	margin-top: -0.5em;
}

a {
	color: var(--text);
	outline: none;
	cursor: pointer;
	transition: opacity 250ms;
}

a:has(button) {
	text-decoration: none;
}

a:not(:has(button)):hover,
a:not(:has(button)):focus-visible {
	opacity: 0.5;
}

hr {
	border: solid 1px var(--border);
	border-bottom: 0;
	width: 100%;
	grid-column: 1 / -1;
	box-sizing: border-box;
}

details > summary {
	cursor: pointer;
	text-decoration: underline;
	transition: opacity 250ms;
}

details > summary:hover {
	opacity: 0.5;
}

details > summary > * {
	display: inline;
}


pre {
	overflow-x: auto;
	background-color: var(--secondary-background);
	color: var(--secondary-text);
	border-radius: var(--border-radius);
	padding: 1em;
}

article {
	padding: 1em;
	margin: 0.5em 0;
	border-radius: var(--border-radius);
	background-color: var(--secondary-background);
	color: var(--secondary-text);
}

article > h1:first-child {
	margin-top: 0;
	font-size: 2em;
}

li {
	margin: 0.5em 0;
}

li > * {
	margin-top: 0;
	margin-bottom: 0;
}

p.warning {
	background-color: var(--background);
	border-radius: var(--border-radius);
	padding: 0.5em;
	/* width: fit-content; */
}

p.warning + p.warning {
	margin-top: -0.5em;
}

.heading-link {
	display: block;
	margin-top: -1em;
	margin-bottom: 1em;
}

/* Custom layouts */

.button-row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5em;
	gap: 0.5em;
}

.button-row:not(:has(button)) {
	display: none;
}

.unit-grid, .unit-list {
	--unit-grid-columns: 3;
	
	margin: 0.5em 0;
	display: grid;
	grid-template-columns: repeat(var(--unit-grid-columns), 1fr);
	gap: 0.5em;

	& > div, & > a {
		padding: 0.5em;

		overflow: hidden;
		border-radius: var(--border-radius);

		text-decoration: none;

		& > .unit-header {
			display: flex;
		}

		& .unit-image {
			margin-right: 0.5em;
			display: flex;
		}

		& .unit-image > i {
			margin: auto;
			font-size: 2em;
		}

		& .unit-title {
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;

			& > * {
				margin: 0;
				
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		& > .unit-content {
			& > :last-child {
				margin-bottom: 0;
			}
		}

		& > label {
			margin-left: 0.5em;
		}
		
		& > hr {
			border-color: var(--secondary-border);
		}
	}

	& > a {
		background-color: var(--secondary-background);
		color: var(--secondary-text);
		transition: background-color 250ms;
		opacity: 1 !important;
		
		&:hover, &:focus-visible {
			background-color: var(--secondary-hover-background);
			opacity: 1 !important;
		}
	}

	& > div {
		border: 1px solid var(--border)
	}

	& > .grid-break {
		display: block;
		grid-column: 1 / -1;
		visibility: hidden;
		margin: 0;
		height: 0;

		&:last-child {
			display: none;
		}
	}
}

.unit-list {
	--unit-grid-columns: 1;
}

@media (max-width: 45em) {
	.unit-grid {
		--unit-grid-columns: 2;
	}
}

@media (max-width: 25em) {
	.unit-grid {
		--unit-grid-columns: 1;
	}
}

.section-unit {
	padding: 1em;
	margin: 1em 0;
	border: solid 1px var(--border);
	border-radius: var(--border-radius);

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

section {
	display: flex;
	flex-wrap: wrap;
}

section > * {
	height: fit-content;
	margin-top: 0;
}

section > *:not(:last-child) {
	margin-right: 2em;
}


/* Popups and dialogs */

dialog {
	position: fixed;
	inset: 0;
	margin: auto !important;
	flex-direction: column;
	
	padding: 1em;
	width: 25em;
	max-width: 80vw;
	min-height: 5em;
	max-height: 90vh;

	color: var(--text);
	background-color: var(--background);
	border-radius: var(--border-radius);
	border: none;

	box-shadow: 0 0 0.25em var(--shadow);
}

dialog::backdrop {
	background-color: #0006
}

dialog > h1:first-child {
	margin: 0;
	font-size: 1.5em;
}

dialog .button-row {
	margin-top: auto;
	justify-content: flex-end;
}

dialog .button-row button:first-child:not(:only-child) {
	margin-right: auto;
}

dialog.message {
	min-width: 10em;
	min-height: 1em;
	top: unset;
	bottom: 2em;
	flex-direction: row;
	align-items: center;
	transition: bottom 250ms;
}

dialog.message > i, dialog.message button.icon {
	margin-right: 1em;
}

dialog.message > p {
	flex: 1;
	margin: 0;
	padding-right: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

dialog.message > button.icon {
	margin-left: auto;
	margin-right: 0;
}

dialog[open] {
	animation: popup-show 250ms forwards;
}

dialog:not([open]) {
	animation: popup-hide 250ms forwards;
}

dialog.message:nth-of-type(1) { bottom: 2.5em }
dialog.message:nth-of-type(2) { bottom: 3.0em }
dialog.message:nth-of-type(3) { bottom: 3.5em }
dialog.message:nth-of-type(4) { bottom: 4.0em }
dialog.message:nth-of-type(n+5) { bottom: 4.5em }

dialog.message.progress > i {
	animation: spin 1s infinite linear;
}

dialog iframe {
	border: none;
	height: 0;
	max-height: 90vh;
	opacity: 0;
	transition: height 250ms, opacity 250ms;
}

dialog.frame {
	width: 30em;

	& > i.spin {
		margin: auto;
		scale: 1.5;
	}

	& > iframe.loaded {
		opacity: 1;
	}
}

dialog.frame:has(> iframe.loaded) i.spin {
	display: none;
}

/* Page data refresh animations */
.removing { animation: element-shrink 250ms forwards }
.adding { animation: element-grow 250ms }
.fade-out { animation: fade-out 250ms forwards linear }
.fade-in { animation: fade-in 250ms linear }

/* Animations */

@keyframes popup-show {
	from {
		opacity: 0;
		scale: 0.8;
		display: none;
	}
	to {
		opacity: 1;
		scale: 1;
		display: flex;
	}
}

@keyframes popup-hide {
	from {
		opacity: 1;
		scale: 1;
		display: flex;
	}
	to {
		opacity: 0;
		scale: 0.8;
		display: none;
	}
}

@keyframes element-grow {
	from {
		opacity: 0;
		scale: 0.8;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes element-shrink {
	from {
		opacity: 1;
		scale: 1;
	}
	to {
		opacity: 0;
		scale: 0.8;
	}
}

@keyframes fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes fade-out {
	from { opacity: 1 }
	to { opacity: 0 }
}

@keyframes spin {
	from {
		rotate: 0turn;
	}
	to {
		rotate: 1turn;
	}
}