/* Imports and themes */

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=block);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Sharp);

@import url(/css/themes/light.css);
@import url(/css/themes/dark.css) (prefers-color-scheme: dark);

/* Content layout */

body {
	font-family: Lato, sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

main {
	max-width: 60em;
	margin: 0 auto;
}


/* Material icons */
span.icon {
	font-family: "Material Icons Sharp";
	display: inline;
	font-size: 1.2em;
	margin-right: 0.2em;
	vertical-align: bottom;
}


/* Form layout */

form {
	display: inline-grid;
	grid-template-columns: auto 8em;
	column-gap: 1em;
	row-gap: 0.25em;
	align-items: baseline;
}

form button:last-child {
	grid-column: 1 / -1;
}


/* Form elements */

input, button, select, textarea {
	font-family: Lato, sans-serif;
	padding: 0.5em;
	border-radius: var(--border-radius);
	transition: border-color 250ms, background-color 250ms;
	border: none;
}

/* Input elements */

input, select, textarea {
	background-color: var(--background-color-secondary);
	color: var(--text-color);
	outline: none;
}

input:hover, select:hover, textarea:hover {
	border-color: var(--border-highlight-color);
}

input:disabled, select:disabled, textarea:hover {
	background-color: var(--background-color-disabled);
}

input[type=date]:disabled:not([value]) {
	color: transparent;
}

input[type=checkbox] {
	height: 1.5em;
	width: 1.5em;
}


/* Buttons */

button {
	cursor: pointer;;
}


/* Other elements */

a {
	color: var(--text-color);
	transition: opacity 250ms;
}

a:not(:has(button)):hover {
	opacity: 0.5;
}

hr {
	border: solid 1px var(--border-color);
}

details > summary {
	cursor: pointer;
	text-decoration: underline;
	transition: opacity 250ms;
}

details > summary:hover {
	opacity: 0.5;
}

pre {
	overflow-x: auto;
}

article {
	padding: 1em;
	margin: 0.5em 0;
	border-radius: var(--border-radius);
	background-color: var(--background-color-secondary);
}

article > h1:first-child {
	margin-top: 0;
	font-size: 2em;
}

li {
	margin: 0.5em 0;
}

li > * {
	margin-top: 0;
	margin-bottom: 0;
}


/* Custom layouts */
.unit-grid {
	margin: 0.5em 0;
}

.unit-grid > div, .unit-grid > a {
	display: inline-block;
	width: 9em;
	padding: 1em;
	margin: 0.5em;

	border-radius: var(--border-radius);
	background-color: var(--background-color-secondary);

	text-decoration: none;

	& > * {
		margin: 0;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}