@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap);

body {
	font-family: Lato, sans-serif;
	background-color: #222;
	color: white;
}

a {
	color: white;
}

input[type=checkbox] {
	height: 1.5em;
	width: 1.5em;
}