/* Imports and themes */

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=block);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:FILL@1);

@import url(/css/themes/light.css);
@import url(/css/themes/dark.css) (prefers-color-scheme: dark);

/* Content layout */

body {
	font-family: Lato, sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

main {
	max-width: 60em;
	margin: 0 auto;
}


/* Material icons */

@font-face {
	font-family: blank;
	size-adjust: 0%;
	src: local("Arial");
}

span.icon, button.icon {
	font-family: "Material Symbols Sharp", blank;

	display: inline-block;
	font-size: 0.99em; /* 🤔 */
	scale: 1.25;
	width: 1em;
	margin-right: 0.25em;
	
	overflow: hidden;
	vertical-align: bottom;

	user-select: none;
}


/* Form layout */

form {
	display: inline-grid;
	grid-template-columns: repeat(2, auto);
	column-gap: 1em;
	row-gap: 0.25em;
	align-items: baseline;
}

form button:last-child {
	grid-column: 1 / -1;
}

form input, form select {
	width: 15em;
}


/* Form elements */

input, button, select, textarea {
	font-family: Lato, sans-serif;
	padding: 0.5em;
	border-radius: var(--border-radius);
	transition: border-color 250ms, background-color 250ms;
	border: none;
}

/* Input elements */

input, select, textarea {
	background-color: var(--background-color-secondary);
	color: var(--text-color);
	outline: none;
}

input:hover, select:hover, textarea:hover {
	border-color: var(--border-highlight-color);
}

input:disabled, select:disabled, textarea:hover {
	background-color: var(--background-color-disabled);
}

input[type=date]:disabled:not([value]) {
	color: transparent;
}

input[type=checkbox] {
	height: 1.5em;
	width: 1.5em;
}


/* Buttons */

button {
	cursor: pointer;
}

button.icon {
	background-color: transparent;
	padding: 0;
	margin: 0;
}


/* Other elements */

a {
	color: var(--text-color);
	transition: opacity 250ms;
}

a:has(button) {
	text-decoration: none;
}

a:not(:has(button)):hover {
	opacity: 0.5;
}

hr {
	border: solid 1px var(--border-color);
}

details > summary {
	cursor: pointer;
	text-decoration: underline;
	transition: opacity 250ms;
}

details > summary:hover {
	opacity: 0.5;
}

pre {
	overflow-x: auto;
}

article {
	padding: 1em;
	margin: 0.5em 0;
	border-radius: var(--border-radius);
	background-color: var(--background-color-secondary);
}

article > h1:first-child {
	margin-top: 0;
	font-size: 2em;
}

li {
	margin: 0.5em 0;
}

li > * {
	margin-top: 0;
	margin-bottom: 0;
}


/* Custom layouts */

.button-row {
	display: flex;
	margin-top: 0.5em;
	gap: 0.5em;
}

.unit-grid {
	--unit-grid-columns: 3;
	
	margin: 0.5em 0;
	display: grid;
	grid-template-columns: repeat(var(--unit-grid-columns), 1fr);
	gap: 1em
}

@media (max-width: 45em) {
	.unit-grid {
		--unit-grid-columns: 2;
	}
}

@media (max-width: 25em) {
	.unit-grid {
		--unit-grid-columns: 1;
	}
}

.unit-grid > div, .unit-grid > a {
	display: inline-block;
	padding: 1em;

	overflow: hidden;
	border-radius: var(--border-radius);
	background-color: var(--background-color-secondary);

	text-decoration: none;

	& > * {
		margin: 0;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}


/* Popups and dialogs */

dialog {
	position: fixed;
	flex-direction: column;
	
	padding: 1em;
	width: 25em;
	max-width: 80vw;
	min-height: 5em;

	background-color: var(--background-color-secondary);
	border-radius: var(--border-radius);
	border: none;

	box-shadow: 0 0 0.25em var(--shadow-color);

	transition: bottom 250ms;
}

dialog::backdrop {
	background-color: #0006
}

dialog > h1:first-child {
	margin: 0;
	font-size: 1.5em;
}

dialog .button-row {
	margin-top: auto;
	justify-content: flex-end;
}

dialog .button-row button:first-child {
	margin-right: auto;
}

dialog.message {
	min-width: 10em;
	min-height: 1em;
	bottom: 2em;
	flex-direction: row;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dialog.message > .icon {
	margin-right: 1em;
}

dialog.message > button.icon {
	margin-left: auto;
	margin-right: 0;
}

dialog[open] {
	animation: fade-grow 250ms forwards;
}

dialog:not([open]) {
	animation: fade-shrink 250ms forwards;
}

dialog.message:nth-of-type(1) { bottom: 2.5em }
dialog.message:nth-of-type(2) { bottom: 3.0em }
dialog.message:nth-of-type(3) { bottom: 3.5em }
dialog.message:nth-of-type(4) { bottom: 4.0em }
dialog.message:nth-of-type(n+5) { bottom: 4.5em }



/* Animations */

@keyframes fade-grow {
	from {
		opacity: 0;
		scale: 0.8;
		display: flex;
	}
	to {
		opacity: 1;
		scale: 1;
		display: flex;
	}
}
@keyframes fade-shrink {
	from {
		opacity: 1;
		scale: 1;
		display: flex;
	}
	to {
		opacity: 0;
		scale: 0.8;
		display: flex;
	}
}