main {
	width: 30em;
	max-width: 80%;
	margin: 5em auto;

	background-color: var(--surface-1);
	border-radius: var(--border-radius);
	padding: 1em;
}

main > section {
	background-color: var(--surface-2);
}

main > section:last-child {
	margin-bottom: 0;
}

.entry-grid > div {
	background-color: var(--surface-3);
}

main > h1 {
	margin-top: 0;
}

#verification-placeholder-form {
	grid-template-columns: 1.5em auto;
	align-items: center;
}

#user-code-input {
	width: 10em;
}

#login-button {
	display: block;
	margin: 4em auto;
	padding: 1em 2em;
	font-size: 1em;
}

.entry-grid {
	--entry-grid-columns: 2;
}

@media (max-width: 37.5em) {
	.entry-grid {
		--entry-grid-columns: 1;
	}
}