main {
	width: 30em;
	max-width: 80%;
	margin: 5em auto;

	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 1em;
}

main > h1 {
	margin-top: 0;
}

#verification-placeholder-form {
	grid-template-columns: 1.5em auto;
	align-items: center;
}

#user-code-input {
	width: 10em;
}

.unit-grid {
	--unit-grid-columns: 2;
}

@media (max-width: 37.5em) {
	.unit-grid {
		--unit-grid-columns: 1;
	}
}