header {
	position: sticky;
	top: 0;
	z-index: 1;

	padding: 0.5em;
	display: flex;

	box-shadow: 0 0 10px var(--shadow);
	background-color: var(--surface-4);

	white-space: nowrap;
}

header #user-profile-link {
	border-left: 1px solid var(--secondary-text);
	padding-left: 0.5em;
	margin-left: 0.5em;
	text-decoration: none;
}

/* navigation path */
header nav {
	display: flex;
	overflow: auto hidden;
	scrollbar-width: none;
	
	min-width: 0;
	width: 100%;
}

/* home icon */
header > nav > a:first-child {
	flex-shrink: 0;
}

header > nav > a > i {
	margin: 0;
}

/* arrow icons */
header > nav > i  {
	opacity: 0.5;
	margin: 0 0.2em;
	flex-shrink: 0;
}

/* path link elements */
header > nav > a:not(:first-child) {
	overflow: hidden;
	text-overflow: ellipsis;
	flex-shrink: 0;
	/* max-width: 6em; */
}

/* transitions */
main {
	opacity: 1;
	scale: 100%;
	transition: 350ms opacity, 350ms scale;
}

body.unload main {
	opacity: 0;
	scale: 99%;
}

body.unload dialog:not(.message) {
	animation: popup-hide 250ms forwards;
}