header {
	position: sticky;
	top: 0;
	margin: -8px;

	padding: 0.5em;
	display: flex;

	box-shadow: 0 0 10px var(--shadow-color);
	background-color: var(--background-color);

	white-space: nowrap;
}

header #system-title {
	text-decoration: none;
	font-weight: bold;
}

header #user-profile-link {
	text-decoration: none;
	margin-left: auto;
}

header nav {
	overflow: hidden;
	margin-right: 1em;
}

header > nav > span.icon  {
	opacity: 0.5;
	margin: 0;
}