header {
	position: sticky;
	top: 0;
	margin: -8px;
	z-index: 1;

	padding: 0.5em;
	display: flex;

	box-shadow: 0 0 10px var(--shadow-color);
	background-color: var(--background-color);

	white-space: nowrap;
}

header #user-profile-link {
	border-left: 1px solid var(--border-color);
	padding-left: 0.5em;
	text-decoration: none;
}

/* navigation path */
header nav {
	display: flex;
	overflow: auto hidden;
	
	min-width: 0;
	width: 100%;
}

/* home icon */
header > nav > a:first-child {
	flex-shrink: 0;
}

header > nav > a > i {
	margin: 0;
}

/* arrow icons */
header > nav > i  {
	opacity: 0.5;
	margin: 0 0.2em;
	flex-shrink: 0;
}

/* path link elements */
header > nav > a:not(:first-child) {
	overflow: hidden;
	text-overflow: ellipsis;
	/* min-width: 4em; */
}

/* transitions */
@view-transition {
	navigation: auto;
}

:root { view-transition-name: navigation }