header {
	position: sticky;
	top: 0;
	z-index: 10;

	padding: 0.5em;
	display: flex;

	box-shadow: 0 0 10px var(--shadow);
	background-color: var(--surface-4);

	white-space: nowrap;


	& #user-profile-link {
		border-left: 1px solid var(--secondary-text);
		padding-left: 0.5em;
		margin-left: 0.5em;
		text-decoration: none;
	}

	/* navigation path */
	& nav {
		display: flex;
		overflow: auto hidden;
		scrollbar-width: none;
		
		min-width: 0;
		width: 100%;

		/* home icon */
		& > a:first-child {
			flex-shrink: 0;
		}

		& a {
			&#title {
				text-decoration: none;
				margin-left: 0.25em;
			}
			
			& > img {
				height: 1em;
				scale: 1.25;
				translate: 0 0.1em;
			}
			
			& > i {
				margin: 0;
			}
		}

		/* arrow icons */
		& i  {
			opacity: 0.5;
			margin: 0 0.2em;
			flex-shrink: 0;
		}

		/* path link elements */
		& a:not(:first-child) {
			overflow: hidden;
			text-overflow: ellipsis;
			flex-shrink: 0;
			/* max-width: 6em; */
		}
	}
}

/* transitions */
main > * {
	opacity: 1;
	transition: 350ms opacity, 350ms scale;
}

body.unload main > * {
	opacity: 0;
	scale: 99%;
	cursor: wait;
}

body.refresh main > * {
	scale: 99%;
	cursor: wait;
}

body.unload dialog:not(.message) {
	animation: popup-hide 250ms forwards;
}