.signature-container {
	width: 17em;
	height: 6em;
	margin: 1em 0;
	
	background-color: var(--surface-2);
	border-radius: var(--border-radius);
	padding: 1em;
	box-sizing: border-box;
	overflow: hidden;
	transition: background-color 250ms;

	h3 {
		margin: 0;
		margin-bottom: 0.5em;
	}

	p {
		margin: 0;
		overflow: hidden;
	}

	.signature-slider-container {
		width: 15em;
		height: 2em;
		
		border-radius: var(--border-radius);
		background-color: var(--surface-3);
		display: flex;
		align-items: center;
		position: relative;
		touch-action: none;
		transition: background-color 250ms;

		.signature-slider {
			width: 2em;
			height: 2em;
			border-radius: var(--border-radius);
			background-color: var(--surface-4);
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: grab;
			transition: scale 250ms, left 500ms;
			left: clamp(0px, calc(var(--x) - 2em), 13em);
			z-index: 1;

			&:hover {
				scale: 1.05;
			}

			i {
				margin: 0;
				pointer-events: none;
			}

			i::after {
				display: block;	
				content: "arrow_forward";
			}
		}

		p {
			box-sizing: border-box;
			position: absolute;
			text-align: center;
			width: 100%;
			padding-left: 3em;
			user-select: none;
			white-space: nowrap;
			transition: opacity 500ms;
		}

		p.loading-text {
			padding-left: 0;
			padding-right: 3em;
			opacity: 0;
		}
	}
}

.signature-container.dragging {
	.signature-slider {
		scale: 0.95;
		cursor: grabbing;
		transition: scale 250ms;
	}

	p {
		opacity: 0;
	}
}

.signature-container.loading:not(.complete) {
	cursor: progress;
	
	.signature-slider {
		left: 13em;
		pointer-events: none;

		i::after {
			content: "progress_activity";
			animation: spin 1s infinite linear;
		}
	}

	p {
		opacity: 0;
	}

	p.loading-text {
		opacity: 1;
	}
}

.signature-container.complete {
	display: block;
	padding: 0.5em;
	
	padding: 1em;

	background-color: var(--surface-3);

	.signature-slider {
		display: none;
	}

	& > h3 {
		display: none;
	}

	p {
		text-align: left;
		padding: 0;
		position: static
	}

	.signature-slider-container {
		display: none;
	}

	.signature-info {
		animation: fade-in 250ms;
		
		h3 {
			margin-bottom: 0.25em;
		}
	}
}

.signature-container.invalid {
	.signature-slider-container {
		background-color: var(--red-background);
	}
}

.signature-container.disabled {
	.signature-slider-container {
		color: var(--secondary-text);
		cursor: not-allowed;

		.signature-slider {
			pointer-events: none;
		}
	}
}


html:has(.signature-container.dragging) {
	user-select: none;
}