<% layout("/layouts/dialog", {
	scripts: ["unit/member/create"],
	meta: {
		unitID: $.units[0].id
	}
}) %>
<h1>
	<i>person_add</i>
	Tworzenie nowego użytkownika
</h1>
<main>
	<section>
		<form>
			<label for="first-name-input">Imię:</label>
			<input type="text" id="first-name-input" name="firstName" autocomplete="off">

			<label for="last-name-input">Nazwisko:</label>
			<input type="text" id="last-name-input" name="lastName" autocomplete="off">
			
			<label for="unit-select"<%= $.units.length == 1 ? "hidden" : "" %>>Jednostka:</label>
			<select id="unit-select" name="unitID" <%= $.units.length == 1 ? "hidden" : "" %>>
				<% for(const unit of $.units) { %>
					<option
						value="<%= unit.id %>"
						<% if(unit.org) { %>
							data-org="<%= unit.org %>"
						<% } %>
					><%= unit.displayName %></option>
				<% } %>
			</select>

			<label for="org-select">Organizacja:</label>
			<select
				id="org-select"
				name="org"
				<% if($.units.length == 1 && $.units[0].org) { %>
					disabled
				<% } %>
			>
				<% for(const org in Config.orgs) { %>
					<option
						value="<%= org || "" %>"
						<% if(($.units.length == 1 && $.units[0].org == org) || $.orgContext == org) { %>
							selected
						<% } %>
					><%= Config.orgs[org].name %></option>
				<% } %>
			</select>
		</form>
		<% if ($.units.length == 1) { %>
			<p>Użytkownik zostanie dodany do <%= $.units[0].displayName %>.</p>
		<% } %>
		
		<h2>Konto rodzica / opiekuna</h2>
		<% const defaultRole = Config.roles[$.units[0].config.defaultRole] %>
		<form>
			<input type="radio" id="create-parent" name="accessType" value="newParent"
				<% if(defaultRole?.minAge < Config.adultAge) { %>
					checked
				<% } %>
			>
			<label for="create-parent">Utwórz nowe konto dla rodzica / opiekuna</label>

			<input type="radio" id="link-parent" name="accessType" value="linkParent">
			<label for="link-parent">Połącz z istniejącym rodzicem / opiekunem</label>
			
			<input type="radio" id="direct-access" name="accessType" value="direct"
				<% if(defaultRole?.minAge >= Config.adultAge) { %>
					checked
				<% } %>
			>
			<label for="direct-access">Dostęp bezpośredni (bez konta rodzica / opiekuna)</label>
		</form>
		<button api="unit/[unitID]/member/create" class="confirm">
			<i>person_add</i>
			<span>Utwórz użytkownika</span>
		</button>
	</section>
</main>
<hr>
<div class="button-row">
	<button>
		<i>arrow_back</i>
		Anuluj
	</button>
</div>