<% layout("/layouts/dialog") %>
<main>
	<h1>
		<%= $.targetLog.description %>
	</h1>

	<section>
		<h2><%~ icon`assignment` %> Szczegóły</h2>
		<dl>
			<dt>Data</dt>
			<dd><%= datetime.format($.targetLog.time, "dd/MM/yyyy HH:mm:ss") %></dd>
			
			<dt>Użytkownik</dt>
			<dd><a href="/users/<%= $.targetLog.user.id %>"><%= $.targetLog.user.displayName %></a></dd>

			<% if($.targetLog.ip) { %>
				<dt>Adres IP</dt>
				<dd><a href="https://ipinfo.io/<%= $.targetLog.ip %>" target="_blank"><%= $.targetLog.ip %></a></dd>
			<% } %>

			<% if($.targetLog.agent) { %>
				<dt>Agent</dt>
				<dd><%= $.targetLog.agent %></dd>
			<% } %>
		</dl>
	</section>

	<section>
		<h2><%~ icon`explosion` %> Wydarzenie</h2>
		<dl>
			<dt>ID</dt>
			<dd><%= $.targetLog.eventType %></dd>

			<% if($.targetLog.targetUser) { %>
				<dt>Użytkownik</dt>
				<dd><a href="/users/<%= $.targetLog.targetUser.id %>"><%= $.targetLog.targetUser.displayName %></a> (<%= $.targetLog.targetUser.id %>)</dd>
			<% } %>

			<% if($.targetLog.targetUnit) { %>
				<dt>Jednostka</dt>
				<dd><a href="/units/<%= $.targetLog.targetUnit.id %>"><%= $.targetLog.targetUnit.name %></a> (<%= $.targetLog.targetUnit.id %>)</dd>
			<% } %>

			<% if($.targetLog.targetEvent) { %>
				<dt>Akcja</dt>
				<dd><a href="/events/<%= $.targetLog.targetEvent.id %>"><%= $.targetLog.targetEvent.name %></a> (<%= $.targetLog.targetEvent.id %>)</dd>
			<% } %>

			<% if($.targetLog.targetForm) { %>
				<dt>Formularz</dt>
				<dd><a href="/forms/<%= $.targetLog.targetForm.id %>"><%= $.targetLog.targetForm.name %></a> (<%= $.targetLog.targetForm.id %>)</dd>
			<% } %>
		</dl>
	</section>

	<% if($.targetLog.data) { %>
		<section>
			<h2><%~ icon`data_object` %> Dane</h2>
			<pre><%= JSON.stringify($.targetLog.data, null, 2) %></pre>
		</section>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button>
		<%~ icon`arrow_back` %>
		Zamknij
	</button>
</div>