img {
	background-color: var(--surface-3);
	display: block;
	margin: 1em auto;
	border-radius: var(--border-radius);
	width: 10em;
	height: 10em;
	pointer-events: none;
}

.access-code-container {
	text-align: center;
	margin: 1em 0;
}

.access-code {
	background-color: var(--surface-2);
	border-radius: var(--border-radius);

	padding: 0.5em 0;
	margin: auto;
	
	font-size: 1.5em;

	width: 8em;
	font-family: monospace;

	user-select: all;
	cursor: text;
}

.access-code + p {
	font-size: 0.8em;
	margin: 0;
}