h1 {
	font-size: 1.75em;
}

#medical-categories form {
	row-gap: 1em;
	width: 100%;
}

#medical-categories section > form > label {
	grid-column: 1 / -1;
	white-space: normal;
}

#medical-categories input[type=checkbox] + label {
	grid-column: 2 / -1;
}

#medical-categories input[type=checkbox]:checked + label {
	pointer-events: none;
}

#medical-categories section > form > div {
	grid-column: 2 / -1;
	margin-top: -0.5em;
	margin-bottom: 0.5em;
}

#medical-categories section > form > textarea {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
	width: 100%;
}

#medical-categories button {
	max-width: 20em;
}

#medical-categories dialog form {
	row-gap: 0.25em;
	grid-template-columns: 1fr;
}