.user-picker {
	overflow-y: scroll;
	margin-top: 0.5em;
	flex: 1;
}

.user-picker-options {
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	row-gap: 1em;

	border-bottom: 1px solid var(--secondary-text);
	padding-bottom: 0.5em;
}

.user-picker-search {
	display: block;
	margin-right: auto;
	flex-shrink: 1;
}

.user-picker > p {
	text-align: center;
	margin: 2em 0;
}

.user-picker details:not(:first-child) {
	margin-top: 0.5em;
}

.user-picker + button {
	margin-top: 0.5em;
}

.user-picker .entry-header label {
	width: 100%;
}

.user-picker details::details-content {
	margin-left: 0.3em;
	padding-left: 0.7em;
	border-left: 1px solid var(--secondary-text);
}