.user-picker {
	overflow: auto;
	margin-top: 0.5em;
}

.user-picker-options {
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	row-gap: 1em;
}

.user-picker-search {
	display: block;
	margin-right: auto;
	flex-shrink: 1;
}

.user-picker > p {
	text-align: center;
	margin: 2em 0;
}

.user-picker details:not(:first-child) {
	margin-top: 1em
}