#watra-info {
	text-align: center;
	font-size: 0.75em;
	color: var(--text-secondary);
	margin-top: 2em;

	a {
		margin-left: 0.75em;
		padding-left: 0.75em;
		border-left: 1px solid var(--secondary-text);
	}
}