#jednostka-finder .sub-jednostki {
	border: 1px solid var(--border-highlight-color);
	border-radius: var(--border-radius);
	padding: 1em;
}

.sub-jednostki > .jednostka {
	padding: 0;
}

.jednostka:has(> details[open]) {
	grid-column: 1 / -1;
}

.jednostka > details {
	margin-top: 0.5em;
}