<% layout("/layouts/dialog", {
	scripts: ["jednostka/addSubJednostka"],
	meta: {
		jednostkaID: $.targetJednostka.id
	}
}) %>
<h1>Dodawanie jednostki</h1>
<main>
	<h3>Utwórz nową jednostkę</h3>
	<form id="create-jednostka">
		<label for="jednostka-name-input">Nazwa:</label>
		<input
			type="text"
			id="jednostka-name-input"
			name="name"
			autocomplete="off"
			value=""
		>
		<label for="jednostka-type-select">Rodzaj:</label>
		<select id="jednostka-type-select" name="type">
			<% for(const type of $.subJednostkiTypes) { %>
				<option value="<%= type.value %>"><%= Text.capitalise(type.name) %></option>
			<% } %>
		</select>
	</form>
	<button api="jednostka/[jednostkaID]/subJednostka/create" class="confirm">
		<i>add</i>
		Utwórz jednostkę
	</button>
	<% if($.jednostkiForLinking.length) { %>
		<hr>
		<h3>Dodaj istniejącą jednostkę</h3>
		<form id="link-jednostka">
			<% for(const jednostka of $.jednostkiForLinking) { %>
				<input
					type="radio"
					name="subJednostkaID"
					value="<%= jednostka.id %>"
					id="jednostka-<%= jednostka.id %>"
				>
				<label for="jednostka-<%= jednostka.id %>">
					<h4><%= jednostka.displayName %></h4>
					<p>
						<%= jednostka.typeName %>
						(<%= jednostka.upperJednostki.map(j => j.displayName).join(", ") %>)
					</p>
				</label>
			<% } %>
		</form>
		<button api="jednostka/[jednostkaID]/subJednostka/link" class="confirm">
			<i>add</i>
			Dodaj jednostkę
		</button>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button onclick="closeDialog()">
		<i>arrow_back</i>
		Anuluj
	</button>
</div>