<% layout("/layouts/dialog", {
	scripts: ["jednostka/mianowanie"],
	meta: {
		jednostkaID: $.targetJednostka.id
	}
}) %>
<h1>
	<i>add_moderator</i>
	Mianowanie na funkcję
</h1>
<main>
	<% if($.usersForMianowanie.length) { %>
		<h2>Wybierz funkcję</h2>
		<form id="funkcja-select">
			<% for(const [funkcjaLevel, funkcjaName] of $.targetJednostka.getFunkcjaOptions() || []) { %>
				<input type="radio" name="funkcjaType" value="<%= funkcjaLevel %>" id="funkcja-<%= funkcjaLevel %>">
				<label for="funkcja-<%= funkcjaLevel %>"><%= funkcjaName %></label>
			<% } %>
			<input type="radio" name="funkcjaType" value="remove" id="funkcja-remove">
			<label for="funkcja-remove">Usuń z jednostki</label>
		</form>
			
		<h2>Wybierz użytkownika</h2>
		<form id="user-select">
			<% for(const member of $.usersForMianowanie) { %>
				<input type="radio" name="memberID" value="<%= member.id %>" id="user-<%= member.id %>">
				<label for="user-<%= member.id %>"><%= member.displayName %></label>
			<% } %>
		</form>
	<% } else { %>
		<p>Brak użytkowników do mianowania</p>
	<% } %>
</main>
<hr>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<% if($.usersForMianowanie.length) { %>
		<button id="mianowanie-button" api="jednostka/[jednostkaID]/member/[memberID]/mianujNaFunkcję">
			<i>check</i>
			<span>Potwierdź mianowanie</span>
		</button>
	<% } %>
</div>