<% layout("/body", {
	title: $.jednostka.displayName,
	scripts: ["jednostka/page"],
	// styles: ["jednostka/page"],
	meta: {
		jednostkaID: $.jednostka.id
	}
}) %>
<h1 id="jednostka-title"><%= $.jednostka.displayName %></h1>
<p>(<%= $.jednostka.typeName %><% if($.jednostka.upperJednostki?.length > 0) { %>
 w <%= $.jednostka.upperJednostki.map(jednostka => jednostka.displayName).join(", ") %>)
<% } %>)</p>
<hr>
<h2>Ustawienia jednostki</h2>
<div>
	<label for="jednostka-name-input">Nazwa:</label>
	<input type="text" id="jednostka-name-input" autocomplete="off" value="<%= $.jednostka.name || "" %>">
</div>
<div>
	<button id="delete-jednostka-button">Usuń jednostkę</button>
</div>

<hr>
<h2>Użytkownicy w tej jednostce</h2>
<button id="add-user-button" href="/jednostki/<%= $.jednostka.id %>/addMember">Dodaj użytkownika</button>
<div id="jednostka-member-list">
	<ul>
		<% for(const funkcja of $.jednostka.funkcje || []) { %>
			<li>
				<a href="/users/<%= funkcja.user.id %>"><b><%= funkcja.user.displayName %></b></a> (<%= funkcja.displayName %>)
			</li>
		<% } %>
	</ul>
</div>

<% if($.jednostka.type > 0) { %>
	<hr>
	<h2>Pod-jednostki</h2>
	<button id="add-sub-jednostka-button" href="/jednostki/<%= $.jednostka.id %>/addSubJednostka">Dodaj pod-jednostkę</button>
	<div id="sub-jednostka-list">
		<ul>
			<% for(const subJednostka of $.jednostka.subJednostki || []) { %>
				<li>
					<a href="/jednostki/<%= subJednostka.id %>"><b><%= subJednostka.displayName %></b></a>
				</li>
			<% } %>
		</ul>
	</div>
<% } %>