<% layout("/layouts/body", {
	title: $.targetJednostka.displayName,
	scripts: ["jednostka/page"],
	// styles: ["jednostka/page"],
	meta: {
		jednostkaID: $.targetJednostka.id
	}
}) %>
<h1 id="jednostka-title"><%= $.targetJednostka.displayName %></h1>
<% if($.targetJednostka.upperJednostki?.length > 0) { %>
	<p>(<%= $.targetJednostka.typeName %> w <%~ include("/templates/linkList", $.targetJednostka.upperJednostki.map(j => [`/jednostki/${j.id}`, j.displayName])) %>)</p>
<% } %>

<% if($.user.hasPermission($.targetJednostka.PERMISSIONS.MODIFY)) { %>
	<hr>
	<h2>Ustawienia</h2>
	<form>
		<label for="jednostka-name-input">Nazwa:</label>
		<input type="text" id="jednostka-name-input" autocomplete="off" value="<%= $.targetJednostka.name || "" %>" <% $.user.hasPermission($.targetJednostka.PERMISSIONS.MODIFY) ? "" : "disabled" %>>
	</form>

	<% if($.usersForMianowanie?.length > 0) { %>
		<h3>Mianowanie na funkcję</h3>
		<form>
			<label for="mianowanie-user-select">Użytkownik:</label>
			<select id="mianowanie-user-select">
				<option selected hidden></option>
				<% for(const member of $.usersForMianowanie) { %>
					<option value="<%= member.id %>"><%= member.displayName %></option>
				<% } %>
			</select>

			<label for="mianowanie-funkcja-select">Funkcja:</label>
			<select id="mianowanie-funkcja-select">
				<option selected hidden></option>
				<% for(const [funkcjaLevel, funkcjaName] of $.targetJednostka.getFunkcjaOptions() || []) { %>
					<option value="<%= funkcjaLevel %>"><%= funkcjaName %></option>
				<% } %>
				<option disabled></option>
				<option value="remove">(usuń z jednostki)</option>
			</select>

			<button id="mianowanie-button">
				<span class="icon">check</span>
				Potwierdź mianowanie
			</button>
		</form>

		<% if($.user.hasPermission($.targetJednostka.PERMISSIONS.DELETE)) { %>
			<h3>Usuwanie</h3>
			<button id="delete-jednostka-button" class="dangerous">
				<span class="icon">delete</span>
				Usuń jednostkę
			</button>
		<% } %>
	<% } %>
<% } %>

<% if($.targetJednostka.funkcje?.length > 0 || $.user.hasPermission($.targetJednostka.PERMISSIONS.MODIFY)) { %>
	<hr>
	<h2>Użytkownicy</h2>
	<div id="jednostka-member-list" class="unit-grid">
		<% for(const funkcja of $.targetJednostka.funkcje || []) { %>
			<a href="/users/<%= funkcja.user.id %>">
				<h3><%= funkcja.user.displayName %></h3>
				<p>(<%= funkcja.displayName %>)</p>
			</a>
		<% } %>
	</div>
	<% if($.user.hasPermission($.targetJednostka.PERMISSIONS.MODIFY)) { %>
		<button id="create-user-button">
			<span class="icon">person_add</span>
			Dodaj użytkownika
		</button>
	<% } %>
<% } %>

<% if($.targetJednostka.subJednostki?.length > 0 || $.user.hasPermission($.targetJednostka.PERMISSIONS.MODIFY)) { %>
	<hr>
	<h2>Jednostki</h2>
	<div id="sub-jednostka-list" class="unit-grid">
		<% for(const subJednostka of $.targetJednostka.subJednostki || []) { %>
			<% if(!subJednostka) { %>
				<div>(nieznana jednostka)</div>
			<% } else { %>
				<a href="/jednostki/<%= subJednostka.id %>">
					<h3><%= subJednostka.displayName %></h3>
					<p><%= subJednostka.typeName %></p>
				</a>
			<% } %>
		<% } %>
	</div>
	<% if($.user.hasPermission($.targetJednostka.PERMISSIONS.MODIFY)) { %>
		<button id="create-sub-jednostka-button">
			<span class="icon">add</span>
			Dodaj jednostkę
		</button>
	<% } %>
<% } %>