.form-element[contenteditable] {
	display: block;
	border-radius: var(--border-radius);
	transition: padding 250ms, background-color 250ms;
	cursor: text;

	&:focus {
		padding: 0.25em;
		background-color: var(--surface-3);
	}
}