h3 + p {
	margin-top: -1em;
}

h3 span {
	font-size: 0.75em;
	font-style: italic;
}

.sub-unit {
	padding-left: 1em;
	border-left: 1px solid var(--secondary-text);
}

.sub-unit:first-child > h3 {
	margin-top: 0;
}