<% layout("/layouts/body", {
	title: "Strona główna",
	scripts: ["home"],
	styles: ["home"],
	navPath: false,
	user: $.user
}) %>
<h1>System Harcerski</h1>
<p id="greeting">Czuwaj<% if($.user.name.first) { %>, <a href="/users/<%= $.user.id %>"><%= $.user.name.first %></a><% } %>! 👋</p>
<hr>
<h2>
	<i>person</i>
	Twój profil
</h2>
<div class="unit-grid">
	<%~ include("user/templates/userEntry", {
		targetUser: $.user,
		warnings: Array.conditional(
			!$.user.name.first || !$.user.name.last, "Uzupełnij swoje imię i nazwisko",
			!$.user.email || !$.user.phone, "Uzupełnij swój adres e-mail i numer telefonu",
			!$.user.medical.confirmed && $.user.funkcje.length > 0, "Uzupełnij i zatwierdź swoje dane medyczne"
		)
	}) %>
</div>
<% if($.user.funkcje.length > 0) { %>
	<hr>
	<h2>
		<i>groups</i>
		Jednostki
	</h2>
	<div class="unit-grid">
		<% for(const funkcja of $.user.funkcje) { %>
			<%~ include("unit/templates/unitEntry", {
				targetUnit: funkcja.unit
			}) %>
		<% } %>
	</div>
<% } %>
<% if($.user.children.length > 0) { %>
	<hr>
	<h2>
		<i>supervisor_account</i>
		Podopieczni
	</h2>
	<div class="unit-grid">
		<% for(const child of $.user.children) { %>
			<%~ include("user/templates/userEntry", {
				targetUser: child,
				warnings: Array.conditional(
					!child.name.first || !child.name.last, "Uzupełnij imię i nazwisko",
					!child.dateOfBirth, "Uzupełnij datę urodzenia",
					!child.medical.confirmed, "Uzupełnij i zatwierdź dane medyczne"
				)
			}) %>
		<% } %>
	</div>
<% } %>
<% if($.events.length || $.user.hasPermission(Event.PERMISSIONS.CREATE)) { %>
	<hr>
	<h2>
		<i>hiking</i>
		Akcje
	</h2>
	<div class="unit-grid">
		<% for(const event of $.events) { %>
			<%
				const inviteStates = [$.user, ...$.user.children].map(u => event.findUserInvite(u)?.state)
				const approvalState = event.getApprover($.user)?.approved

				if(approvalState === true && !inviteStates.length) continue
			%>
			<%~ include("event/templates/eventEntry", {
				targetEvent: event,
				warnings: Array.conditional(
					inviteStates.includes("pending"), "Oczekiwana odpowiedź",
					approvalState === false, "Oczekiwane zatwierdzenie"
				)
			}) %>
		<% } %>
	</div>
	<% if($.user.hasPermission(Event.PERMISSIONS.CREATE)) { %>
		<button id="create-event-button" opens-dialog="/events/create">
			<i>tour</i>
			<span>Utwórz akcję</span>
		</button>
	<% } %>
<% } %>