<% layout("/layouts/body", {
	title: "Strona główna",
	scripts: ["home"],
	styles: ["home"],
	navPath: false,
	user: $.user
}) %>

<h1>
	<img src="/watra.svg">
	<span>WATRA<span>
</h1>
<% if(globalThis.VERSION) { %>
	<p>Wersja beta <%= globalThis.VERSION %>
<% } %>

<% if(Config.customHTML.length > 0) { %>
	<section>
		<h2>
			<i>news</i>
			Ogłoszenia
		</h2>
		<details<%= Date.now() - $.user.auth.lastLogin < 8000 ? " open" : "" %>>
			<summary>
				<span class="open-text">Otwórz</span>
				<span class="close-text">Zamknij</span>
			</summary>
			<% for(const path of Config.customHTML) { %>
				<article>
					<%~ include(`/custom/${path}`, {user: $.user}) %>
				</article>
			<% } %>
		</details>
	</section>
<% } %>
<% 
	// Load warnings if user can edit their details
	const md = []
	if($.user.hasPermission($.user.PERMISSIONS.EDIT)) {
		md.push(...$.user.missingDetails)
	}
%>
<% if(md.length > 0) { %>
	<article>
		<p><i>info</i> Aby rozpocząć korzystanie z systemu, uzupełnij brakujące dane na swoim profilu poniżej.</p>
	</article>
<% } %>
<% if(md.length > 0) { %>
	<section>
		<h2>
			<i>person</i>
			Twój profil
		</h2>
		<div class="entry-grid medium">
			<%~ include("user/templates/userEntry", {
				targetUser: $.user,
				warnings: (() => {
					return Array.conditional(
						md.includes("name"), "Brak imienia i nazwiska",
						md.includes("contact"), "Brak danych kontaktowych",
						md.includes("dob"), "Brak daty urodzenia",
						md.includes("medical"), "Nie zatwierdzone dane medyczne",
					)
				})() || []
			}) %>
		</div>
	</section>
<% } %>

<% if($.user.roles.length > 0) { %>
	<section>
		<h2>
			<i>groups</i>
			Jednostki
		</h2>
		<div class="entry-grid">
			<% for(const role of $.user.roles) { %>
				<%~ include("unit/templates/unitEntry", {
					targetUnit: role.unit,
					warnings: Array.conditional(
						!role.unit.name, "Ustaw nazwę jednostki"
					)
				}) %>
			<% } %>
		</div>
	</section>
<% } %>

<% if($.user.children.length > 0) { %>
	<section>
		<h2>
			<i>supervisor_account</i>
			Podopieczni
		</h2>
		<div class="entry-grid">
			<% for(const child of $.user.children) { %>
				<% const md = child.missingDetails %>
				<%~ include("user/templates/userEntry", {
					targetUser: child,
					warnings: Array.conditional(
						md.includes("names"), "Brak imienia i nazwiska",
						md.includes("contact"), "Brak danych kontaktowych",
						md.includes("dob"), "Brak daty urodzenia",
						md.includes("medical"), "Nie zatwierdzone dane medyczne"
					)
				}) %>
			<% } %>
		</div>
	</section>
<% } %>

<% if($.events.length) { %>
	<section>
		<h2>
			<i>hiking</i>
			Akcje
		</h2>
		<div class="entry-grid">
			<% for(const event of $.events) { %>
				<%
					const inviteStates = [$.user, ...$.user.children].map(u => event.participants.id(u.id)?.state)
					const approvalState = event.getApprover($.user)?.approved

					if(approvalState === true && !inviteStates.length) continue
				%>
				<%~ include("event/templates/eventEntry", {
					targetEvent: event,
					warnings: Array.conditional(
						inviteStates.includes("pending"), "Oczekiwana odpowiedź",
						approvalState === false, "Oczekiwane zatwierdzenie"
					)
				}) %>
			<% } %>
		</div>
	</section>
<% } %>