html {
	color-scheme: dark;
}

:root {
	--background: #0d2225;
	--text: #E4E0E0;

	--secondary-background: #7CA6AC;
	--secondary-hover-background: #9BBBBF;
	--secondary-text: #0d2225;

	--input-background: #295151;
	--disabled-input-background: #0B1C1E;
	--invalid-input-background: #533;
	--input-text: #E4E0E0;

	--shadow: #000;

	--border: #295151;
	--secondary-border: #0d2225;

	--border-radius: 5px;
}

header {
	--background: #0d2225;
}

::selection {
	--background: #E4E0E0;
	--text: #333;
}

button {
	--text: #0d2225;
	--background: #E9D293;
	--hover-background: #F5EACC;
}

button.dangerous {
	--background: #C96A54;
	--hover-background: #D38573;
}

dialog {
	--background: #0d2225;
	--text: #E4E0E0;
}

dialog.message.success {
	--background: #224444;
}

dialog.message.error {
	--background: #533;
}