html {
	color-scheme: dark;

	--hue: 100deg;
	
	--surface-0: hsl(var(--hue), 5%, 1%);
	--surface-1: hsl(var(--hue), 5%, 10%);
	--surface-2: hsl(var(--hue), 5%, 15%);
	--surface-3: hsl(var(--hue), 10%, 17.5%);
	--surface-4: hsl(var(--hue), 12.5%, 20%);

	--red-background: hsl(0, 40%, 30%);
	--red-text: hsl(0, 95%, 95%);

	--text: hsl(var(--hue), 30%, 90%);
	--secondary-text: hsl(var(--hue), 10%, 50%);
	--shadow: hsl(var(--hue), 5%, 5%);
	
	--border-radius: 5px;
}