/* Simple dark theme */
:root {
	--background-color: #122;
	--background-color-secondary: #333;
	--background-color-disabled: #111;

	--text-color: #fff;

	--shadow-color: #000;

	--border-color: #333;
	--border-highlight-color: #555;

	--disabled-text-color: #aaa;

	--border-radius: 5px;
}

::selection {
	background-color: #ddd;
	color: #333;
}

html {
	color-scheme: dark;
}

button {
	background-color: #383;
	color: #fff;
}

button:hover {
	background-color: #4a4;
}

button.dangerous {
	background-color: #e22;
}

button.dangerous:hover {
	background-color: #e44;
}

dialog.message.success {
	background-color: #353;
}

dialog.message.error {
	background-color: #533;
}