html {
	color-scheme: dark;
}

:root {
	--background: #0f0f16;
	--text: #E4E0E0;

	--secondary-background: #2a2a2f;
	--secondary-hover-background: #4e4c53;
	--secondary-text: #e2e2e2;

	--input-background: #2a2a2f;
	--disabled-input-background: #0b0b11;
	--invalid-input-background: rgb(68, 7, 7);
	--input-text: #E4E0E0;

	--shadow: #000;

	--border: #3d3d49;
	--secondary-border: #100d25;

	--border-radius: 5px;
}

header {
	--background: #111115;
}

::selection {
	--background: #ababab;
	--text: #333;
}

button {
	--text: #0d2225;
	--background: #58caa6;
	--hover-background: #bff4f0;
}

button.dangerous {
	--background: #eb4040;
	--hover-background: #ff7070;
}

dialog {
	--background: #050507;
	--text: #E4E0E0;
}

dialog.message.success {
	--background: #224444;
}

dialog.message.error {
	--background:#440707;
}

p.warning {
	--background:#440707;
}