/* Simple light theme */
:root {
	--background-color: #fff;
	--background-color-secondary: #efefef;
	--background-color-disabled: #fafafa;

	--text-color: #000;

	--shadow-color: #4449;

	--border-color: #888;
	--border-highlight-color: #ccc;

	--disabled-text-color: #aaa;

	--border-radius: 5px;
}

::selection {
	background-color: #888;
	color: #fff;
}

html {
	color-scheme: light;
}

button {
	color: #fff;
	--background-color: #896;
	--hover-background-color: #9a7;
}

button.dangerous {
	--background-color: #e44;
	--hover-background-color: #e66;
}

dialog.message.success {
	background-color: #cec;
}

dialog.message.error {
	background-color: #fcc;
}

input.invalid, select.invalid {
	background-color: #fcc;
}