html {
	color-scheme: light;
}

:root {
	--background: #E4E0E0;
	--text: #0d2225;

	--secondary-background: #F6F4F4;
	--secondary-hover-background: #FFFFFF;
	--secondary-text: #0d2225;

	--input-background: #F6F4F4;
	--disabled-input-background: #DAD2D2;
	--invalid-input-background: #fcc;
	--input-text: #0d2225;

	--shadow: #4449;
	
	--border: #888;
	--secondary-border: #ccc;

	--border-radius: 5px;
}

header {
	--background: #F6F4F4;
}

::selection {
	--background: #888;
	--text: #fff;
}

button {
	--text: #fff;
	--background: #896;
	--hover-background: #9a7;
}

button.dangerous {
	--background: #e44;
	--hover-background: #e66;
}

dialog {
	--background: #efefef;
}

dialog.message.success {
	--background: #adc088;
}

dialog.message.error {
	--background: #c87b7b;
}

p.warning {
	--background: #c87b7b;
}