html {
	color-scheme: light;

	--hue: 100deg;
	
	--surface-0: hsl(var(--hue), 5%, 99%);
	--surface-1: hsl(var(--hue), 10%, 95%);
	--surface-2: hsl(var(--hue), 10%, 90%);
	--surface-3: hsl(var(--hue), 20%, 85%);
	--surface-4: hsl(var(--hue), 20%, 70%);

	--red-background: hsl(0, 50%, 70%);
	--red-text: hsl(0, 80%, 10%);

	--text: hsl(var(--hue), 50%, 10%);
	--secondary-text: hsl(var(--hue), 10%, 50%);
	--shadow: hsla(var(--hue), 20%, 10%, 0.4);
	
	--border-radius: 0.5em;
}