<section id="editor-section">
	<% if($.user.hasPermission($.targetForm.PERMISSIONS.EDIT)) { %>
		<h2><%~ icon`edit` %> Edycja formularza</h2>
		<hr>
	<% } else { %>
		<h2><%~ icon`checklist` %> ...</h2>
	<% } %>
	<div id="form-editor">
		<% for(const element of $.targetForm.elements) { %>
			<%~ include("element", {
				element,
				editable: $.user.hasPermission($.targetForm.PERMISSIONS.EDIT)
			}) %>
		<% } %>
	</div>
	<% if($.user.hasPermission($.targetForm.PERMISSIONS.EDIT)) { %>
		<div class="button-row">
			<button api="form/[formID]/element/add?type=title">
				<%~ icon`text_fields` %>
				<span>Dodaj nagłówek</span>
			</button>
			<button api="form/[formID]/element/add?type=description">
				<%~ icon`format_align_left` %>
				<span>Dodaj opis</span>
			</button>
			<button api="form/[formID]/element/add?type=text">
				<%~ icon`text_fields_alt` %>
				<span>Dodaj pole tekstowe</span>
			</button>
			<button api="form/[formID]/element/add?type=choice" disabled>
				<%~ icon`format_list_bulleted` %>
				<span>Dodaj wybór</span>
			</button>
			<button api="form/[formID]/element/add?type=file" disabled>
				<%~ icon`upload_file` %>
				<span>Dodaj plik</span>
			</button>
			<% if(Config.stripeEnabled) { %>
				<button api="form/[formID]/element/add?type=payment">
					<%~ icon`payments` %>
					<span>Dodaj płatność</span>
				</button>
			<% } %>
		</div>
	<% } %>
</section>