<%
	$.forms ||= $.targetUnit.forms.filter(f => f.unit && $.user.hasPermission(f.PERMISSIONS.ACCESS))
%>
<% if($.forms.length > 0 || ($.targetUnit && $.user.hasPermission($.targetUnit.PERMISSIONS.MANAGE_FORMS))) { %>
	<section>
		<h2>
			<%~ icon`ballot` %>
			Formularze
		</h2>
		<% if($.forms.length > 0) { %>
			<div id="form-list" class="entry-grid">
				<% for(const form of $.forms) { %>
					<%
						const warnings = [];
						if(form.$locals.requiredUserResponses?.length && form.config.enabled) {
							warnings.push("Wymagana odpowiedź")
						}
					%>
					<%~ include("/form/templates/formEntry", {
						targetForm: form,
						warnings
					}) %>
				<% } %>
			</div>
		<% } else { %>
			<p>
				Utwórz formularz, aby zbierać informacje, zgody lub płatności od
				<% if($.targetUnit?.modelName == "Event") { %>
					uczestników akcji.
				<% } else { %>
					członków jednostki.
				<% } %>
			</p>
		<% } %>
		<% if($.targetUnit && $.user.hasPermission($.targetUnit.PERMISSIONS.MANAGE_FORMS)) { %>
			<div class="button-row">
				<button opens-dialog="/forms/create?type=<%= $.targetUnit.modelName %>&id=<%= $.targetUnit.id %>">
					<%~ icon`add` %>
					Utwórz formularz
				</button>
			</div>
		<% } %>
	</section>
<% } %>