<section>
	<h2>
		<%~ icon`assignment` %>
		Odpowiedzi
	</h2>
	<% if($.user.hasPermission($.targetForm.PERMISSIONS.ACCESS_RESPONSES)) { %>
		<article>
			<dl>
				<% if($.counts.required > 0) { %>
					<dt>
						<% if($.targetForm.config.enabled) { %>
							<%~ icon`progress_activity` %> Oczekiwane:
						<% } else { %>
							<%~ icon`question_mark` %> Brakujące:
						<% } %>
					</dt>
					<dd>
						<a href="<%= $.targetForm.unit.rootUrl %>/users?form.<%= $.targetForm.id %>.response=required">
							<%= $.counts.required %>
						</a>
					</dd>
				<% } %>
				<% if($.counts.drafts > 0) { %>
					<dt><%~ icon`edit_note` %> Wersje robocze:</dt>
					<dd>
						<a href="<%= $.targetForm.unit.rootUrl %>/users?form.<%= $.targetForm.id %>.response=draft">
							<%= $.counts.drafts %>
						</a>
					</dd>
				<% } %>
				<dt><%~ icon`check` %> Przesłane:</dt>
				<dd>
					<a href="<%= $.targetForm.unit.rootUrl %>/users?form.<%= $.targetForm.id %>.response=submitted">
						<%= $.counts.submitted %>
					</a>
				</dd>
			</dl>
		</article>
	<% } %>
	<% if($.responses.length) { %>
		<div class="entry-grid">
			<% for(const response of $.responses) { %>
				<a opens-dialog="/forms/<%= $.targetForm.id %>/responses/<%= response.id %>">
					<div class="entry-header">
						<div class="entry-image">
							<% if(response.submitted) { %>
								<%~ icon`assignment` %>
							<% } else { %>
								<%~ icon`edit_note` %>
							<% } %>
						</div>
						<div class="entry-title">
							<h3><%= response.user?.displayName || "Odpowiedź" %></h3>
							<p><%= datetime.format(response.date, "dd/MM/yyyy") %></p>
						</div>
					</div>
					<% if(!response.submitted) { %>
						<%~ include("/templates/entryContent", {
							warnings: ["Odpowiedź nie wysłana"],
						}) %>
					<% } %>
				</a>
			<% } %>
		</div>
	<% } %>
	<% if($.user.hasPermission($.targetForm.PERMISSIONS.RESPOND)) { %>
		<div class="button-row">
			<button id="new-response-button" opens-dialog="/forms/<%= $.targetForm.id %>/responses/new">
				<%~ icon`add` %>
				<span>Nowa odpowiedź</span>
			</button>
		</div>
	<% } %>
</section>