<section>
	<h2>
		<i>assignment</i>
		Odpowiedzi
	</h2>
	<% if($.user.hasPermission($.targetForm.PERMISSIONS.ACCESS_RESPONSES)) { %>
		<article>
			<dl>
				<% if($.counts.required > 0) { %>
					<dt><i class="spin">progress_activity</i> Oczekiwane:</dt>
					<dd><%= $.counts.required %></dd>
				<% } %>
				<% if($.counts.drafts > 0) { %>
					<dt><i>edit_note</i> Wersje robocze:</dt>
					<dd><%= $.counts.drafts %></dd>
				<% } %>
				<dt><i>check_circle</i> Przesłane:</dt>
				<dd><%= $.counts.submitted %></dd>
			</dl>
		</article>
	<% } %>
	<% if($.responses.length) { %>
		<div class="entry-grid">
			<% for(const response of $.responses) { %>
				<a opens-dialog="/forms/<%= $.targetForm.id %>/responses/<%= response.id %>">
					<div class="entry-header">
						<div class="entry-image">
							<% if(response.submitted) { %>
								<i>assignment</i>
							<% } else { %>
								<i>edit_note</i>
							<% } %>
						</div>
						<div class="entry-title">
							<h3><%= response.user?.displayName || "Odpowiedź" %></h3>
							<p><%= datetime.format(response.date, "dd/MM/yyyy") %></p>
						</div>
					</div>
					<% if(!response.submitted) { %>
						<%~ include("/templates/entryContent", {
							warnings: ["Odpowiedź nie wysłana"],
						}) %>
					<% } %>
				</a>
			<% } %>
		</div>
	<% } %>
	<% if($.user.hasPermission($.targetForm.PERMISSIONS.RESPOND)) { %>
		<div class="button-row">
			<button id="new-response-button" opens-dialog="/forms/<%= $.targetForm.id %>/responses/new">
				<i>add</i>
				<span>Nowa odpowiedź</span>
			</button>
		</div>
	<% } %>
</section>