<% $.title ||= "Lista użytkowników" %>
<% layout("/layouts/main", {
	title: $.title,
	styles: ["user/list"],
	scripts: ["user/list"],
	meta: {
		exportName: `${$.targetUnit.displayName}_${$.title}`,
		[$.targetUnit.modelName == "Unit" ? "unitID" : "eventID"]: $.targetUnit.id
	},
	navPath: {
		[$.targetUnit.displayName]: `/${$.targetUnit.modelName == "Unit" ? "units" : "events"}/${$.targetUnit.id}`
	}
}) %>
<h1>
	<%~ icon`person` %>
	<%= $.targetUnit.displayName %> - <%= $.title %>
</h1>

<div class="button-row">
	<button opens-dialog="filter-options"><%~ icon`filter_list` %> Filtruj</button>
	<button opens-dialog="column-options"><%~ icon`view_column` %> Wybierz dane</button>
	<button id="export-button"
		<% if(!$.users.length) { %>
			disabled
		<% } %>
	><%~ icon`download` %> Eksportuj</button>
	<button id="print-button"
		<% if(!$.users.length) { %>
			disabled
		<% } %>
	><%~ icon`print` %> Drukuj</button>
</div>

<dialog id="filter-options">
	<h1><%~ icon`filter_list` %> Filtrowanie użytkowników</h1>
	<main>
		<% for(const category of $.filterCategories) { %>
			<section>
				<% if(category.name) { %>
					<h3>
						<% if(category.icon) { %>
							<%~ icon(category.icon) %>
						<% } %>
						<%= category.name %>
					</h3>
				<% } %>
				<form>
					<% for(const filter of category.filters) { %>
						<label for="<%= filter.id %>-filter"><%= filter.name %></label>
						<% if(filter.type == "number" || filter.type == "age") { %>
							<div class="number-filter">
								<select name="<%= filter.id %>" id="<%= filter.id %>-operation">
									<option value="equal"<% if(filter.value?.[0] == "equal") { %> selected<% } %>>&equals;</option>
									<option value="greater"<% if(filter.value?.[0] == "greater") { %> selected<% } %>>&gt;</option>
									<option value="less"<% if(filter.value?.[0] == "less") { %> selected<% } %>>&lt;</option>
								</select>
								<input
									id="<%= filter.id %>-filter"
									name="<%= filter.id %>"
									type="number"
									placeholder="(wartość)"
									<% if(filter.value?.[1] !== undefined) { %>
										value="<%= filter.value[1] %>"
									<% } %>
									<% if(filter.min !== undefined) { %>
										min="<%= filter.min %>"
									<% } %>
									<% if(filter.max !== undefined) { %>
										max="<%= filter.max %>"
									<% } %>
								>
							</div>
							<% if(filter.type == "age") { %>
								<label for="<%= filter.id %>-date">W dniu</label>
								<input
									id="<%= filter.id %>-date"
									name="<%= filter.id %>"
									type="date"
									min="<%= formatDate(MIN_DATE) %>"
									max="<%= formatDate(MAX_DATE) %>"
									value="<%= formatDate(filter.value?.[2] || $.targetUnit.dates?.start || new Date) %>"
								>
							<% } %>
						<% } else if(filter.type == "select") { %>
							<select id="<%= filter.id %>-filter" name="<%= filter.id %>">
								<% if(filter.options?.length && !filter.default) { %>
									<option value>(wszystkie wartości)</option>
								<% } %>
								<% for(const option of filter.options || []) { %>
									<option value="<%= option.value %>"
										<% if(filter.value == option.value) { %>selected<% } %>
									><%= option.name %></option>
								<% } %>
							</select>
						<% } else if(filter.type == "checkbox") { %>
							<input
								id="<%= filter.id %>-filter"
								name="<%= filter.id %>"
								type="checkbox"
								value="true"
								<% if(filter.value) { %>
									checked
								<% } %>
							>
						<% } %>
					<% } %>
				</form>
			</section>
		<% } %>
	</main>
	<hr>
	<div class="button-row">
		<button><%~ icon`arrow_back` %> Anuluj</button>
		<button id="confirm-filters-button"><%~ icon`check` %> Zastosuj filtry</button>
	</div>
</dialog>

<% if($.filterError) { %>
	<p class="warning"><%~ icon`error` %> <%= $.filterError %></p>
<% } else { %>
	<p>
		<em>Ilość wyników: <%= $.users.length %></em>
	</p>
<% } %>

<dialog id="column-options">
	<h1><%~ icon`view_column` %> Wybieranie danych</h1>
	<main>
		<% for(const category of $.columnCategories) { %>
			<section>
				<% if(category.name) { %>
					<h3>
						<% if(category.icon) { %>
							<%~ icon(category.icon) %>
						<% } %>
						<%= category.name %>
					</h3>
				<% } %>
				<form>
					<% for(const column of category.columns) { %>
						<input
							type="checkbox"
							id="<%= column.id %>-column"
							name="<%= column.id %>"
							<% if(column.selected) { %>
								checked
							<% } %>
						>
						<label for="<%= column.id %>-column">
							<%= column.name %>
						</label>
					<% } %>
				</form>
			</section>
		<% } %>
	</main>
	<hr>
	<div class="button-row">
		<button><%~ icon`arrow_back` %> Anuluj</button>
		<button id="confirm-columns-button"><%~ icon`check` %> Wybierz</button>
	</div>
</dialog>

<section id="user-actions" class="hideable" hidden>
	<p>Wybrano: <span id="user-count">0</span></p>
	<div class="button-row">
		<% if($.targetUnit.modelName == "Event") { %>
			<button opens-dialog="remove-user-from-event"><%~ icon`person_remove` %> Usuń z akcji</button>
			<button opens-dialog="remove-user-participation"><%~ icon`mail_off` %> Cofnij zapis</button>
		<% } %>
	</div>
</section>

<% if($.targetUnit.modelName == "Event") { %>
	<dialog id="remove-user-from-event">
		<h1><%~ icon`person_remove` %> Usuwanie uczestników z akcji</h1>
		<p>Usunąć wybranych uczestników z tej akcji?</p>
		<p>Uczestnicy stracą dostęp do akcji oraz możliwość zapisu.</p>
		<hr>
		<div class="button-row">
			<button><%~ icon`arrow_back` %> Anuluj</button>
			<button class="dangerous" api="event/<%= $.targetUnit.id %>/member/uninvite">
				<%~ icon`person_remove` %> Usuń z akcji
			</button>
		</div>
	</dialog>

	<dialog id="remove-user-participation">
		<h1><%~ icon`mail_off` %> Cofnięcie zapisu</h1>
		<p>Cofnąć zapis wybranych uczestników?</p>
		<p>Jeśli zapisy są otwarte, uczestnicy będą mogli ponownie zapisać się na akcję.</p>
		<hr>
		<div class="button-row">
			<button><%~ icon`arrow_back` %> Anuluj</button>
			<button api="event/<%= $.targetUnit.id %>/member/setParticipation">
				<%~ icon`mail_off` %> Cofnij zapis
			</button>
		</div>
	</dialog>
<% } %>

<section id="table-container">
	<table id="user-table" class="loading">
		<thead>
			<tr>
				<th
					<% if($.targetUnit.modelName != "Event") { %>
						hidden
					<% } %>
				>
					<input type="checkbox" id="select-all-checkbox">
				</th>
				<%
					const displayColumns = $.columnCategories.flatMap(c => c.columns)
					displayColumns.unshift({
						id: "name",
						name: "Imię",
						selected: true,
						sortable: true,
						position: 1
					});
					displayColumns.sort((a, b) => a.position - b.position)
				%>
				<% for(const column of displayColumns) { %>
					<% if(!column.selected) continue %>
					<th>
						<% if(column.sortable) { %>
							<a href="?sort=<%= $.sort.column == column.id && !$.sort.descending ? "^" : "" %><%= column.id %>">
								<%= column.name %>
								<% if($.sort.column == column.id) { %>
									<%~ icon($.sort.descending ? "arrow_drop_down" : "arrow_drop_up") %>
								<% } %>
							</a>
						<% } else { %>
							<%= column.name %>
						<% } %>
					</th>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% for(const user of $.users) { %>
				<tr>
					<td
						<% if($.targetUnit.modelName != "Event") { %>
							hidden
						<% } %>
					>
						<input type="checkbox" name="userIDs" value="<%= user.id %>">
					</td>
					<% for(const column of displayColumns) { %>
						<% if(!column.selected) continue %>
						<td>
							<% if(column.value) { %>
								<%= column.value(user) || "" %>
							<% } else { %>
								<%~ include(`columns/${column.template || column.id}`, {user, column}) %>
							<% } %>
						</td>
					<% } %>
				</tr>
			<% } %>
			<% if(!$.users.length) { %>
				<tr>
					<td></td>
				</tr>
			<% } %>
		</tbody>
	</table>
</section>