<section>
	<h2>
		<i>gavel</i>
		Zatwierdzenie
	</h2>

	<article>
		<% if($.targetEvent.approvalState) { %>
			<p><i>check_circle</i> Akcja zatwierdzona</p>
		<% } else { %>
			<p><i>cancel</i> Akcja nie jest zatwierdzona!</p>
		<% } %>
	</article>

	<% const md = $.targetEvent.missingDetails %>
	<% const warnings = Array.conditional(
		md.includes("name"), "Brak nazwy akcji",
		md.includes("description"), "Brak opisu akcji",
		md.includes("location"), "Brak lokalizacji akcji",
		md.includes("dates"), "Brak daty akcji",
	) %>

	<% if(warnings.length) { %>
		<article class="warning">
			<p>
				<i>warning</i>
				Nie można zatwierdzić akcji z brakującymi szczegółami:
			</p>
			<ul class="warning-list">
				<% for(const warning of warnings) { %>
					<li><%= warning %></li>
				<% } %>
			</ul>
		</article>

	<% } else if($.targetEvent.approvers.length == 0) { %>
		<p class="warning">
			<i>warning</i>
			Brak zatwierdzających
		</p>
		
	<% } else { %>
		<div class="entry-grid medium">
			<% for(const approver of $.targetEvent.approvers || []) { %>
				<div>
					<div class="entry-title">
						<h3><%= approver.role.user.displayName %></h3>
						<p><%= approver.role.displayName %>, <%= approver.role.unit.displayName %></p>
					</div>
					<div class="entry-content">
						<% if(approver.approved) { %>
							<p>
								<i>check</i>Zatwierdzono<br>
								<small><%= datetime.format(approver.approvedAt, "dd-MM-yyyy HH:mm") %></small>
							</p>
						<% } else if($.targetEvent.isPast) { %>
							<p><i>close</i>Nie zatwierdzono</p>
						<% } else if(approver.role.user.id != $.user.id) { %>
							<p><i class="spin">progress_activity</i>Oczekiwane zatwierdzenie...</p>
						<% } %>
					
						<% if(approver.role.user.id == $.user.id && $.user.hasPermission($.targetEvent.PERMISSIONS.APPROVE)) { %>
							<div class="button-row">
								<% if(approver.approved) { %>
									<button api="event/[eventID]/approval/unapprove" class="dangerous">
										<i>undo</i>
										<span>Cofnij zatwierdzenie</span>
									</button>
								<% } else { %>
									<button opens-dialog="/events/<%= $.targetEvent.id %>/approve">
										<i>check</i>
										<span>Zatwierdź</span>
									</button>
								<% } %>
							</div>
						<% } %>
					</div>
				</div>
			<% } %>
		</div>
	<% } %>
</section>