<%
	let startTime = datetime.format($.targetEvent.dates.start, "HH:mm")
	if(startTime == "00:00") startTime = ""

	let endTime = datetime.format($.targetEvent.dates.end, "HH:mm")
	if(endTime == "00:00") endTime = ""
%>
<div>
	<h3>
		<i>calendar_today</i>
		<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) && $.targetEvent.length == 0) { %>
			Data
		<% } else { %>
			Daty
		<% } %>
	</h3>
	<form id="event-dates">
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) || $.targetEvent.dates.start - $.targetEvent.dates.end != 0) { %>
			<label for="event-start-date-input">Od:</label>
		<% } %>
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<div id="event-start-inputs">
				<input
					type="date"
					id="event-start-date-input"
					min="<%= formatDate(MIN_DATE) %>"
					max="<%= formatDate(MAX_DATE) %>"
					<% if($.targetEvent.dates.start) { %>
						value="<%= formatDate($.targetEvent.dates.start) %>"
					<% } %>
					api="event/[eventID]/update/dates"
					name="startDate"
					<% if($.targetEvent.approvalState) { %>
						disabled
					<%- } %>
				>
				<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
					<input
						type="time"
						id="event-start-time-input"
						<% if(startTime) { %>
							value="<%= startTime %>"
						<% } %>
						api="event/[eventID]/update/dates"
						name="startTime"
						<% if($.targetEvent.approvalState) { %>
							disabled
						<%- } %>
					>
				<% } %>
			</div>
		<% } else if(startTime) { %>
			<input
				type="datetime-local"
				value="<%= datetime.format($.targetEvent.dates.start, "yyyy-MM-dd'T'HH:mm") %>"
				disabled
			>
		<% } else { %>
			<input
				type="date"
				value="<%= formatDate($.targetEvent.dates.start) %>"
				disabled
			>
		<% } %>

		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) || $.targetEvent.dates.start - $.targetEvent.dates.end != 0) { %>
			<label for="event-end-date-input">Do:</label>
			<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
				<div id="event-end-inputs">
					<input
						type="date"
						id="event-end-date-input"
						min="<%= formatDate(MIN_DATE) %>"
						max="<%= formatDate(MAX_DATE) %>"
						<% if($.targetEvent.dates.end) { %>
							value="<%= formatDate($.targetEvent.dates.end) %>"
						<% } %>
						api="event/[eventID]/update/dates"
						name="endDate"
						<% if($.targetEvent.approvalState) { %>
							disabled
						<%- } %>
					>
					<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
						<input
							type="time"
							id="event-end-time-input"
							<% if(endTime) { %>
								value="<%= endTime %>"
							<% } %>
							api="event/[eventID]/update/dates"
							name="endTime"
							<% if($.targetEvent.approvalState) { %>
								disabled
							<%- } %>
						>
					<% } %>
				</div>
			<% } else if(endTime) { %>
				<input
					type="datetime-local"
					value="<%= datetime.format($.targetEvent.dates.end, "yyyy-MM-dd'T'HH:mm") %>"
					disabled
				>
			<% } else { %>
				<input
					type="date"
					value="<%= formatDate($.targetEvent.dates.end) %>"
					disabled
				>
			<% } %>
		<% } %>
	</form>
</div>