<section>
	<h2>
		<i>info</i>
		Szczegóły akcji
	</h2>
	<h3>
		<i>assignment</i>
		Opis akcji
	</h3>
	<textarea
		id="event-description-input"
		api="event/[eventID]/update/description"
		name="description"
		placeholder="(brak opisu)"
		<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) || $.targetEvent.approvalState) { %>
			disabled
		<% } %>
	><%= $.targetEvent.description || "" %></textarea>

	<div class="vertical-split">
		<% if($.targetEvent.dates.start || $.targetEvent.dates.end || $.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<%~ include("dateInputs", $) %>
		<% } %>
		<% if($.targetEvent.location || $.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<div>
				<h3>
					<i>distance</i>
					Lokalizacja
				</h3>
				<form>
					<textarea
						type="text"
						id="event-location-input"
						autocomplete="off"
						api="event/[eventID]/update/location"
						name="location"
						placeholder="(brak lokalizacji)"
						<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) || $.targetEvent.approvalState) { %>
							disabled
						<% } %>
					><%= $.targetEvent.location || "" %></textarea>
				</form>
			</div>
		<% } %>
	</div>

	<div class="button-row">
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) && $.targetEvent.approvalState) { %>
			<button id="unlock-editing-button" opens-dialog="edit-event-dialog">
				<i>edit</i>
				Edytuj szczegóły
			</button>
			<dialog id="edit-event-dialog">
				<h1>
					<i>edit</i>
					Edytowanie szczegółów
				</h1>
				<p><b>Akcja jest zatwierdzona</b> - jakakolwiek zmiana do szczegółów lub dokumentów sprawi że akcja będzie wymagała ponownego zatwierdzenia.</p>
				<div class="button-row">
					<button>
						<i>arrow_back</i>
						Anuluj
					</button>
					<button id="confirm-unlock-editing-button">
						<i>edit</i>
						Edytuj
					</button>
				</div>
			</dialog>
		<% } %>
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.DELETE)) { %>
			<button id="delete-event-button" class="dangerous" api="event/[eventID]/delete">
				<i>delete</i>
				Usuń akcję
			</button>
			<dialog id="delete-event-dialog">
				<h1>Trwale usunąć <%= $.targetEvent.displayName %>?</h1>
				<p>Akcja i wszystkie związane z nią dane zostaną trwale usunięte.</p>
				<div class="button-row">
					<button>
						<i>arrow_back</i>
						Anuluj
					</button>
					<button class="dangerous" command>
						<i>delete</i>
						Usuń
					</button>
				</div>
			</dialog>
		<% } %>
	</div>
</section>