<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) || $.targetEvent.description) { %>
	<section>
		<h2>
			<%~ icon`assignment` %>
			Opis
		</h2>
		<article id="event-description">
			<%~ include("/templates/formatting", {
				content: $.targetEvent.description || "(brak opisu)"
			}) %>
		</article>
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<textarea
				id="event-description-input"
				api="event/[eventID]/update/description"
				name="description"
				placeholder="(brak opisu)"
				hidden
			><%= $.targetEvent.description || "" %></textarea>
		<% } %>
		<div class="button-row">
			<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
				<button id="event-description-button">
					<%~ icon`edit` %>
					Edytuj opis
				</button>
			<% } %>
		</div>
	</section>
<% } %>

<div class="vertical-split">
	<% if($.targetEvent.dates.start || $.targetEvent.dates.end || $.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
		<%~ include("dateInputs", $) %>
	<% } %>

	<% if($.targetEvent.location || $.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
		<section>
			<h2>
				<%~ icon`distance` %>
				Lokalizacja
			</h2>
			<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
				<form>
					<textarea
						type="text"
						id="event-location-input"
						autocomplete="off"
						api="event/[eventID]/update/location"
						name="location"
						placeholder="(brak lokalizacji)"
					><%= $.targetEvent.location || "" %></textarea>
				</form>
			<% } else { %>
				<article>
					<%~ include("/templates/formatting", {
						content: $.targetEvent.location || "(brak lokalizacji)"
					}) %>
				</article>
			<% } %>
			<% if($.targetEvent.location) { %>
				<div class="button-row">
					<button href="https://www.google.com/maps/search/<%= encodeURIComponent($.targetEvent.location) %>" target="_blank">
						<%~ icon`navigation` %>
						Nawigacja
					</button>
				</div>
			<% } %>
		</section>
	<% } %>
</div>