<section>
	<h2>
		<%~ icon`article_person` %>
		Kadra
	</h2>
	<% const directParticipants = $.targetEvent.participants.filter(p => !p.originUnit && !$.targetEvent.roles.some(r => r.user.id == p.user.id)) %>
	<% if($.targetEvent.roles?.length > 0 || directParticipants.length > 0) { %>
		<div class="entry-grid">
			<% for(const role of $.targetEvent.roles) { %>
				<% if($.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS) || $.user.hasPermission($.targetEvent.PERMISSIONS.SET_ROLE) || role.hasTag("public")) { %>
					<%~ include("participant", {
						targetUser: role.user,
						description: role.displayName,
						showState: $.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS),
						warnings: Array.conditional(
							$.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS) && !role.user.confirmed, "Niezatwierdzone dane"
						)
					}) %>
				<% } %>
			<% } %>
			<% if($.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS))	 { %>
				<% for(const participant of directParticipants) { %>
					<%~ include("participant", {
						targetUser: participant.user,
						warnings: Array.conditional(
							!participant.user.confirmed, "Niezatwierdzone dane"
						)
					}) %>
				<% } %>
			<% } %>
		</div>
	<% } %>
	<div class="button-row">
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<button opens-dialog="/events/<%= $.targetEvent.id %>/setRole">
				<%~ icon`add_moderator` %>
				<span>Mianuj na funkcję</span>
			</button>
		<% } %>
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)) { %>
			<button opens-dialog="/events/<%= $.targetEvent.id %>/inviteParticipants">
				<%~ icon`person_add` %>
				Zaproś kadrę
			</button>
		<% } %>
	</div>
</section>