<section>
	<h2>
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)) { %>
			<%~ icon`person` %>
			Uczestnicy
		<% } else { %>
			<%~ icon`groups` %>
			Uczestniczące jednostki
		<% } %>
	</h2>

	<% if($.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS) || $.targetEvent.invitedUnits.some(i => $.user.hasPermission(i.unit.PERMISSIONS.MANAGE_INVITES))) { %>
		<a href="/events/<%= $.targetEvent.id %>/users" class="subheading">
			Lista uczestników
			<%~ icon`chevron_right` %>
		</a>
	<% } %>
	
	<div class="button-row">
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)) { %>
			<button opens-dialog="/events/<%= $.targetEvent.id %>/inviteUnits">
				<%~ icon`group_add` %>
				Zaproś jednostki
			</button>
		<% } %>
			
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.EDIT)) { %>
			<button opens-dialog="/events/<%= $.targetEvent.id %>/participationSettings">
				<%~ icon`manage_accounts` %>
				Ustawienia zapisów
			</button>
		<% } %>
	</div>
	<% if(!$.targetEvent.registrationOpen &&
		($.targetEvent.invitedUnits.some(i => $.user.hasPermission(i.unit.PERMISSIONS.MANAGE_INVITES)) || $.user.hasPermission($.targetEvent.PERMISSIONS.EDIT))
	) { %>
		<article>
			<p>
				<%~ icon`person_add_disabled` %>
				<b>Zapisy są wyłączone</b>
			</p>
			<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.EDIT) && !$.targetEvent.isPast) { %>
				<p>Uczestnicy będą mogli zapisać się na akcję po włączeniu zapisów przez komendanta.</p>
				<p>W międzyczasie możesz wybrać uczestników poniżej.</p>
			<% } %>
		</article>
	<% } %>
	<% if($.targetEvent.invitedUnits.length > 0) { %>
		<div class="entry-grid full">
			<% for(const unitInvite of $.targetEvent.invitedUnits || []) { %>
				<%
					if(unitInvite.state == "declined" && !($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT) || $.user.hasPermission(unitInvite.unit.PERMISSIONS.MANAGE_INVITES))) continue
					if(
						unitInvite.state == "pending" &&
						!$.user.hasPermission(unitInvite.unit.PERMISSIONS.MANAGE_INVITES) &&
						!$.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)
					) continue
				%>
				<%~ include("invitedUnit", {unitInvite}) %>
			<% } %>
		</div>
	<% } %>
</section>