<div<%= $.unitInvite.state == "declined" ? " class=\"faded\"" : "" %>>
	<h3><%= $.unitInvite.unit.displayName %></h3>
	<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)) { %>
		<p>
			<% if($.unitInvite.state == "accepted") { %>
				Zaakceptowano zaproszenie <i>check</i>
			<% } else if($.unitInvite.state == "declined") { %>
				Odrzucono zaproszenie <i>cancel</i>
			<% } else if($.unitInvite.state == "pending") { %>
				Oczekiwana odpowiedź... <i class="spin">progress_activity</i>
			<% } %>
		</p>
		<% if($.unitInvite.state == "pending" || $.unitInvite.state == "accepted") { %>
			<button class="dangerous" api="event/[eventID]/unit/<%= $.unitInvite.unit.id %>/uninvite">
				<i>undo</i>
				<span>Cofnij zaproszenie</span>
			</button>
		<% } %>
		<% if($.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES) && $.unitInvite.state != "declined") { %>
			<hr>
		<% } %>
	<% } %>
	<% const invitedParticipants = $.unitInvite.invitedParticipants.filter(p => $.targetEvent.roles.every(r => r.user.id != p.user.id)) %>
	<% if($.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES)) { %>
		<% if($.unitInvite.state == "accepted") { %>
			<p>Dodani uczestnicy: <%= invitedParticipants.length %></p>
			<div class="button-row">
				<button opens-dialog="/units/<%= $.unitInvite.unit.id %>/events/<%= $.targetEvent.id %>/chooseParticipants">
					<i>group_add</i>
					<% if(invitedParticipants.length > 0) { %>
						<span>Edytuj uczestników</span>
					<% } else { %>
						<span>Dodaj uczestników</span>
					<% } %>
				</button>
			</div>
		<% } else if($.unitInvite.state == "pending") { %>
			<p>Oczekujące zaproszenie...</p>
			<div class="button-row">
				<button api="unit/<%= $.unitInvite.unit.id %>/event/[eventID]/invitation/accept">
					<i>check</i>
					<span>Zaakceptuj</span>
				</button>
				<button class="dangerous" api="unit/<%= $.unitInvite.unit.id %>/event/[eventID]/invitation/decline">
					<i>close</i>
					<span>Odrzuć</span>
				</button>
			</div>
		<% } %>
	<% } %>
	<% if(
		invitedParticipants.length &&
		(
			$.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES) || 
			$.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS)
		)
	) { %>
		<div class="entry-grid">
			<% const categories = Object.groupBy(invitedParticipants, p => p.state) %>
			<% for(const state in categories) { %>
				<% for(const invite of categories[state]) { %>
					<%~ include("participant", {targetUser: invite.user, ...$}) %>
				<% } %>
				<hr class="grid-break">
			<% } %>
		</div>
	<% } %>
</div>