<%
	const invitedParticipants = $.unitInvite.state == "accepted" ?
		$.unitInvite.invitedParticipants.filter(p => $.targetEvent.roles.every(r => r.user.id != p.user.id)) :
		[]
%>

<div
	class="
		invited-unit
		<% if($.unitInvite.state == "declined" || 
			($.unitInvite.state == "pending" && $.targetEvent.isPast)
		) { %>
			faded
		<% } %>
	"
>
	<h3><%= $.unitInvite.unit.displayName %></h3>

	<% if($.unitInvite.state != "accepted" && ($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT) || $.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES))) { %>
		<p>
			<% if($.unitInvite.state == "declined") { %>
				<%~ icon`close` %> Odrzucono zaproszenie
			<% } else if($.unitInvite.state == "pending") { %>
				<% if($.targetEvent.isPast) { %>
					<%~ icon`question_mark` %> Brak odpowiedzi
				<% } else { %>
					<%~ icon`progress_activity` %> Zaproszono...
				<% } %>
			<% } %>
		</p>
	<% } %>

	<div class="button-row">
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)) { %>
			<% if(
				($.unitInvite.state == "pending" || $.unitInvite.state == "accepted") &&
				!$.targetEvent.participants.some(p => p.originUnit?.id == $.unitInvite.id && p.state == "accepted")
			) { %>
				<button class="dangerous" api="event/[eventID]/unit/<%= $.unitInvite.unit.id %>/uninvite">
					<%~ icon`undo` %>
					<span>Cofnij zaproszenie</span>
				</button>
			<% } %>
		<% } %>

		<% if($.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES) && !$.targetEvent.isPast) { %>
			<% if($.unitInvite.state == "accepted") { %>
				<button opens-dialog="/units/<%= $.unitInvite.unit.id %>/events/<%= $.targetEvent.id %>/chooseParticipants">
					<%~ icon`group_add` %>
					<% if(invitedParticipants.length > 0) { %>
						<span>Edytuj uczestników</span>
					<% } else { %>
						<span>Dodaj uczestników</span>
					<% } %>
				</button>
			<% } else if($.unitInvite.state == "pending") { %>
				<button opens-dialog="/units/<%= $.unitInvite.unit.id %>/events/<%= $.targetEvent.id %>/chooseParticipants">
					<%~ icon`check` %>
					<span>Zaakceptuj</span>
				</button>
				<% if(!$.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)) { %>
					<button class="dangerous" api="unit/<%= $.unitInvite.unit.id %>/event/[eventID]/invitation/decline">
						<%~ icon`close` %>
						<span>Odrzuć</span>
					</button>
				<% } %>
			<% } %>
		<% } %>
	</div>
		
	<% if(
		invitedParticipants.length &&
		(
			$.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES) || 
			$.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS)
		)
	) { %>
		<%
			const categories = {
				pending: 0,
				accepted: 0,
				declined: 0
			}
			for(const participant of invitedParticipants) {
				categories[participant.state] += 1
			}
		%>
		<dl>
			<% for(const state in categories) { %>
				<% if(categories[state] == 0) continue %>
				<dt>
					<% if(state == "accepted") { %>
						<%~ icon`check` %> Zaakceptowano
					<% } else if(state == "pending") { %>
						<% if($.targetEvent.registrationOpen) { %>
							<%~ icon`progress_activity` %> Oczekiwana odpowiedź
						<% } else { %>
							<%~ icon`question_mark` %> Brak odpowiedzi
						<% } %>
					<% } else if(state == "declined") { %>
						<%~ icon`close` %> Odrzucono
					<% } %>
				</dt>
				<dd><%= categories[state] %></dd>
			<% } %>
		</dl>
	<% } %>
</div>