<% const invitedParticipants = $.unitInvite.state == "accepted" ? $.unitInvite.invitedParticipants.filter(p => $.targetEvent.roles.every(r => r.user.id != p.user.id)) : [] %>

<div
	class="
		invited-unit
		<% if($.unitInvite.state == "declined" || 
			($.unitInvite.state == "pending" && $.targetEvent.isPast)
		) { %>
			faded
		<% } %>
	"
>
	<h3><%= $.unitInvite.unit.displayName %></h3>

	<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT) || $.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES)) { %>
		<p>
			<% if($.unitInvite.state == "accepted") { %>
				<i>check</i> Zaakceptowano zaproszenie
			<% } else if($.unitInvite.state == "declined") { %>
				<i>cancel</i> Odrzucono zaproszenie
			<% } else if($.unitInvite.state == "pending") { %>
				<% if($.targetEvent.isPast) { %>
					<i>help</i> Brak odpowiedzi
				<% } else { %>
					<i class="spin">progress_activity</i> Oczekiwana odpowiedź...
				<% } %>
			<% } %>
		</p>
	<% } %>

	<div class="button-row">
		<% if($.user.hasPermission($.targetEvent.PERMISSIONS.INVITE_PARTICIPANT)) { %>
			<% if($.unitInvite.state == "pending" || $.unitInvite.state == "accepted") { %>
				<button class="dangerous" api="event/[eventID]/unit/<%= $.unitInvite.unit.id %>/uninvite">
					<i>undo</i>
					<span>Cofnij zaproszenie</span>
				</button>
			<% } %>
		<% } %>

		<% if($.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES) && !$.targetEvent.isPast) { %>
			<% if($.unitInvite.state == "accepted") { %>
				<button opens-dialog="/units/<%= $.unitInvite.unit.id %>/events/<%= $.targetEvent.id %>/chooseParticipants">
					<i>group_add</i>
					<% if(invitedParticipants.length > 0) { %>
						<span>Edytuj uczestników</span>
					<% } else { %>
						<span>Dodaj uczestników</span>
					<% } %>
				</button>
			<% } else if($.unitInvite.state == "pending") { %>
				<button api="unit/<%= $.unitInvite.unit.id %>/event/[eventID]/invitation/accept">
					<i>check</i>
					<span>Zaakceptuj</span>
				</button>
				<button class="dangerous" api="unit/<%= $.unitInvite.unit.id %>/event/[eventID]/invitation/decline">
					<i>close</i>
					<span>Odrzuć</span>
				</button>
			<% } %>
		<% } %>
	</div>
		
	<% if(
		invitedParticipants.length &&
		(
			$.user.hasPermission($.unitInvite.unit.PERMISSIONS.MANAGE_INVITES) || 
			$.user.hasPermission($.targetEvent.PERMISSIONS.ACCESS_PARTICIPANTS)
		)
	) { %>
		<hr>
		<div class="entry-grid">
			<%
				const categories = {
					accepted: [],
					pending: [],
					declined: []
				}
				for(const participant of invitedParticipants) {
					categories[participant.state].push(participant)
				}
			%>
			<% for(const state in categories) { %>
				<% if(categories[state].length == 0) continue %>
				<h4>
					<% if(state == "accepted") { %>
						<i>check_circle</i> Zaakceptowano
					<% } else if(state == "pending") { %>
						<% if($.targetEvent.registrationOpen) { %>
							<i class="spin">progress_activity</i> Oczekiwana odpowiedź
						<% } else { %>
							<i>person_add</i> Dodani do akcji
						<% } %>
					<% } else if(state == "declined") { %>
						<i>cancel</i> Odrzucono
					<% } %>
					(<%= categories[state].length %>)
				</h4>
				<% for(const invite of categories[state]) { %>
					<%~ include("participant", {targetUser: invite.user, ...$}) %>
				<% } %>
				<hr class="grid-break">
			<% } %>
		</div>
	<% } %>
</div>