<% layout("/layouts/dialog", {
	scripts: ["wyjazd/create"]
}) %>
<h1>Utwórz wyjazd</h1>
<main>
	<form>
		<label for="wyjazd-name">Nazwa wyjazdu:</label>
		<input type="text" id="wyjazd-name" name="name" autocomplete="off" required>
		<label for="wyjazd-start-date">Data rozpoczęcia:</label>
		<input
			type="date"
			id="wyjazd-start-date"
			name="startDate"
			min="<%= MIN_DATE %>"
			max="<%= MAX_DATE %>"
		>
		<label for="wyjazd-end-date">Data zakończenia:</label>
		<input
			type="date"
			id="wyjazd-end-date"
			name="endDate"
			min="<%= MIN_DATE %>"
			max="<%= MAX_DATE %>"
		>
	</form>
</main>
<hr>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<button api="wyjazd/create">
		<i>check</i>
		Utwórz
	</button>
</div>