<% layout("/layouts/body", {
	title: "Dodawanie uczestników",
	scripts: ["wyjazd/inviteJednostki"],
	styles: ["wyjazd/inviteJednostki"],
	meta: {
		wyjazdID: $.targetWyjazd.id
	},
	navPath: {
		[$.targetWyjazd.displayName]: `/wyjazdy/${$.targetWyjazd.id}`
	}
}) %>
<h1 id="wyjazd-title"><%= $.targetWyjazd.displayName %></h1>

<h2>Jednostki</h2>
<input type="search" placeholder="Wyszukiwanie..." disabled>
<select disabled>
	<option>Rodzaj jednostki...</option>
</select>
<div id="jednostka-finder" class="unit-grid">
	<% function displayJednostka(jednostka, showSubJednostki, inviteOverride=undefined) { %>
		<% if(!jednostka) return %>
		<% const jednostkaInvite = $.targetWyjazd.invitedJednostki.find(i => i.jednostka == jednostka.id) %>
		<div class="jednostka">
			<h3><!--<a href="/jednostki/<%= jednostka.id %>">--><%= jednostka.displayName %><!--</a>--></h3>
			<% if(jednostkaInvite?.state == "accepted") { %>
				<p>Zaakceptowano <i>check</i></p>
			<% } else if(jednostkaInvite?.state == "declined") { %>
				<p>Odrzucono <i>close</i></p>
			<% } else if(jednostkaInvite?.state == "pending") { %>
				<p>Oczekiwana odpowiedź... <i class="spin">progress_activity</i></p>
			<% } %>
			<div class="button-row">
				<% if(inviteOverride === true) { %>
					<button disabled>Zaproszono</button>
				<% } else if(inviteOverride === false) { %>
					<button disabled>Nie zaproszono</button>
				<% } else if(jednostkaInvite?.state == "pending" || jednostkaInvite?.state == "accepted") { %>
					<button class="dangerous" api="wyjazd/[wyjazdID]/jednostka/<%= jednostka.id %>/uninvite">
						<i>undo</i>
						<span>Cofnij zaproszenie</span>
					</button>
				<% } else { %>
					<button api="wyjazd/[wyjazdID]/jednostka/<%= jednostka.id %>/invite">
						<i>group_add</i>
						<span>Zaproś <% if(jednostkaInvite?.state == "declined") { %>ponownie<% } else { %>jednostkę<% } %></span>
					</button>
				<% } %>
			</div>
			<% if(showSubJednostki && jednostka.subJednostki.length) { %>
				<details>
					<summary>Jednostki</summary>
					<div class="sub-jednostki unit-grid">
						<% for(const subJednostka of jednostka.subJednostki) { %>
							<% displayJednostka(
								$.jednostki[subJednostka.id],
								true,
								(inviteOverride === true || jednostkaInvite?.state) ? true : undefined
							) %>
						<% } %>
					</div>
				</details>
			<% } %>
		</div>
	<% } %>

	<% for(const jednostkaID of $.topJednostki) { %>
		<% displayJednostka($.jednostki[jednostkaID], true) %>
	<% } %>
</div>

<% if($.targetWyjazd.invitedJednostki.length) { %>
	<hr>

	<h2>Wysłane zaproszenia</h2>
	<div class="unit-grid">
		<% for(const invite of $.targetWyjazd.invitedJednostki) { %>
			<% displayJednostka($.jednostki[invite.jednostka], false) %>
		<% } %>
	</div>
<% } %>
