<% layout("/layouts/body", {
	title: $.targetWyjazd.displayName,
	scripts: ["wyjazd/page"],
	styles: ["wyjazd/page"],
	meta: {
		wyjazdID: $.targetWyjazd.id
	}
}) %>
<h1 id="wyjazd-title"><%= $.targetWyjazd.displayName %></h1>
<p id="wyjazd-type"><%= $.targetWyjazd.typeName %></p>

<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
	<hr>
	<h2>
		<i>manufacturing</i>
		Ustawienia
	</h2>
	<form>
		<label for="wyjazd-name-input">Nazwa:</label>
		<input
			type="text"
			id="wyjazd-name-input"
			autocomplete="off"
			value="<%= $.targetWyjazd.name || "" %>"
			api="wyjazd/[wyjazdID]/update/name"
			name="name"
			<% $.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY) ? "" : "disabled" %>
		>
	</form>
<% } %>

<h3>
	<i>assignment</i>
	Opis wyjazdu
</h3>
<textarea
	id="wyjazd-description-input"
	api="wyjazd/[wyjazdID]/update/description"
	name="description"
	<% if(!$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
		disabled
	<% } %>
><%= $.targetWyjazd.description || "" %></textarea>

<h3>
	<i>calendar_today</i>
	Daty
</h3>
<form>
	<%
		const minYear = 1800
		const maxYear = Number(datetime.format(new Date, "yyyy")) + 50
	%>
	<label for="wyjazd-name-input">Od:</label>
	<input
		type="datetime-local"
		id="wyjazd-start-date-input"
		min="<%= MIN_DATE %>T00:00"
		max="<%= MAX_DATE %>T00:00"
		<% if($.targetWyjazd.dates.start) { %>
			value="<%= datetime.format($.targetWyjazd.dates.start, "yyyy-MM-ddTHH:mm") %>"
		<% } %>
		api="wyjazd/[wyjazdID]/update/dates"
		name="startDate"
		<% if(!$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
			disabled
		<%- } %>
	>

	<label for="wyjazd-name-input">Do:</label>
	<input
		type="datetime-local"
		id="wyjazd-end-date-input"
		min="<%= MIN_DATE %>T00:00"
		max="<%= MAX_DATE %>T00:00"
		<% if($.targetWyjazd.dates.end) { %>
			value="<%= datetime.format($.targetWyjazd.dates.end, "yyyy-MM-ddTHH:mm") %>"
		<% } %>
		api="wyjazd/[wyjazdID]/update/dates"
		name="endDate"
		<% if(!$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
			disabled
		<%- } %>
	>
</form>

<h3>
	<i>distance</i>
	Lokalizacja
</h3>
<form>
	<label for="wyjazd-location-input">Lokalizacja:</label>
	<input
		type="text"
		id="wyjazd-location-input"
		autocomplete="off"
		value="<%= $.targetWyjazd.location || "" %>"
		api="wyjazd/[wyjazdID]/update/location"
		name="location"
		<% if(!$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
			disabled
		<% } %>
	>
</form>

<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
	<br>
	<button id="delete-wyjazd-button" class="dangerous" api="wyjazd/[wyjazdID]/delete">
		<i>delete</i>
		<span>Usuń wyjazd</span>
	</button>
	<dialog id="delete-wyjazd-dialog">
		<h1>Trwale usunąć <%= $.targetWyjazd.displayName %>?</h1>
		<p>Wyjazd i wszystkie związane z nim dane zostaną trwale usunięte.</p>
		<div class="button-row">
			<button>
				<i>arrow_back</i>
				<span>Anuluj</span>
			</button>
			<button class="dangerous" command>
				<i>delete</i>
				<span>Usuń</span>
			</button>
		</div>
	</dialog>
<% } %>

<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.PARTICIPANT_ACCESS)) { %>
	<% if($.targetWyjazd.funkcje?.length > 0 || $.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
		<hr>
		<h2>
			<i>article_person</i>
			Kadra
		</h2>
		<div id="wyjazd-member-list" class="unit-grid">
			<% for(const funkcja of $.targetWyjazd.funkcje || []) { %>
				<% if(funkcja.type === FunkcjaType.SZEREGOWY && $.targetWyjazd.findUserInvite(funkcja.user)) continue %>
				<a href="/users/<%= funkcja.user.id %>">
					<h3><%= funkcja.user.displayName %></h3>
					<p><%= Text.capitalise(funkcja.displayName) %></p>
				</a>
			<% } %>
		</div>
		<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
			<button opens-dialog="/wyjazdy/<%= $.targetWyjazd.id %>/mianowanie">
				<i>add_moderator</i>
				<span>Mianuj na funkcję</span>
			</button>
		<% } %>
	<% } %>
<% } %>

<% if(
	$.targetWyjazd.invitedJednostki.length > 0 ||
	$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY) ||
	$.targetWyjazd.invitedJednostki.some(i => $.user.hasPermission(i.jednostka.PERMISSIONS.MODIFY))
) { %>
	<hr>
	<h2>
		<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
			Uczestnicy
		<% } else { %>
			Zaproszone jednostki
		<% } %>
	</h2>
	<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
		<button href="/wyjazdy/<%= $.targetWyjazd.id %>/inviteJednostki" class="add-user-button">
			<i>person_add</i>
			<span>Zaproś jednostki</span>
		</button>
	<% } %>
	<% for(const jednostkaInvite of $.targetWyjazd.invitedJednostki || []) { %>
		<%
			if(jednostkaInvite.state == "declined" && !$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) continue
			if(
				jednostkaInvite.state == "pending" &&
				!$.user.hasPermission(jednostkaInvite.jednostka.PERMISSIONS.MODIFY) &&
				!$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)
			) continue
		%>
		<div class="section-unit">
			<h3><%= jednostkaInvite.jednostka.displayName %></h3>
			<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
				<p>
					<% if(jednostkaInvite.state == "accepted") { %>
						Zaakceptowano zaproszenie <i>check</i>
					<% } else if(jednostkaInvite.state == "declined") { %>
						Odrzucono zaproszenie <i>cancel</i>
					<% } else if(jednostkaInvite.state == "pending") { %>
						Oczekiwana odpowiedź... <i class="spin">progress_activity</i>
					<% } %>
				</p>
				<% if(jednostkaInvite.state == "pending" || jednostkaInvite.state == "accepted") { %>
					<button class="dangerous" api="wyjazd/[wyjazdID]/jednostka/<%= jednostkaInvite.jednostka.id %>/uninvite">
						<i>undo</i>
						<span>Cofnij zaproszenie</span>
					</button>
				<% } %>
				<% if($.user.hasPermission(jednostkaInvite.jednostka.PERMISSIONS.MODIFY) && jednostkaInvite.state != "declined") { %>
					<hr>
				<% } %>
			<% } %>
			<% if($.user.hasPermission(jednostkaInvite.jednostka.PERMISSIONS.MODIFY)) { %>
				<% if(jednostkaInvite.state == "accepted") { %>
					<p>Zaproszeni uczestnicy: <%= jednostkaInvite.invitedUsers.length %></p>
					<div class="button-row">
						<button opens-dialog="/wyjazdy/<%= $.targetWyjazd.id %>/chooseParticipants?jednostka=<%= jednostkaInvite.jednostka.id %>">
							<i>group_add</i>
							<% if(jednostkaInvite.invitedUsers.length > 0) { %>
								<span>Edytuj uczestników</span>
							<% } else { %>
								<span>Dodaj uczestników</span>
							<% } %>
						</button>
					</div>
				<% } else if(jednostkaInvite.state == "pending") { %>
					<p>Oczekujące zaproszenie...</p>
					<div class="button-row">
						<button api="jednostka/<%= jednostkaInvite.jednostka.id %>/wyjazd/[wyjazdID]/invitation/accept">
							<i>check</i>
							<span>Zaakceptuj</span>
						</button>
						<button class="dangerous" api="jednostka/<%= jednostkaInvite.jednostka.id %>/wyjazd/[wyjazdID]/invitation/decline">
							<i>close</i>
							<span>Odrzuć</span>
						</button>
					</div>
				<% } %>
			<% } %>
			<% if(
				jednostkaInvite.invitedUsers.length &&
				(
					$.user.hasPermission(jednostkaInvite.jednostka.PERMISSIONS.MODIFY) || 
					$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)
				)
			) { %>
				<div id="jednostka-participants" class="unit-grid">
					<% for(const userInvite of jednostkaInvite.invitedUsers) { %>
						<a href="/users/<%= userInvite.user.id %>">
							<h3><%= userInvite.user.displayName %></h3>
							<p>
								<% if(userInvite.state == "accepted") { %>
									Zaakceptowano <i>check</i>
								<% } else if(userInvite.state == "declined") { %>
									Odrzucono <i>cancel</i>
								<% } else if(userInvite.state == "pending") { %>
									Oczekiwana odpowiedź... <i class="spin">progress_activity</i>
								<% } %>
							</p>
						</a>
					<% } %>
				</div>
			<% } %>
		</div>
	<% } %>
<% } %>

<% if($.approvalParticipants?.length) { %>
	<hr>
	<h2>Uczestnictwo</h2>
	<% for(const userInvite of $.approvalParticipants) { %>
		<div class="section-unit">
			<h3><%= userInvite.user.displayName %></h3>
			<p>
				<% if(userInvite.state == "pending") { %>
					<i>help</i>
					Oczekiwana odpowiedź...
				<% } else if(userInvite.state == "accepted") { %>
					<i>check_circle</i>
					Zgłoszony
				<% } else if(userInvite.state == "declined") { %>
					<i>cancel</i>
					Odrzucono
				<% } %>
			</p>
			<button opens-dialog="/wyjazdy/<%= $.targetWyjazd.id %>/participation?participant=<%= userInvite.user.id %>">
				<% if(userInvite.state == "pending") { %>
					Odpowiedz
				<% } else { %>
					Zmień odpowiedź
				<% } %>
			</button>
		</div>
	<% } %>
<% } %>

<% if(
	$.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY) ||
	$.user.hasPermission($.targetWyjazd.PERMISSIONS.APPROVE)
) { %>
	<hr>
	<h2>Zatwierdzenie</h2>
	<% if($.targetWyjazd.approvalState) { %>
		<p><i>check_circle</i> Wyjazd zatwierdzony</p>
	<% } else { %>
		<p><i>cancel</i> Wyjazd nie jest zatwierdzony!</p>
	<% } %>
	<% if($.targetWyjazd.approvers.length == 0) { %>
		<% if($.targetWyjazd.invitedJednostki.filter(i => i.state == "accepted").length == 0) { %>
			<p>Proces zatwierdzenia wyjazdu można rozpocząć po zaakceptowaniu zaproszenia przez przynajmniej jedną jednostkę</p>
		<% } else { %>
			<p>Wybierz zatwierdzających aby rozpocząć</p>
		<% } %>
	<% } %>
	<% for(const approver of $.targetWyjazd.approvers) { %>
		<div class="section-unit approval-block">
			<h3><%= approver.funkcja.user.displayName %></h3>
			<p><%= Text.capitalise(approver.funkcja.displayName) %>, <%= approver.funkcja.jednostka.displayName %></p>
			<% if(approver.approved) { %>
				<p>
					Zatwierdzono <i>check</i><br>
					<small><%= datetime.format(approver.approvedAt, "dd-MM-yyyy HH:mm") %></small>
				</p>
			<% } else if(approver.funkcja.user.id != $.user.id) { %>
				<p>Oczekiwane zatwierdzenie... <i class="spin">progress_activity</i></p>
			<% } %>
			
			<% if(approver.funkcja.user.id == $.user.id) { %>
				<div class="button-row">
					<% if(approver.approved) { %>
						<button api="wyjazd/[wyjazdID]/approval/unapprove" class="dangerous">
							<i>undo</i>
							<span>Cofnij zatwierdzenie</span>
						</button>
					<% } else { %>
						<button opens-dialog="/wyjazdy/<%= $.targetWyjazd.id %>/approve">
							<i>check</i>
							<span>Zatwierdź</span>
						</button>
					<% } %>
				</div>
			<% } %>
		</div>
	<% } %>
	<% if($.user.hasPermission($.targetWyjazd.PERMISSIONS.MODIFY)) { %>
		<button opens-dialog="/wyjazdy/<%= $.targetWyjazd.id %>/chooseApprovers"><i>person_check</i>Wybierz zatwierdzających</button>
	<% } %>
<% } %>