<% layout("/layouts/dialog", {
	scripts: ["wyjazd/setParticipants"],
	meta: {
		unitID: $.targetUnit.id,
		wyjazdID: $.targetWyjazd.id
	}
}) %>
<h1><%= $.targetUnit.displayName %></h1>
<main>
	<form>
		<input type="checkbox" id="choose-all">
		<label for="choose-all">Wybierz wszystkich</label>
	</form>
	<form id="member-list">
		<% for(const member of $.availableMembers) { %>
			<% const wyjazdParticipant = $.targetInvitation.invitedUsers.find(p => p.user == member.id) %>
			<input
				type="checkbox"
				id="member-<%= member.id %>"
				name="participants"
				value="<%= member.id %>"
				<% if(wyjazdParticipant) { %>
					checked
				<% } else if($.wyjazdFunkcyjni.includes(member.id)) { %>
					disabled
				<% } %>
			>
			<label for="member-<%= member.id %>">
				<%= member.displayName %>
			</label>
		<% } %>
	</form>
</main>
<hr>
<div class="warning">
	<p>Uczestnicy zostaną dodani po potwierdzeniu uczestnictwa. Profile uczestników będą widoczne dla kadry wyjazdu.</p>
</div>
<div class="button-row">
	<button onclick="dialog.close()">
		<i>arrow_back</i>
		Anuluj
	</button>
	<button api="unit/[unitID]/wyjazd/[wyjazdID]/setParticipants">
		<i>check</i>
		Potwierdź uczestników
	</button>
</div>