<% layout("/layouts/body", {
	title: "Wybór uczestników",
	scripts: ["wyjazd/setParticipants"],
	styles: ["wyjazd/setParticipants"],
	meta: {
		jednostkaID: $.targetJednostka.id,
		wyjazdID: $.targetWyjazd.id
	}
}) %>
<h1 id="wyjazd-title"><%= $.targetWyjazd.displayName %> - Wybór uczestników</h1>
<h2><%= $.targetJednostka.displayName %></h2>
<input type="checkbox" id="choose-all">
<label for="choose-all">Wybierz wszystkich</label>
<form id="member-list" class="unit-list">
	<% for(const member of $.availableMembers) { %>
		<% const wyjazdParticipant = $.targetInvitation.invitedUsers.find(p => p.user == member.id) %>
		<div>
			<input
				type="checkbox"
				id="member-<%= member.id %>"
				name="participants"
				value="<%= member.id %>"
				<% if(wyjazdParticipant) { %>
					checked
				<% } else if($.wyjazdFunkcyjni.includes(member.id)) { %>
					disabled
				<% } %>
			>
			<label for="member-<%= member.id %>">
				<h3><%= member.displayName %></h3>
			</label>
		</div>
	<% } %>
</form>
<hr>
<div class="warning">
	<p>Uczestnicy zostaną dodani po potwierdzeniu uczestnictwa. Profile uczestników będą widoczne dla kadry wyjazdu.</p>
</div>
<button api="jednostka/[jednostkaID]/wyjazd/[wyjazdID]/setParticipants">
	<i>check</i>
	<span>Potwierdź uczestników</span>
</button>