<section>
	<h2>
		<%~ icon`medical_information` %>
		Dane medyczne
	</h2>			
	<% if(!$.targetUser.medical.complete) { %>
		<p class="warning">
			<%~ icon`warning` %>
			Brakuje informacji
		</p>
	<% } else if($.targetUser.medical.entries.length == 0) { %>
		<article>
			<p><%= $.targetUser.displayName %> nie ma żadnych wymagań medycznych ani dietetycznych.</p>
		</article>
	<% } else if($.targetUser.confirmed) { %>	
		<div class="entry-grid">
			<% for(const category of $.targetUser.medical.displayCategories()) { %>
				<!-- <h3><%= category.title %></h3> -->
				<% for(const element of category.elements) { %>
					<div>
						<h3><%= element.title %></h3>
						<div class="entry-content">
							<p><%= element.symptoms %></p>
						</div>
					</div>
				<% } %>
			<% } %>
		</div>
	<% } %>

	<% if($.targetUser.medical.entries.length > 0 || $.user.hasPermission($.targetUser.PERMISSIONS.EDIT)) { %>
		<div class="button-row">
			<button href="/users/<%= $.targetUser.id %>/medical">
				<%~ icon`medical_information` %>
				<% if($.user.hasPermission($.targetUser.PERMISSIONS.EDIT)) { %>
					Edytuj dane medyczne
				<% } else { %>
					Szczegóły
				<% } %>
			</button>
		</div>
	<% } %>
</section>