<section>
	<h2>
		<i>supervisor_account</i>
		<% if($.targetUser.age !== null && $.targetUser.age >= Config.adultAge) { %>
			Kontakty alarmowe
		<% } else { %>
			Rodzice / opiekunowie
		<% } %>
	</h2>
	<div id="parent-list" class="entry-grid">
		<% for(const parent of $.targetUser.parents || []) { %>
			<% parent.defaultName = "(rodzic / opiekun)" %>
			<%~ include("/user/templates/userEntry", {targetUser: parent}) %>
		<% } %>
	</div>
	<% if($.user.hasPermission($.targetUser.PERMISSIONS.ADD_PARENT)) { %>
		<button id="add-parent-button" opens-dialog="/users/<%= $.targetUser.id %>/addParent">
			<i>person_add</i>
			<span>Dodaj rodzica / opiekuna</span>
		</button>
	<% } %>
</section>