<%
	$.id ||= "user-picker"
	$.fieldName ||= $.multiple ? "userIDs" : "userID"

	const createFilter = array => user => [...array].hasID(user.id)
	if(Array.isArray($.disabled)) $.disabled = createFilter($.disabled)
	if(Array.isArray($.selected)) $.selected = createFilter($.selected)

	$.graph ||= new Graph({members: $.users})
%>
<div class="user-picker-options" id="<%= $.id %>-options">
	<input
		type="search"
		class="user-picker-search"
		id="<%= $.id %>-search"
		placeholder="Wyszukaj..."
		autocomplete="off"
	>
	<% if($.multiple) { %>
		<div>
			<input type="checkbox" id="<%= $.id %>-choose-all">
			<label for="<%= $.id %>-choose-all">Wybierz wszystkich</label>
		</div>
	<% } %>
</div>

<% function renderNode(node, root) { %>
	<% if(!root) { %>
		<details>
			<summary>
				<h3><%= node.unit?.displayName || "" %></h3>
			</summary>
	<% } %>
	<% if(node.members.length > 0) { %>
		<div class="entry-grid">
			<% for(const member of node.members) { %>
				<div>
					<div class="entry-header">
						<input
							type="<%= $.multiple ? "checkbox" : "radio" %>"
							id="user-<%= member.id %>"
							name="<%= $.fieldName %>"
							value="<%= member.id %>"
							data-org="<%= member.org %>"
							<% if($.disabled && $.disabled(member)) { %>
								disabled
							<% } %>
							<% if($.selected && $.selected(member)) { %>
								checked
							<% } %>
						>
						<label for="user-<%= member.id %>">
							<h3><%= member.displayName || "(użytkownik)" %></h3>
						</label>
					</div>
					<% if(member.description) { %>
						<div class="entry-content">
							<%= member.description %>
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
	<% } %>
	<% for(const subNode of node.subUnits || []) { %>
		<% renderNode(subNode) %>
	<% } %>
	<% if(!root) { %>
		</details>
	<% } %>
<% } %>

<div
	class="user-picker"
	id="<%= $.id %>"
	<% if($.limit) { %>
		data-limit="<%= $.limit %>"
	<% } %>
>
	<% if(!$.graph?.userCount) { %>
		<p class="user-picker-error">Brak użytkowników</p>
	<% } else { %>
		<% renderNode($.graph, true) %>
		<p class="user-picker-error" hidden>Brak wyników</p>
	<% } %>
</div>

<% if($.multiple) { %>
	<p class="user-picker-count" id="<%= $.id %>-count">
		Wybrano:
		<span>0</span>
		<% if($.limit) { %>
			/ <%= $.limit %>
		<% } %>
	</p>
<% } %>