<%
	$.classList ||= []
	if(!Array.isArray($.classList)) $.classList = [$.classList]
%>
<a href="/users/<%= $.targetUser.id %>"<% if($.classList.length) { %> class="<%= $.classList.join(" ") %>"<% } %>>
	<div class="entry-header">
		<div class="entry-image">
			<%~ icon`person` %>
		</div>
		<div class="entry-title">
			<h3><%= $.targetUser.displayName || "(użytkownik)" %></h3>
			<p>
				<% if($.description) { %>
					<%= $.description %>
				<% } else if($.targetUser.roles?.length == 1 && typeof $.targetUser.roles[0] != "string") { %>
					<%= Text.capitalise($.targetUser.roles[0].displayName) %>, <%= $.targetUser.roles[0].unit?.displayName || "(nieznana jednostka)" %>
				<% } %>
			</p>
		</div>
	</div>
	<%~ include("/templates/entryContent", {
		content: $.content,
		warnings: $.warnings
	}) %>
</a>