<a href="/users/<%= $.targetUser.id %>">
	<div class="unit-header">
		<div class="unit-image">
			<i>person</i>
		</div>
		<div class="unit-title">
			<h3><%= $.targetUser.displayName %></h3>
			<p>
				<% if($.description) { %>
					<%= $.description %>
				<% } else if($.targetUser.roles?.length == 1 && typeof $.targetUser.roles[0] != "string") { %>
					<%= Text.capitalise($.targetUser.roles[0].displayName) %>, <%= $.targetUser.roles[0].unit?.displayName || "(nieznana jednostka)" %>
				<% } %>
			</p>
		</div>
	</div>
	<div class="unit-content">
		<% if($.content) { %>
			<p><%= $.content %></p>
		<% } %>
		<% for(const warning of $.warnings || []) { %>
			<p class="warning"><i>warning</i> <%= warning %></p>
		<% } %>
	</div>
</a>