<%
	$.id ||= "user-picker"
	if(Array.isArray($.users)) $.users = {"": $.users}
	if(Array.isArray($.disabled)) $.disabled = user => [...$.disabled].hasID(user.id)
	if(Array.isArray($.selected)) $.selected = user => [...$.selected].hasID(user.id)
%>
<div class="user-picker-options" id="<%= $.id %>-options">
	<input
		type="search"
		class="user-picker-search"
		id="<%= $.id %>-search"
		placeholder="Wyszukaj..."
		autocomplete="off"
	>
	<% if($.multiple) { %>
		<div>
			<input type="checkbox" id="<%= $.id %>-choose-all">
			<label for="<%= $.id %>-choose-all">Wybierz wszystkich</label>
		</div>
	<% } %>
</div>
<div class="user-picker" id="<%= $.id %>">
	<% for(const category in $.users) { %>
		<% if(category) { %>
			<details>
				<summary>
					<h3><%= category %></h3>
				</summary>
		<% } %>
		<div class="entry-grid">
			<% for(const user of $.users[category]) { %>
				<% if($.filter && !$.filter(user)) continue %>
				<div>
					<div class="entry-header">
						<input
							type="<%= $.multiple ? "checkbox" : "radio" %>"
							id="user-<%= user.id %>"
							name="userID"
							value="<%= user.id %>"
							data-org="<%= user.org %>"
							<% if($.disabled && $.disabled(user)) { %>
								disabled
							<% } %>
							<% if($.selected && $.selected(user)) { %>
								checked
							<% } %>
						>
						<label for="user-<%= user.id %>">
							<h3><%= user.displayName || "(użytkownik)" %></h3>
						</label>
					</div>
				</div>
			<% } %>
		</div>
		<% if(category) { %>
			</details>
		<% } %>
	<% } %>
	<% if($.users.length == 0) { %>
		<p class="user-picker-error">Brak użytkowników</p>
	<% } else { %>
		<p class="user-picker-error" hidden>Brak wyników</p>
	<% } %>
</div>