<%
	$.id ||= "unit-picker"
	$.fieldName ||= $.multiple ? "unitIDs" : "unitID"

	const createFilter = array => unit => [...array].hasID(unit.id)
	if(Array.isArray($.disabled)) $.disabled = createFilter($.disabled)
	if(Array.isArray($.selected)) $.selected = createFilter($.selected)

	$.tree ||= new UnitTree({members: $.units})
%>
<div class="unit-picker-options" id="<%= $.id %>-options">
	<% if($.multiple) { %>
		<div>
			<input type="checkbox" id="<%= $.id %>-choose-all">
			<label for="<%= $.id %>-choose-all">Wybierz wszystkie</label>
		</div>
	<% } %>
</div>

<% function renderNode(node, root) { %>
	<% if(!root) { %>
		<details>
			<summary>
				<h3><%= node.unit?.displayName || "" %></h3>
			</summary>
	<% } %>
	<% if(node.unit && (!$.filter || $.filter(node.unit))) { %>
		<div class="entry-grid">
			<div>
				<div class="entry-header">
					<input
						type="<%= $.multiple ? "checkbox" : "radio" %>"
						id="unit-<%= node.unit.id %>"
						name="<%= $.fieldName %>"
						value="<%= node.unit.id %>"
						data-org="<%= node.unit.org %>"
						<% if($.disabled && $.disabled(node.unit)) { %>
							disabled
						<% } %>
						<% if($.selected && $.selected(node.unit)) { %>
							checked
						<% } %>
					>
					<label for="unit-<%= node.unit.id %>">
						<h3><%= node.unit.displayName %></h3>
					</label>
				</div>
			</div>
		</div>
	<% } %>
	<% for(const subNode of node.subUnits || []) { %>
		<% renderNode(subNode) %>
	<% } %>
	<% if(!root) { %>
		</details>
	<% } %>
<% } %>
<div class="unit-picker" id="<%= $.id %>">
	<% renderNode($.tree, true) %>
</div>