<%
	$.classList ||= []
	if(!Array.isArray($.classList)) $.classList = [$.classList]
%>
<a href="/units/<%= $.targetUnit.id %><%= $.org ? `?org=${$.org}` : "" %>"<% if($.classList.length) { %> class="<%= $.classList.join(" ") %>"<% } %>>
	<div class="entry-header">
		<div class="entry-image">
			<i>groups</i>
		</div>
		<div class="entry-title">
			<h3><%= $.targetUnit.displayName %></h3>
			<p>
				<% if($.description) { %>
					<%= $.description %>
				<% } else { %>
					<%= $.targetUnit.typeName %><% if($.targetUnit.upperUnits[0]?.displayName) { %>, <%= $.targetUnit.upperUnits[0]?.displayName %><% } %>
				<% } %>
			</p>
		</div>
	</div>
	<%~ include("/templates/entryContent", {
		content: $.content,
		warnings: $.warnings
	}) %>
</a>