<% layout("/layouts/login", {
	title: "Logowanie",
	scripts: ["login/main"]
}) %>
<h1>Logowanie</h1>
<% if($.savedUsers && $.savedUsers.length > 0) { %>
	<h2>Ostatnie logowania</h2>
	<div class="unit-grid">
		<% for(const user of $.savedUsers) { %>
			<div>
				<h3><%= user.displayName %></h3>
				<div class="button-row">
					<button href="/login/<%= user.id %>">
						<i>login</i>
						<span>Zaloguj</span>
					</button>
					<button href="/logout/full?user=<%= user.id %>" class="dangerous">
						<i>close</i>
						<span>Usuń z listy</span>
					</button>
				</div>
			</div>
		<% } %>
	</div>
	<h2>Nowy użytkownik</h2>
<% } %>
<form>
	<label for="user-code-input">Kod dostępu:</label>
	<input
		type="text"
		id="user-code-input"
		placeholder="0000 0000"
		maxlength="9"
		autocomplete="off"
		inputmode="numeric"
		api="login"
		name="accessCode"
	>
</form>