<% layout("/layouts/login", {
	title: "System Harcerski",
	scripts: ["login/common", "login/main"]
}) %>
<h1>System Harcerski</h1>

<button id="login-button" api="login/getKeys">
	<i>passkey</i>
	Zaloguj
</button>

<% if($.savedUsers && $.savedUsers.length > 0) { %>
	<hr>
	<h2>Ostatnie logowania</h2>
	<div class="unit-grid">
		<% for(const user of $.savedUsers) { %>
			<div>
				<div class="unit-header">
					<div class="unit-image">
						<i>person</i>
					</div>
					<div class="unit-title">
						<h3><%= user.displayName %></h3>
					</div>
				</div>
				<div class="unit-content button-row">
					<button api="login/getKeys?userID=<%= user.id %>">
						<i>login</i>
						<span>Zaloguj</span>
					</button>
					<button api="logout?remove=<%= user.id %>" class="dangerous"<% if(user.auth.keys.length == 0) { %> data-warning<% } %>>
						<i>close</i>
						<span>Usuń z listy</span>
					</button>
				</div>
			</div>
		<% } %>
	</div>
	<% if($.savedUsers.some(user => user.auth.keys.length == 0)) { %>
		<dialog id="full-logout-warning">
			<h1>Usuwasz ostatnią metodę logowania</h1>
			<p>Użytkownik nie posiada kluczy dostępu - po usunięcu z listy, konieczne będzie uzyskanie nowego kodu, aby się zalogować.</p>
			<div class="button-row">
				<button>
					<i>arrow_back</i>
					<span>Anuluj</span>
				</button>
				<button class="dangerous" command>
					<i>delete</i>
					<span>Usuń z listy</span>
				</button>
			</div>
		</dialog>
	<% } %>
<% } %>

<hr>
<h2>Nowy użytkownik</h2>
<form>
	<label for="user-code-input">Kod dostępu:</label>
	<input
		type="text"
		id="user-code-input"
		placeholder="0000 0000"
		maxlength="9"
		autocomplete="off"
		inputmode="numeric"
		api="login/accessCode"
		name="accessCode"
	>
</form>	