<% layout("/layouts/login", {
	title: `WATRA - ${Config.systemTitle || "Logowanie"}`,
	scripts: ["login/common", "login/main"]
}) %>
<h1>
	<img class="watra-logo" src="watra.svg">
	<span>W</span>
	<span>A</span>
	<span>T</span>
	<span>R</span>
	<span>A</span>
</h1>
<% if(Config.systemTitle) { %>
	<h2><%= Config.systemTitle %></h2>
<% } %>

<button id="login-button" class="important" api="login/getKeys">
	<i>passkey</i>
	Zaloguj
</button>

<% if($.savedUsers && $.savedUsers.length > 0) { %>
	<section>
		<h2>
			<i>history</i>
			Ostatnie logowania
		</h2>
		<div class="entry-grid">
			<% for(const user of $.savedUsers) { %>
				<div>
					<div class="entry-header">
						<div class="entry-image">
							<i>person</i>
						</div>
						<div class="entry-title">
							<h3><%= user.displayName %></h3>
						</div>
					</div>
					<div class="entry-content button-row">
						<button api="login/getKeys?userID=<%= user.id %>" class="important">
							<i>login</i>
							<span>Zaloguj</span>
						</button>
						<button api="logout?remove=<%= user.id %>" class="dangerous"<% if(user.auth.keys.length == 0) { %> data-warning<% } %>>
							<i>close</i>
							<span>Usuń z listy</span>
						</button>
					</div>
				</div>
			<% } %>
		</div>
	</section>
	<% if($.savedUsers.some(user => user.auth.keys.length == 0)) { %>
		<dialog id="full-logout-warning">
			<h1>Usuwasz ostatnią metodę logowania</h1>
			<p>Użytkownik nie posiada kluczy dostępu - po usunięcu z listy, konieczne będzie uzyskanie nowego kodu, aby się zalogować.</p>
			<div class="button-row">
				<button>
					<i>arrow_back</i>
					Anuluj
				</button>
				<button class="dangerous" command>
					<i>delete</i>
					Usuń z listy
				</button>
			</div>
		</dialog>
	<% } %>
<% } %>

<section>
	<h2>
		<i>person_add</i>
		Nowy użytkownik
	</h2>
	<form>
		<label for="access-code-input">Kod rejestracyjny:</label>
		<input
			type="text"
			id="access-code-input"
			placeholder="0000 0000"
			value="<%= $.accessCode || "" %>"
			maxlength="9"
			autocomplete="off"
			inputmode="numeric"
			api="login/accessCode"
			name="accessCode"
		>
	</form>	
</section>

<% if(Config.contactEmail) { %>
	<hr>
	<p>Problemy z logowaniem? Skontaktuj się <b><a href="mailto:<%= Config.contactEmail %>"><%= Config.contactEmail %></a></b></p>
<% } %>